.page-with-sidebar {
  padding-left: 220px;
}

.page-with-sidebar > h3 {
  margin-left: 220px;
  margin-top: 20px;
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
}
.col-12 h3 {
  margin-bottom: 20px !important;
  margin-top: 20px !important;
}

.sidenav {
  width: 200px;
  position: fixed;
  z-index: 1;
  left: 10px;
  overflow-x: hidden;
  padding: 8px 0;
  max-height: calc(100vh - 180px) !important;
  overflow-y: hidden;
}

.main {
  margin-left: 220px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.scrollDiv {
  max-height: calc(100vh - 238px);
  overflow: auto;
}

.counter {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #bbb;
}
.number-box {
  width: 30% !important;
  max-width: 30% !important;
  display: flex;
  flex-direction: column;
}
span {
  font-size: 15px;
  margin-bottom: 30px;
  text-align: center;
}

span.number {
  font-size: 30px;
  color: #eb9c08;
  margin-bottom: 0 !important;
  margin-top: 10px;
}

@media (min-width: 992px) {
  .scrollDiv {
    max-height: calc(100vh - 190px);
  }
}

.ds-item {
  border: 1px solid #ddd;
  margin-top: -1px;
  padding: 12px 12px 12px 12px;
  -webkit-transition: border 0.1s ease-in-out 0s;
  -o-transition: border 0.1s ease-in-out 0s;
  transition: border 0.1s ease-in-out 0s;
  position: relative;
}

.ds-item:hover {
  border-color: #343a40;
  z-index: 1;
}

.ds-item .ds-picture > img,
.ds-item .ds-picture > .img {
  width: 60px;
  height: 60px;
  float: left;
  border: 2px solid #fff;
  vertical-align: middle;
  position: absolute;
  display: block;
  z-index: 1;
  cursor: auto;
}

.ds-item .ds-picture {
  padding-right: 10px;
}

.ds-heading {
  display: inline;
}

.ds-body {
  margin-left: 15px;
}

.ds-body .text {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 72px;
  transition: 0.5s all;
  transition-delay: 5s;
}

.ds-body .text:hover {
  /*overflow: visible;*/
  height: auto;
  transition-delay: 1s;
}

.popover.ds-popover {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.container-checkbox {
  align-items: center;
  display: flex;
  position: relative;

  -ms-flex: 0 0 84px;
  flex: 0 0 84px;
}

.box-checkbox {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.container-picture {
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;
}
