@import url('ngx-datatable.css');
@import url('button-toggle.css');

/* top navbar: force bg-dark */
.navbar {
    background-color: #343a40 !important;
    padding-bottom: 0px;
    padding-top: 0px;
}

.navbar .navbar-brand {
    margin-right: 40px;
}

.navbar .navbar-brand img {
    height: 48px;
}

.navbar .navbar-brand .project-title {
    /*font-family: 'Manjari Bold';*/
    font-family: 'Roboto Condensed';
    top: 9px;
    position: relative;
    font-size: large;
}

/*.navbar .navbar-nav .nav-item a.active,
.navbar .navbar-nav .nav-item a:hover{
    border: 1px solid #ddd;
}*/

.navbar .navbar-brand,
.navbar .navbar-brand:hover {
    color: #fff;
}

.navbar .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

.navbar .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
}

.navbar .navbar-nav .nav-link.active {
    color: #fff;
}

/* popover and confirmation  */
.popover .card {
    border: none !important;
    text-align: start !important;
}
.popover .card .card-body {
    padding: 0 !important;
}

.click-event {
    cursor: pointer;
}

.btn:focus, .btn:active,
.form-control:focus,
.btn-reset:focus, .btn-reset:active {
    outline: none !important;
    box-shadow: none;
}

/* no results */
.no-results {
    background-color: #f8f8f8;
    border: 1px dashed #ccc;
    margin-bottom: 2rem;
    padding: 1.6rem;

    margin-left: 5.5%;
    float: none;
    width: 80%;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

ul {
    list-style-type: none;
}

dl.request-summary {
    padding: 0px 40px;

}

dl.request-summary p {
    white-space: normal;
    margin-left: 1.3em;
}

dl.request-summary p:before {
    content: "\f00c"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}

dl.request-summary p:not(:last-child) {
    margin-bottom: 0;
}

.comma-list {
    display: inline;
    list-style: none;
    padding: 0px;
}

.comma-list li {
    display: inline;
}

.comma-list li::after {
    content: ", ";
}

.comma-list li:last-child::after {
    content: "";
}

.btn-reset {
    background: transparent;
    padding: 0;
    border: 0;
    width: 100%;
}

.mst--input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ddd;
    min-width: 90px;
    position: relative;
    text-align: left;
}

.mst--input-error {
    border-bottom-color: #ff4600 !important;
}

.mst--input-error-msg {
    color: #ff4600;
    font-size: small;
    clear: both;
    display: inline-block;
    width: 100%;
}

input[type="radio"]:focus,
.mst--input:focus {
    outline: none;
}

.input-group-append {
    align-items: center;
    border-bottom: 1px solid #ddd;
    justify-content: flex-end;
}

.mst--radio-label {
    font-weight: 400;
    margin-left: 15px;
}

.mst--radio-label:before {
    background: #fff;
    border: 2px solid #707070;
    width: 20px;
    height: 20px;
}

.mst--radio-label:after {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 4px;
    background: transparent;
}

input[type="radio"]:checked + .mst--radio-label:before {
    border: 2px solid #53b8e2 !important;
    background: #fff;
}

input[type="radio"]:checked + .mst--radio-label:after {
    background: #53b8e2 !important;;
}

.mst--input-checkbox {
    opacity: 0;
    position: absolute;
}

.mst--input-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    margin: 6px 0 0 12px;
}

.mst--input-checkbox + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid #707070;
    vertical-align: sub;
}

.mst--input-checkbox:hover + label:before {
    background: #fff;
}

.mst--input-checkbox:disabled + label:before {
    box-shadow: none;
    background: #f7f7f7;
}

.mst--input-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 11px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
}

.mst--input-checkbox:checked + label:before {
    background: #53b8e2;
    border: 2px solid #53b8e2;
}

.mst--expansion-panel {
    border-radius: 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.18);
    margin: 20px 30px;
}

.mst--expansion-panel.mst--info-panel {
    margin-top: 0;
}

/*.mst--expansion-panel:first-child {*/
/*    margin-top: 0;*/
/*}*/

/*.mst--expansion-panel:last-child {*/
/*    margin-bottom: 0;*/
/*}*/

.mst--expansion-panel .card-header {
    background: #fff;
    border: 0;
    padding: 10px 25px;
}

.mst--expansion-panel .card-header h5 {
    display: inline;
}

.mst--expansion-panel .card-header .info-help {
    color: #707070;
    padding-left: 5px;
}

.mst--expansion-panel .card-header .btn-link {
    border: 0;
    color: #333;
    padding: 5px 0;
    overflow: hidden;
    text-align: left;
    width: 100%;
}

.mst--expansion-panel .card-header .btn-link:hover, .imc--expansion-panel .card-header .btn-link:focus {
    text-decoration: none;
    outline: none;
    border: 0;
}

.mst--expansion-panel .card-body {
    padding-top: 0;
    margin: 0;
}

.mst--expansion-panel .card-body h5 {
    font-size: 16px;
}

.mst--expansion-panel .card-body strong {
    color: #333;
}

.mst--expansion-panel .card-body ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mst--expansion-panel .card-body .list-space li {
    margin: 8px 0;
}

.mst--list-filter {
    max-height: 330px;
    overflow: auto;
    margin-bottom: 10px !important;
}

.mst--list-columns {
    columns: 400px 2;
    -webkit-columns: 400px 2;
    -moz-columns: 400px 2;
}


.btn-default {
    border-color: #ccc;
}

.tab-content .choice {
    text-align: center;
    cursor: pointer;
    margin-top: 38px;
}

.tab-content .choice i {
    font-size: 32px;
    line-height: 55px;
}

.btn-radio {
    width: 100%;
}

.img-radio {
    opacity: 0.8;
    margin-bottom: 5px;
}

.space-20 {
    margin-top: 20px;
}

.board {
    /*width: 75%;*/
    /*margin: 30px auto;*/
    /*height: 500px;*/
    background: #fff;
    /*box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
}
.board .nav-tabs {
    position: relative;
    /*margin: 40px auto;*/
    margin-bottom: 0;
    box-sizing: border-box;
}

div.board + pre {
  background: #ddd;
}

/* Custom ngx-datatable styles */
/* --------------------------- */
.ngx-datatable .datatable-body .datatable-row-detail {
    background: #f5f5f5;
    padding: 10px;
    margin: 2px 0px;
}

.ngx-datatable .datatable-body .datatable-scroll {
    width: 100% !important;
}

.ngx-datatable .datatable-body-row:hover {
    background-color: #eee;
    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: linear;
}

.ngx-datatable .datatable-footer {
    height: 50px;
    border-top: 1px solid #BBB;
    font-size: 1.1em;
    font-weight: 400;
    margin-top: 20px;
}

.ngx-datatable .datatable-footer ul.pagination {
    margin-bottom: 0px !important;
}

/* style my-requests sidebar */
.sidenav .nav-tabs {
    border-bottom: none;
}

.sidenav .nav-tabs .nav-link {
    border: solid transparent;
    border-width: 1px 1px 1px 0;
    -webkit-border-radius: 0 16px 16px 0;
    border-radius: 0 16px 16px 0;
    font-weight: 600;
    color: #5f6368;
}

.sidenav .nav-tabs .nav-link:hover {
    background-color: rgba(0, 0, 0, .04);
}

.sidenav .nav-tabs .nav-link.active {
    background-color: #e8f0fe;
    color: #1967d2;
}
