/* add the ion-range-slider style and skin css */
@import url('ion-rangeslider/css/ion.rangeSlider.css');
@import url('ion-rangeslider/css/ion.rangeSlider.skinFlat.css');

/* add leaflet and leaflet-draw css */
@import url('leaflet/dist/leaflet.css');
@import url('leaflet-draw/dist/leaflet.draw.css');

@import url('custom-irc.css');

@import url('button-toggle.css');
@import url('weather-icons.css');

/* customize container width */
@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1400px;
  }
}
@media (max-width: 991.98px)  {
  .container, .container-md, .container-sm {
      max-width: none;
  }
}

.footer {
/*    background-color: #343a40 !important;*/
/*    margin-top: 16px;*/
    color: rgba(255, 255, 255, 0.5);
/*    
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 0px;
*/

}

/* top navbar: force bg-dark */
.navbar {
    background-color: #343a40 !important;
    padding-bottom: 0px;
    padding-top: 0px;
}

.navbar .navbar-brand {
    margin-right: 40px;
}

.navbar .navbar-brand img {
    height: 48px;
}

.navbar .navbar-brand .project-title {
    /*font-family: 'Manjari Bold';*/
    font-family: 'Roboto Condensed';
    top: 9px;
    position: relative;
    font-size: large;
}

/*.navbar .navbar-nav .nav-item a.active,
.navbar .navbar-nav .nav-item a:hover{
    border: 1px solid #ddd;
}*/

.navbar .navbar-brand,
.navbar .navbar-brand:hover {
    color: #fff;
}

.navbar .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

.navbar .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
}

.navbar .navbar-nav .nav-link.active {
    color: #fff;
}

[hidden] {
  display: none !important;
}

/* popover and confirmation  */
.popover .card {
    border: none !important;
    text-align: start !important;
}
.popover .card .card-body {
    padding: 0 !important;
}

.hr {
  display: block;
  height: 0;
  overflow: hidden;
  font-size: 0;
  border-width: 1px 0 0 0;
  border-top: 1px solid #E3E3E3;
  margin: 12px 0;
  border-top-color: rgba(0, 0, 0, .11)
}
.hr.dotted, .hr-dotted { border-style: dotted }
.hr-24, .hr24 { margin: 24px 0 }

.click-event {
    cursor: pointer;
}

.info-fulltext .tooltip-inner {
    text-align: left;
    font-size: small;
}

.btn:focus, .btn:active,
.form-control:focus,
.btn-reset:focus, .btn-reset:active {
    outline: none !important;
    box-shadow: none;
}

/* no results */
.no-results {
    background-color: #f8f8f8;
    border: 1px dashed #ccc;
    margin-bottom: 2rem;
    margin-left: 5.5%;
    float: none;
    width: 80%;
    padding: 1.6rem 1.5%;
}

/* Disable box-shadow in Firefox for invalid input fields */
:invalid {
  box-shadow: none;
}

:-moz-submit-invalid {
  box-shadow: none;
}

:-moz-ui-invalid {
  box-shadow:none;
}

ul {
    list-style-type: none;
}

dl.request-summary {
    padding: 0px 40px;
}

dl.request-summary p {
    white-space: normal;
    margin-left: 1.3em;
}

dl.request-summary p:before {
    content: "\f00c"; /* FontAwesome Unicode */
    font-family: 'Font Awesome\ 5 Free';
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}

dl.request-summary p:not(:last-child) {
    margin-bottom: 0;
}

.comma-list {
    display: inline;
    list-style: none;
    padding: 0px;
}

.comma-list li {
    display: inline;
}

.comma-list li::after {
    content: ", ";
}

.comma-list li:last-child::after {
    content: "";
}

.btn-reset {
    background: transparent;
    padding: 0;
    border: 0;
    width: 100%;
}

.mst--data-attribution {
    font-size: 11px;
    background: rgba(255,255,255,.7);
    margin: 0;
    padding: 0 5px;
    color: #333;
    cursor: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 800;
}

.mst--input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ddd;
    min-width: 90px;
    position: relative;
    text-align: left;
}

.mst--input-error {
    border-bottom-color: #ff4600 !important;
}

.mst--input-error-msg {
    color: #ff4600;
    font-size: small;
    clear: both;
    display: inline-block;
    width: 100%;
}

input[type="radio"]:focus,
.mst--input:focus {
    outline: none;
}

.input-group-append {
    align-items: center;
    border-bottom: 1px solid #ddd;
    justify-content: flex-end;
}

.mst--radio-label {
    position: relative;
    font-weight: 400;
    margin-left: 15px;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mst--radio-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkradio {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

.mst--radio-label:hover input ~ .checkradio {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.mst--radio-label input:checked ~ .checkradio {
  background-color: #53b8e2;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkradio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.mst--radio-label input:checked ~ .checkradio:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.mst--radio-label .checkradio:after {
    top: 7.2px;
    left: 7.2px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
}

.mst--radio-label:before {
    background: #fff;
    border: 2px solid #707070;
    width: 20px;
    height: 20px;
}

.mst--radio-label:after {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 4px;
    background: transparent;
}

input[type="radio"]:checked + .mst--radio-label:before {
    border: 2px solid #53b8e2 !important;
    background: #fff;
}

input[type="radio"]:checked + .mst--radio-label:after {
    background: #53b8e2 !important;;
}

.mst--input-checkbox {
    opacity: 0;
    position: absolute;
}

.mst--input-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    margin: 6px 0 0 12px;
}

.mst--input-checkbox + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid #707070;
    vertical-align: sub;
}

.mst--input-checkbox:hover + label:before {
    background: #fff;
}

.mst--input-checkbox:disabled + label:before {
    box-shadow: none;
    background: #f7f7f7;
    border: 2px solid #f0f0f0;
}

.mst--input-checkbox:disabled + label {
    color: #A9A9A9;
    cursor: auto;
}

.mst--input-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 11px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
}

.mst--input-checkbox:checked + label:before {
    background: #53b8e2;
    border: 2px solid #53b8e2;
}

.mst--expansion-panel {
    border-radius: 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.18);
    margin: 20px 30px;
}

.mst--expansion-panel.mst--info-panel {
    margin-top: 0;
}

/*.mst--expansion-panel:first-child {*/
/*    margin-top: 0;*/
/*}*/

/*.mst--expansion-panel:last-child {*/
/*    margin-bottom: 0;*/
/*}*/

.mst--expansion-panel .card-header {
    background: #fff;
    border: 0;
    padding: 10px 25px;
}

.mst--expansion-panel .card-header h5 {
    display: inline;
}

.mst--expansion-panel .card-header .info-help {
    color: #707070;
    padding-left: 5px;
}

.mst--expansion-panel .card-header .btn-link {
    border: 0;
    color: #333;
    padding: 5px 0;
    overflow: hidden;
    text-align: left;
    width: 100%;
}

.mst--expansion-panel .card-header .btn-link:hover, .imc--expansion-panel .card-header .btn-link:focus {
    text-decoration: none;
    outline: none;
    border: 0;
}

.mst--expansion-panel .card-body {
    padding-top: 0;
    margin: 0;
}

.mst--expansion-panel .card-body h5 {
    font-size: 16px;
}

.mst--expansion-panel .card-body strong {
    color: #333;
}

.mst--expansion-panel .card-body ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mst--expansion-panel .card-body .list-space li {
    margin: 8px 0;
}

.mst--list-filter {
    max-height: 330px;
    overflow: auto;
    margin-bottom: 10px !important;
}

.mst--list-columns {
    columns: 400px 2;
    -webkit-columns: 400px 2;
    -moz-columns: 400px 2;
}


.btn-default {
    border-color: #ccc;
}

.tab-content .choice {
    text-align: center;
    cursor: pointer;
    margin-top: 38px;
}

.tab-content .choice i {
    font-size: 32px;
    line-height: 55px;
}

.btn-radio {
    width: 100%;
}

.img-radio {
    opacity: 0.8;
    margin-bottom: 5px;
}

.space-10 {
    margin-top: 10px;
}
.space-20 {
    margin-top: 20px;
}

.board {
    /*width: 75%;*/
    /*margin: 30px auto;*/
    /*height: 500px;*/
    background: #fff;
    /*box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
}
.board .nav-tabs {
    position: relative;
    /*margin: 40px auto;*/
    margin-bottom: 0;
    box-sizing: border-box;
}

div.board + pre {
  background: #ddd;
}

/* Custom ngx-datatable styles */
/* --------------------------- */
.ngx-datatable .datatable-body .datatable-row-detail {
    background: #d1d4d7; /*#f5f5f5;*/
    padding: 10px;
    margin: 2px 0px;
}

.ngx-datatable .datatable-body .datatable-scroll {
    width: 100% !important;
}

/* style my-requests sidebar */
.sidenav .nav-tabs,
.sidenav .nav-pills {
    border-bottom: none;
}

.sidenav .nav-tabs .nav-link,
.sidenav .nav-pills .nav-link {
    border: solid transparent;
    border-width: 1px 1px 1px 0;
    -webkit-border-radius: 0 16px 16px 0;
    border-radius: 0 16px 16px 0;
    font-weight: 600;
    color: #5f6368;
}

.sidenav .nav-tabs .nav-link:hover,
.sidenav .nav-pills .nav-link:hover{
    background-color: rgba(0, 0, 0, .04);
}

.sidenav .nav-tabs .nav-link.active,
.sidenav .nav-pills .nav-link.active {
    background-color: #e8f0fe;
    color: #1967d2;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/*input.ng-invalid {
  border-color: red !important;
  border-style: solid;
}*/

/* the following fix flickering issues with map carousel */
.carousel-inner .carousel-item {
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  position: absolute;
}

.carousel-inner .carousel-item:first-of-type {
  position: relative;
}

.carousel-inner .active {
  opacity: 1;
}
