ul {
  list-style-type: none;
}

.mst--input-checkbox {
  opacity: 0;
  position: absolute;
}

.mst--input-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  margin: 6px 0 0 12px;
}

.mst--input-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent;
  border: 2px solid #707070;
  vertical-align: sub;
}

.mst--input-checkbox:hover + label:before {
  background: #fff;
}

.mst--input-checkbox:disabled + label:before {
  box-shadow: none;
  background: #f7f7f7;
}

.mst--input-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 11px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}

.mst--input-checkbox:checked + label:before {
  background: #53b8e2;
  border: 2px solid #53b8e2;
}

/* END */

.btn-default {
    border-color: #ccc;
}

.tab-content .choice {
  text-align: center;
  cursor: pointer;
  margin-top: 38px;
}

.tab-content .choice i {
    font-size: 32px;
    line-height: 55px;
}

.btn-radio {
	width: 100%;
}
.img-radio {
	opacity: 0.8;
	margin-bottom: 5px;
}

.space-20 {
    margin-top: 20px;
}

/* active buttons */
#status-buttons a.active span.round-tabs.one {
    background: rgb(34, 194, 34);
    color: #fff
}

#status-buttons a.active span.round-tabs.two {
    background: #febe29;
    color: #fff
}

#status-buttons a.active span.round-tabs.three {
    background: #3e5e9a;
    color: #fff
}

#status-buttons a.active span.round-tabs.four {
    background: #f1685e;
    color: #fff
}


.iradio_buttons {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: #febe29 no-repeat;
    border: none;
    cursor: pointer;
}
.iradio_buttons {
    background-position: -120px 0;
}
.iradio_buttons.hover {
    background-position: -144px 0;
}
.iradio_buttons.checked {
    background-position: -168px 0;
}
