ul {
    list-style-type: none;
}

dl.request-summary {
    padding: 0px 40px;
}
dl.request-summary p:before {
  content: "\f00c"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
}
dl.request-summary p:not(:last-child) {
    margin-bottom: 0;
}

.comma-list {
    display: inline;
    list-style: none;
    padding: 0px;
}

.comma-list li {
    display: inline;
}

.comma-list li::after {
    content: ", ";
}

.comma-list li:last-child::after {
    content: "";
}

.mst--input-checkbox {
    opacity: 0;
    position: absolute;
}

.mst--input-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    margin: 6px 0 0 12px;
}

.mst--input-checkbox + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid #707070;
    vertical-align: sub;
}

.mst--input-checkbox:hover + label:before {
    background: #fff;
}

.mst--input-checkbox:disabled + label:before {
    box-shadow: none;
    background: #f7f7f7;
}

.mst--input-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 11px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
}

.mst--input-checkbox:checked + label:before {
    background: #53b8e2;
    border: 2px solid #53b8e2;
}

.mst--expansion-panel {
    border-radius: 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.18);
    margin: 20px 30px;
}

.mst--expansion-panel.mst--info-panel {
    margin-top: 0;
}

/*.mst--expansion-panel:first-child {*/
/*    margin-top: 0;*/
/*}*/

/*.mst--expansion-panel:last-child {*/
/*    margin-bottom: 0;*/
/*}*/

.mst--expansion-panel .card-header {
    background: #fff;
    border: 0;
    padding: 10px 25px;
}

.mst--expansion-panel .card-header h5 {
    display: inline;
}

.mst--expansion-panel .card-header .info-help {
    color: #707070;
    padding-left: 5px;
}

.mst--expansion-panel .card-header .btn-link {
    border: 0;
    color: #333;
    padding: 5px 0;
    overflow: hidden;
    text-align: left;
    width: 100%;
}

.mst--expansion-panel .card-header .btn-link:hover, .imc--expansion-panel .card-header .btn-link:focus {
    text-decoration: none;
    outline: none;
    border: 0;
}

.mst--expansion-panel .card-body {
    padding-top: 0;
    margin: 0;
}

.mst--expansion-panel .card-body h5 {
    font-size: 16px;
}

.mst--expansion-panel .card-body strong {
    color: #333;
}

.mst--expansion-panel .card-body ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mst--expansion-panel .card-body .list-space li {
    margin: 8px 0;
}

.mst--list-filter {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

@media (max-width: 575.98px) {
    .mst--list-filter-xs {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
}

/* END */
.btn-default {
    border-color: #ccc;
}

.tab-content .choice {
    text-align: center;
    cursor: pointer;
    margin-top: 38px;
}

.tab-content .choice i {
    font-size: 32px;
    line-height: 55px;
}

.btn-radio {
    width: 100%;
}

.img-radio {
    opacity: 0.8;
    margin-bottom: 5px;
}

.space-20 {
    margin-top: 20px;
}

/* active buttons */
#status-buttons a.active span.round-tabs.one {
    background: rgb(34, 194, 34);
    color: #fff
}

#status-buttons a.active span.round-tabs.two {
    background: #febe29;
    color: #fff
}

#status-buttons a.active span.round-tabs.three {
    background: #3e5e9a;
    color: #fff
}

#status-buttons a.active span.round-tabs.four {
    background: #f1685e;
    color: #fff
}


.iradio_buttons {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: #febe29 no-repeat;
    border: none;
    cursor: pointer;
}

.iradio_buttons {
    background-position: -120px 0;
}

.iradio_buttons.hover {
    background-position: -144px 0;
}

.iradio_buttons.checked {
    background-position: -168px 0;
}

/* ngx-datatable styles */
.ngx-datatable.material {
    background: #FFF;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.ngx-datatable .datatable-body .datatable-row-detail {
    background: #f5f5f5;
    padding: 10px;
}

.ngx-datatable .datatable-body-row:hover {
    background-color: #eee;
    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: linear;
}
