.board-inner > ul {
  position: relative !important;
}

.liner {
  height: 2px;
  background: #ddd;
  position: absolute;
  width: 76%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  /*z-index: 1;*/
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  /* background-color: #ffffff; */
  border: 0;
  border-bottom-color: transparent;
}

span.round-tabs {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: white;
  z-index: 2;
  position: relative;
  left: 0;
  text-align: center;
  font-size: 25px;
}

span.round-tabs.one {
  color: #004080;
  border: 2px solid #004080;
}

li.active span.round-tabs.one {
  background: #fff !important;
  border: 2px solid #ddd;
  color: #004080;
}

span.round-tabs.two {
  color: #004080;
  border: 2px solid #004080;
}

li.active span.round-tabs.two {
  background: #fff !important;
  border: 2px solid #ddd;
  color: #004080;
}

span.round-tabs.three {
  color: #004080;
  border: 2px solid #004080;
}

li.active span.round-tabs.three {
  background: #fff !important;
  border: 2px solid #ddd;
  color: #1B77BC;
}

span.round-tabs.four {
  color:#004080;
  border: 2px solid #004080;
}

li.active span.round-tabs.four {
  background: #fff !important;
  border: 2px solid #ddd;
  color: #004080;
}

span.round-tabs.five {
  color: #999;
  border: 2px solid #999;
}

li.active span.round-tabs.five {
  background: #fff !important;
  border: 2px solid #ddd;
  color: #999;
}

.nav-tabs > li.active > a span.round-tabs {
  background: #fafafa;
}

.nav-tabs > li {
  /*width: 20%;*/
  width: 25%;
}

.nav-tabs > li:after {
  content: " ";
  position: absolute;
  left: 45%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: #ddd;
  transition: 0.1s ease-in-out;
}

.nav-tabs > li.active:after {
  content: " ";
  position: absolute;
  left: 45%;
  opacity: 1;
  margin: 0 auto;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom-color: #ddd;
}

.nav-tabs > li a {
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
}

.nav-tabs > li a:hover,
.nav-tabs > li a {
  background: transparent;
  border-style: none !important;
}

.tab-content .tab-pane {
  position: relative;
  /*padding-top: 50px;*/
}

.tab-content .head {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.btn-outline-rounded {
  padding: 10px 40px;
  margin: 20px 0;
  border: 2px solid transparent;
  border-radius: 25px;
}

.btn.green {
  background-color: #5DB984;
  /*border: 2px solid #5cb85c;*/
  color: #ffffff;
}

@media (max-width: 585px) {
  .board {
    width: 90%;
    height: auto !important;
  }

  span.round-tabs {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .tab-content .head {
    font-size: 20px;
  }

  .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .nav-tabs > li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }

  .btn-outline-rounded {
    padding: 12px 20px;
  }
}

/* active buttons */
#status-buttons a.active span.round-tabs.one {
  background:#004080;
  color: #fff;
}

#status-buttons a.active span.round-tabs.two {
  background: #004080;
  color: #fff;
}

#status-buttons a.active span.round-tabs.three {
  background: #004080;
  color: #fff;
}

#status-buttons a.active span.round-tabs.four {
  background: #004080;
  color: #fff;
}
