:host {
  height: 100%;
}

.map {
  height: 100%;
  padding: 0;
}
.legenda {
  transform: scale(0.8);
  background: none !important;
  margin-bottom: -20px !important;
}

.bg-light {
  background-color: rgba(38, 35, 43, 0.745) !important;
  color: #fff;
  padding: 2px;
  padding: 2px;
  border-radius: 2px !important;
  pre {
    font-weight: bolder;
  }
}
.selected-dataset {
  font-family: "Montserrat-semibold";
  font-size: 25px;
  text-transform: uppercase;
  border-bottom: solid 2px #fff;
}

@media screen and (max-height: 640px) {
  .selected-dataset {
    font-size: 20px;
  }
}

@media screen and (max-width: 770px) {
  .selected-dataset {
    font-size: 17px;
  }
}
