---
project:
  title: Meteo-Hub
  description: "Mistral Meteo Hub"
  version: "0.3.1"
  rapydo: 0.7.4

variables:
  env:
    # BACKEND_BUILD_MODE: backendcentos
    # PYTHON_PATH: /usr/local/lib/python3.6/dist-packages
    FRONTEND_FRAMEWORK: angular
    ENABLE_FOOTER: true
    RUN_SCHEMATHESIS: 0

    LOG_LEVEL: DEBUG

    ACTIVATE_ALCHEMY: 1
    ACTIVATE_POSTGRES: 1
    ALCHEMY_USER: sqluser
    # ALCHEMY_PASSWORD: chooseapasswordwisely
    ALCHEMY_API_DB: SQL_API
    ALCHEMY_ENGINE: postgresql
    ALCHEMY_DBS: "SQL_API DBALLE"

    ACTIVATE_MONGODB: 1
    ACTIVATE_RABBIT: 1
    ACTIVATE_CELERY: 1
    ACTIVATE_CELERYUI: 1
    ACTIVATE_CELERYBEAT: 1

    ALLOW_ACCESS_TOKEN_PARAMETER: True
    ALLOW_PASSWORD_RESET: "true"
    UPLOAD_PATH: /data

    CELERY_BACKEND: MONGODB

    LASTDAYS: 10
    FRONTEND_DEBUG: 0

    RABBITMQ_ENABLE_MANAGEMENT_PLUGIN: 1
    # RABBITMQ_ENABLE_SHOVEL_PLUGIN: 1

    CORS_ALLOW_ALL_ORIGINS: 1
    SET_CSP_IMG_SRC: "https://a.tile.openstreetmap.org https://b.tile.openstreetmap.org https://c.tile.openstreetmap.org https://api.tiles.mapbox.com"
    SET_CSP_FONT_SRC: https://netdna.bootstrapcdn.com

  backend:
    credentials:
      roles:
        user: normal_user
        internal: staff_user
        admin: admin_root
        default: normal_user

controller:
  commands:
    init:
      description: Init DB-All.e PostgreSQL database
      command: sh /scripts/init_dballe.sh
      service: backend
      user: developer
