---
project:
  title: MeteoHub
  description: "MeteoHub"
  version: "0.4.16"
  rapydo: "2.4"

variables:
  roles:
    staff_user: disabled
    institutional: Institutional
    operational: Operational

  roles_descriptions:
    institutional: Institutional User
    operational: User performing operational procedures

  env:
    # BACKEND_BUILD_MODE: backend-legacy38
    # PYTHON_PATH: /usr/local/lib/python3.8/dist-packages
    # Temporary disabled due to an incompatibility with python 3.8
    RUN_SCHEMATHESIS: 0

    AUTH_SERVICE: sqlalchemy
    FRONTEND_FRAMEWORK: angular
    CRONTAB_ENABLE: 1

    ACTIVATE_ALCHEMY: 1
    ACTIVATE_POSTGRES: 1
    ALCHEMY_USER: sqluser
    ALCHEMY_DBS: "SQL_API DBALLE"

    ACTIVATE_REDIS: 1
    ACTIVATE_RABBIT: 1

    ACTIVATE_CELERY: 1
    ACTIVATE_STRAPI: 1
    ACTIVATE_UI: 1
    CELERY_ENABLE_CONNECTOR: 1
    CELERY_BROKER: RABBIT

    # ACTIVATE_FLOWER: 1
    ACTIVATE_CELERYBEAT: 1

    ACTIVATE_NIFI: 0

    NIFI_KEYSTORE_PASSWORD: "**PLACEHOLDER**"
    NIFI_SENSITIVE_PROPS_KEY: "**PLACEHOLDER**"
    NIFI_USERNAME: "**PLACEHOLDER**"
    NIFI_PASSWORD: "**PLACEHOLDER**"

    NIFI_EMAIL_FOR_ALERT: "**PLACEHOLDER**"
    NIFI_EMAIL_HEADER: "**PLACEHOLDER**"
    FTP_USER: "**PLACEHOLDER**"
    FTP_PASSWORD_DPC: "**PLACEHOLDER**"
    RADAR_FTP_USER: "**PLACEHOLDER**"
    RADAR_FTP_PASSWORD: "**PLACEHOLDER**"
    NIFI_DATABASE_URL: "**PLACEHOLDER**"
    MAX_DAYS_NIFI_DATA: 3
    MAX_DAYS_NIFI_LOGS: 100
    NIFI_ARKIMET_CONFIG_PATH: "/opt/nifi/nifi-current/conf/arkimet_conf/"
    NIFI_POSTGRES_DRIVER_PATH: "**PLACEHOLDER**"
    NIFI_TEMP_DIR: "/opt/nifi/temp"
    ARPAE_QUEUE: "**PLACEHOLDER**"
    METEOSENSOR_QUEUE: "**PLACEHOLDER**"
    SSL_TRUSTORE_FILENAME: "**PLACEHOLDER**"

    ON_DATA_READY_DATASETS: ""

    ALLOW_ACCESS_TOKEN_PARAMETER: 1
    ALLOW_PASSWORD_RESET: 1
    ALLOW_TERMS_OF_USE: 1
    ALLOW_REGISTRATION: 1
    ENABLE_ANGULAR_SSR: 0

    DATA_PATH: /data

    GRACE_PERIOD: 2
    LASTDAYS: 10
    PLATFORM: G100
    MAPS_URL:
    TILES_URL:
    PROJECT_HOME: "https://meteohub.agenziaitaliameteo.it/ui/"
    COOKIE_POLICY_URL: "https://www.cineca.it/privacy/cookies-cineca"
    FRONTEND_DEBUG: 0
    WARNING_MSG:
    AGGREGATIONS_TRANGES: ""
    AGGREGATIONS_DSN: ""
    AGGREGATIONS_LASTDAYS: 3

    CORS_ALLOWED_ORIGIN: "*"
    SET_CSP_IMG_SRC: "https://a.tile.openstreetmap.org https://b.tile.openstreetmap.org https://c.tile.openstreetmap.org https://api.tiles.mapbox.com https://cartodb-basemaps-a.global.ssl.fastly.net https://cartodb-basemaps-b.global.ssl.fastly.net https://cartodb-basemaps-c.global.ssl.fastly.net https://cartodb-basemaps-d.global.ssl.fastly.net https://tiles.stadiamaps.com https://maps.mistralportal.it https://meteohub-maps.hpc.cineca.it"
    SET_CSP_FONT_SRC: https://netdna.bootstrapcdn.com
    SET_MAX_REQUESTS_PER_SECOND_API: 999
    SET_MAX_REQUESTS_PER_SECOND_AUTH: 5
    SET_MAX_REQUESTS_BURST_AUTH: 5

    # Strapi / CMS default settings
    CMS_HOST: 0.0.0.0
    CMS_PORT: 1337

    CMS_DB_PATH_RELATIVE: database
    CMS_UPLOAD_PATH_RELATIVE: uploads
    STRAPI_SERVER_RELATIVE_PATH: /cms

    CMS_APP_KEYS:
    CMS_API_TOKEN_SALT:
    CMS_ADMIN_JWT_SECRET:
    CMS_TRANSFER_TOKEN_SALT:
    CMS_ENCRYPTION_KEY:

    CMS_DATABASE_CLIENT: postgres
    CMS_DATABASE_HOST: 127.0.0.1
    CMS_DATABASE_PORT: 5432
    CMS_DATABASE_NAME: strapi
    CMS_DATABASE_USERNAME: sqluser
    CMS_DATABASE_PASSWORD: D3vMode!
    CMS_DATABASE_SSL: false
    CMS_DATABASE_FILENAME:
    CMS_JWT_SECRET:

    # S3 configuration
    ACTIVATE_MINIO: 0
    S3_ENABLE: 0
    S3_ENABLE_CONNECTOR: 0
    S3_HOST: s3.dockerized.io
    S3_PORT: 9000
    S3_KEY_ID: "**PLACEHOLDER**"
    S3_ACCESS_KEY: "**PLACEHOLDER**"
    CKAN_CATALOG_URL: "https://www.mistralportal.it/catalog"

    ANALYTICS_LOG_DRIVER: fluentd
    ACTIVATE_ANALYTICS: 1
