<section>
  <div class="mx-4">
    <div class="board">
      <!-- Navigation Area (Circular Tabs) -->
      <msw-navbar></msw-navbar>

      <!-- Content Area -->
      <div class="tab-content">
        <!-- Routed view  -->
        <router-outlet></router-outlet>
      </div>
    </div>
    <!--<div class="disclaimer"> <i class="fas fa-info-circle me-1" style="color: #157ACC;"></i
    >Dati in tempo reale non sottoposti a validazione</div>-->
    <!-- For Debugging: show our formData as it is being typed -->
    <!--        <pre>{{ formData | json }}</pre>-->
  </div>
</section>
