location ~ /nwp/?$ {
  return 301 /nwp/ICON-2I_SURFACE_PRESSURE_LEVELS;
}

location /nwp/ICON-2I_SURFACE_PRESSURE_LEVELS {
   alias /grib_extraction/;
   autoindex on;
}

location = /catalog.rdf {
    alias /catalog/catalog.rdf;
    default_type application/rdf+xml;
}