<div class="position-relative overflow-hidden text-center image-background">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal text-white">Mission headline</h1>
      <p class="lead font-weight-normal text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo distinctio est repellat et cum aperiam debitis nostrum perferendis quis molestias.</p>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-lg-4 d-flex flex-column align-items-center">
            <img class="rounded-circle product-icon" src="/app/custom/assets/images/icon_for_sm.png" alt="forecast">
            <h2>Forecasts</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p>
                <a class="btn btn-outline-secondary button"     
                    routerLink="/app/maps/meteotiles"
                    routerLinkActive="active"
                    role="button">Scopri di più
                </a>
            </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 d-flex flex-column align-items-center">
           <img class="rounded-circle product-icon" src="/app/custom/assets/images/icon_obs_sm.png" alt="forecast">
            <h2>Observations</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
            <p>
                <a class="btn btn-outline-secondary button"     
                routerLink="/app/maps/observations"
                routerLinkActive="active" role="button">Scopri di più
                </a>
            </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 d-flex flex-column align-items-center">
            <img class="rounded-circle product-icon" src="/app/custom/assets/images/icona-dataset-05.png" alt="forecast">
            <h2>Datasets</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p>
                <a class="btn btn-outline-secondary button"  
                routerLink="/app/datasets"
                routerLinkActive="active" role="button">Scopri di più
                </a>
            </p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette mt-5 mb-5">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette Partners.</h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="/app/custom/assets/images/ItaliaMeteo_Logo.png" data-holder-rendered="true">
        </div>
      </div>

      <div class="row featurette mt-5 mb-5">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Second featurette Partners</h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="/app/custom/assets/images/logo-hd-cineca.svg"data-holder-rendered="true">
        </div>

        
      </div>
      <!-- /END THE FEATURETTES -->
       <div class="button-container d-flex justify-content-center mt-5 mb-5">
            <p>
                <a class="btn btn-outline-secondary button"     
                href="#"
                role="button">Scopri di più
                </a>
            </p>
        </div>
    </div><!-- /.container -->