#include:
#  - local: ".gitlab/jobs/codeql-analysis.yml"
#  - local: ".gitlab/jobs/semgrep-analysis.yml"
#  - local: ".gitlab/jobs/mypy.yml"
#  - local: ".gitlab/jobs/cypress.yml"
#  - local: ".gitlab/jobs/frontend.yml"

stages:
  - test

variables:
  PROJECT: "mistral"
  RAPYDO_EXTRA_ENVS: ""
  EXTRA_S3_KEY_ID: "minioadmin"
  EXTRA_LOG_LEVEL: "DEBUG"

backend_tests:
  stage: test
  tags:
    - mistral
    - openstack-driver
  variables:
    SUBMODULE_DIR: $CI_PROJECT_DIR/submodules
  script:
    - export PATH="$HOME/.local/bin:$PATH"
    - |
      echo "Check for compatible RaPyDo version..."
      rapydo version | tee version_output.txt

      # get versions from the file version_output
      required_version=$(grep "required rapydo" version_output.txt | sed -E 's/.*required rapydo: ([0-9\.]+).*/\1/')
      current_version=$(grep "^rapydo:" version_output.txt | sed -E 's/rapydo: ([0-9\.]+).*/\1/')

      echo "Required version: $required_version"
      echo "Current version: $current_version"

      if [ "$required_version" != "$current_version" ]; then
        echo "RaPyDo version NOT compatible. Downgrading..."
        pip3 install --upgrade git+https://github.com/rapydo/do.git@$required_version
      else
        echo "Correct version of RaPyDo already installed."
      fi
    # Generate a random access key and store it in S3_ACCESS_KEY variable
    - export EXTRA_S3_ACCESS_KEY=$(openssl rand -base64 32 | sed -r 's/=//g')
    - export EXTRA_MINIO_ROOT_USER=$EXTRA_S3_KEY_ID
    - export EXTRA_MINIO_ROOT_PASSWORD=$EXTRA_S3_ACCESS_KEY
    - echo "Generated access-key $EXTRA_S3_ACCESS_KEY"
    - echo "Listing all environment variables starting with EXTRA_..."
    - |
      for line in $(env | grep '^EXTRA_'); do
        key=$(echo "$line" | cut -d '=' -f 1 | sed -e "s/^EXTRA_//");
        value=$(echo "$line" | cut -d '=' -f 2-);
        if [ -n "$value" ]; then
          RAPYDO_EXTRA_ENVS+="-e $key=$value ";
        fi;
      done
      echo "$RAPYDO_EXTRA_ENVS"
    # Init Rapydo
    - echo "INIT Rapydo rapydo --testing --project $PROJECT $RAPYDO_EXTRA_ENVS init --force"
    - rapydo --testing --project $PROJECT $RAPYDO_EXTRA_ENVS init --force
    - rapydo version
    - rapydo pull --quiet
    - rapydo build

    # Prepare testing environment
    - .gitlab/scripts/setup-backend-and-datasets.sh "${PROJECT}" "${DATASET_URL}"

    # Test arpaesimc tools
    - rapydo shell backend "bash /code/tests/custom/test_arpaesimc.sh"

    # Run tests
    - rapydo shell backend 'restapi tests --wait --destroy --folder custom'
    - LOGURU_LEVEL=WARNING rapydo list services
    - |
      if LOGURU_LEVEL=WARNING rapydo list services | grep -E "Exit|Restarting|Created"; then
      exit 1
      fi
    - tail -100 data/logs/backend-server.log || true
    - tail -100 data/logs/security-events.log || true
    - rapydo logs || true
