language: python
sudo: required
dist: bionic
python:
- 3.8
services:
- docker

install:
- docker --version && docker-compose --version
- wget $DATASET_URL/arkimet.zip
- unzip arkimet.zip -d data/
- ls data/
- mv data/arkimet/datasets/* data/arkimet/
- ls data/arkimet/
- pip install --upgrade git+https://github.com/rapydo/do.git@0.7.2
- /bin/bash scripts/create_projectrc.sh
- rapydo init
- rapydo pull
- rapydo start

jobs:
  include:
    - script: rapydo shell backend --command 'restapi tests --wait'
      env:
      - STAGE=BACKEND
    - script: sleep 60 && rapydo -s frontend logs && rapydo shell frontend --command 'npm run single-test'
      env:
      - STAGE=FRONTEND