<ngx-spinner
  type="ball-scale-multiple"
  bdColor="rgba(255,255,255,0.8)"
  color="#6c757d"
  zIndex="1000"
  [fullScreen]="true"
  size="large"
>
  <p class="lead text-center position-relative">
    <strong class="mt-2">Please wait! We are preparing your data...</strong>
  </p>
</ngx-spinner>
<div class="modal-header">
  <h4 class="modal-title">Download Data</h4>
  <a
    class="icon-info"
    ngbTooltip="{{ downloadMessage }}"
    placement="right"
    tooltipClass="tool-tip"
    ><i class="fas fa-question"></i
  ></a>
  <button
    type="button"
    class="btn-icon btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss()"
  ></button>
</div>
<div class="modal-body">
  <div class="download">
    <form #form="ngForm" (ngSubmit)="download()">
      <div class="mb-3">
        <ngb-datepicker
          #dp
          (dateSelect)="onDateSelection($event)"
          [displayMonths]="2"
          [dayTemplate]="t"
          [autoClose]="false"
          [maxDate]="maxDate"
          [minDate]="minDate"
          [startDate]="fromDate!"
          outsideDays="hidden"
        >
        </ngb-datepicker>

        <ng-template #t let-date let-focused="focused">
          <span
            class="custom-day"
            [class.focused]="focused"
            [class.range]="isRange(date)"
            [class.faded]="isHovered(date) || isInside(date)"
            (mouseenter)="hoveredDate = date"
            (mouseleave)="hoveredDate = null"
          >
            {{ date.day }}
          </span>
        </ng-template>
      </div>
      <!-- Format -->
      <div class="mb-3">
        <label for="format">Format</label>
        <select
          id="format"
          name="format"
          class="form-select"
          [(ngModel)]="model.format"
        >
          <option *ngFor="let f of allFormats" [ngValue]="f">{{ f }}</option>
        </select>
      </div>
      <p>To download data older than 10 days, please log in</p>
      <div class="text-center mt-4">
        <button
          type="submit"
          class="btn btn-primary no-rounded ms-2"
          [disabled]="form.invalid || !filter"
        >
          <i class="fas fa-download"></i>
          Download
        </button>
      </div>
    </form>
    <!--    <hr/>-->
    <!--    <pre>From date model: {{ fromDate | json }}</pre>-->
    <!--    <pre>To date model: {{ toDate | json }}</pre>-->
  </div>
</div>
