.download label {
  margin-bottom: 0.15rem;
}
.form-group.hidden,
.form-group.hidden .form-control {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
  height: 0;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}

.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
.icon-info {
  background-color:#6C757D;
  border-radius:20px;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  width: 20px;
  height:20px;
  text-align: center;
  margin-left:4px;
}

.icon-info:hover{
  background-color: #EB9C08;
}


