<form
  [formGroup]="form"
  (ngSubmit)="goToNext()"
  xmlns="http://www.w3.org/1999/html"
>
  <div class="tab-pane fade show active mt-4">
    <h4 class="head text-center">{{ title }}</h4>
    <br />

    <div class="row g-0">
      <div class="col-md-6 mb-4 mb-md-0">
        <!-- Summary Stats-->
        <div class="card mst--expansion-panel mst--info-panel">
          <ngx-spinner
            type="ball-scale-multiple"
            bdColor="rgba(255,255,255,0.8)"
            color="#6c757d"
            zIndex="1000"
            [fullScreen]="false"
            size="medium"
            name="summary-spinner"
          >
          </ngx-spinner>
          <div class="card-header">
            <h5>Summary Stats</h5>
          </div>
          <div class="body">
            <ul>
              <li *ngIf="summaryStats">
                <strong>Count:</strong> {{ summaryStats.c }}
              </li>
              <li *ngIf="summaryStats">
                <strong>Size:</strong>
                {{
                  summaryStats.s != null ? (summaryStats.s | bytes: 2) : "n/a"
                }}
              </li>
            </ul>
            <ul
              *ngIf="
                summaryStats.s &&
                user.max_output_size &&
                summaryStats.s > user.max_output_size
              "
              class="adapt-alert"
            >
              <li class="alert alert-warning" role="alert">
                Size exceeds the allowed one for a single request
              </li>
            </ul>
          </div>
        </div>

        <!-- Reftime -->
        <div class="card mst--expansion-panel mst--info-panel">
          <ngx-spinner
            type="ball-scale-multiple"
            bdColor="rgba(255,255,255,0.8)"
            color="#6c757d"
            zIndex="1000"
            [fullScreen]="false"
            size="medium"
            name="summary-spinner"
          >
          </ngx-spinner>
          <div class="card-header">
            <h5>Reftime</h5>
          </div>
          <div class="body">
            <ul>
              <li *ngIf="summaryStats">
                <strong>From:</strong> {{ summaryStats.b | fmtDate }}
              </li>
              <li *ngIf="summaryStats">
                <strong>To:</strong> {{ summaryStats.e | fmtDate }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <!-- My Request -->
        <div class="card mst--expansion-panel mst--info-panel h-100">
          <div class="card-header">
            <h5 class="card-title">My Request</h5>
          </div>
          <div class="body">
            <mst-my-request-details
              (onCancel)="cancel()"
            ></mst-my-request-details>
          </div>
        </div>
      </div>
    </div>
    <!-- no postprocessing available -->
    <div
      class="row"
      *ngIf="form.value.hasGribDataset && !user.allowed_postprocessing"
    >
      <div class="col">
        <div class="no-results mt-4">
          <h3>No Post-processing available</h3>
        </div>
      </div>
    </div>

    <!-- Derived variables -->
    <div class="card mst--expansion-panel" *ngIf="user.allowed_postprocessing">
      <div class="card-header">
        <h5>1. Derived Variables</h5>
        <span class="info-help"
          >&nbsp;<i
            placement="right"
            ngbTooltip="Computes variables not present in the archive on the basis of the variables retrieved by the user. Notice that the list of variables required for computing a particular derived variable is not uniquely determined and it may depend on what is available in a specific dataset, e.g. relative humidity can be computed from temperature and dew-point temperature of from temperature, pressure and specific humidity."
            class="fa fa-circle-question"
            aria-hidden="true"
          ></i
        ></span>
      </div>
      <div class="body">
        <ul class="mst--list-columns">
          <li
            *ngFor="
              let v of form.get('derived_variables')['controls'];
              let i = index
            "
          >
            <input
              class="mst--input-checkbox"
              type="checkbox"
              [formControl]="v"
              [id]="vars[i].code"
            />
            <label
              [for]="vars[i].code"
              ngbTooltip="{{ vars[i].code }}"
              placement="right"
              openDelay="2000"
              >{{ vars[i].desc }}</label
            >
          </li>
        </ul>
      </div>
    </div>

    <!-- Time Post Process-->
    <div class="card mst--expansion-panel" *ngIf="user.allowed_postprocessing">
      <div class="card-header" style="padding-left: 13px">
        <input
          class="mst--input-checkbox"
          type="checkbox"
          formControlName="selectedTimePP"
          id="selectedTimePP"
        />
        <label for="selectedTimePP" placement="right" openDelay="2000"
          ><h5>2. Time Post Processing</h5></label
        >
        <span class="info-help"
          >&nbsp;<i
            placement="right"
            ngbTooltip="Applies an elementary statistical processing on a finite-length time interval to data retrieved by the user. It is typically used for accumulating surface precipitation values on intervals of desired length. Not all the combinations of input and output time-range values make sense."
            class="fa fa-circle-question"
            aria-hidden="true"
          ></i
        ></span>
      </div>
      <div class="body">
        <div
          class="card mst--expansion-panel"
          id="pp-card-area"
          [hidden]="!form.value.selectedTimePP"
        >
          <div class="card-body">
            <div class="row py-3">
              <div class="col-lg-3">
                <label>Input time range</label
                ><label
                  *ngIf="form.value.selectedTimePP"
                  style="padding-left: 5px"
                  >(*)</label
                >
              </div>
              <div class="col-lg-3">
                <div
                  class="btn-group me-3"
                  style="width: 100%; padding-right: 30px"
                >
                  <button type="button" class="btn btn-outline-secondary">
                    {{ selectedInputTimeRange.desc }}
                  </button>
                  <div ngbDropdown class="btn-group">
                    <button
                      type="button"
                      class="btn btn-outline-secondary dropdown-toggle-split"
                      id="in-time-range-drop"
                      ngbDropdownToggle
                    ></button>
                    <div ngbDropdownMenu aria-labelledby="in-time-range-drop">
                      <button
                        type="button"
                        ngbDropdownItem
                        *ngFor="let inRange of timeRanges"
                        (click)="setInputRange(inRange)"
                      >
                        {{ inRange.desc }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <label>Output time range</label
                ><label
                  *ngIf="form.value.selectedTimePP"
                  style="padding-left: 5px"
                  >(*)</label
                >
              </div>
              <div class="col-lg-3">
                <div
                  class="btn-group me-3"
                  style="width: 100%; padding-right: 30px"
                >
                  <button type="button" class="btn btn-outline-secondary">
                    {{ selectedOutputTimeRange.desc }}
                  </button>
                  <div ngbDropdown class="btn-group">
                    <button
                      type="button"
                      class="btn btn-outline-secondary dropdown-toggle-split"
                      id="out-time-range-drop"
                      ngbDropdownToggle
                    ></button>
                    <div ngbDropdownMenu aria-labelledby="out-time-range-drop">
                      <button
                        type="button"
                        ngbDropdownItem
                        *ngFor="let outRange of timeRanges"
                        (click)="setOutputRange(outRange)"
                      >
                        {{ outRange.desc }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3">
                <label>Step </label
                ><label
                  *ngIf="form.value.selectedTimePP"
                  style="padding-left: 5px"
                  >(*)</label
                >
              </div>
              <div class="col-lg-3">
                <input
                  type="number"
                  id="timeStep"
                  formControlName="timeStep"
                  style="text-align: right; width: 85%"
                />
              </div>
              <div class="col-lg-3">
                <label>Step unit</label
                ><label
                  *ngIf="form.value.selectedTimePP"
                  style="padding-left: 5px"
                  >(*)</label
                >
              </div>
              <div class="col-lg-3">
                <div
                  class="btn-group me-3"
                  style="width: 100%; padding-right: 30px"
                >
                  <button type="button" class="btn btn-outline-secondary">
                    {{ selectedStepUnit }}
                  </button>
                  <div ngbDropdown class="btn-group">
                    <button
                      type="button"
                      class="btn btn-outline-secondary dropdown-toggle-split"
                      id="step-unit"
                      ngbDropdownToggle
                    ></button>
                    <div ngbDropdownMenu aria-labelledby="step-unit">
                      <button
                        type="button"
                        ngbDropdownItem
                        *ngFor="let unit of stepUnits"
                        (click)="setStepUnit(unit)"
                      >
                        {{ unit }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Space Post Process-->
    <div
      class="card mst--expansion-panel"
      *ngIf="user.allowed_postprocessing"
      [hidden]="!form.value.hasGribDataset"
    >
      <div class="card-header" style="padding-left: 13px">
        <input
          class="mst--input-checkbox"
          type="checkbox"
          formControlName="selectedSpacePP"
          id="selectedSpacePP"
        />
        <label for="selectedSpacePP" placement="right" openDelay="2000"
          ><h5>3. Space Post Process</h5></label
        >
        <span class="info-help"
          >&nbsp;<i
            placement="right"
            ngbTooltip="Allows to apply a space transformation such as cropping the grid, interpolating on a different latlon grid, interpolating on sparse points or averaging on polygonal areas."
            class="fa fa-circle-question"
            aria-hidden="true"
          ></i
        ></span>
      </div>
      <div class="body" [hidden]="!form.value.selectedSpacePP">
        <ul>
          <fieldset>
            <label class="mst--radio-label" placement="right" openDelay="2000">
              <input type="radio" formControlName="space_type" value="crop" />
              Area Crop
              <span class="checkradio"></span>
            </label>
            <label class="mst--radio-label" placement="right" openDelay="2000">
              <input type="radio" formControlName="space_type" value="grid" />
              Grid Interpolation
              <span class="checkradio"></span>
            </label>
            <label class="mst--radio-label" placement="right" openDelay="2000">
              <input type="radio" formControlName="space_type" value="points" />
              Sparse Points
              <span class="checkradio"></span>
            </label>
          </fieldset>
        </ul>
        <!-- AREA CROP PP -->
        <div
          *ngIf="form.value.space_type === 'crop'"
          class="card mst--expansion-panel"
          id="pp-card-area"
        >
          <div class="card-header">
            <h5>Area crop</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div id="pp-space-area-map" class="d-none d-lg-block col-lg-8">
                <step-postprocess-map
                  [formGroup]="form"
                  [ilonControl]="form.get('space_crop')['controls'][0]"
                  [ilatControl]="form.get('space_crop')['controls'][1]"
                  [flonControl]="form.get('space_crop')['controls'][2]"
                  [flatControl]="form.get('space_crop')['controls'][3]"
                ></step-postprocess-map>
              </div>
              <div id="pp-space-area-fields" class="col">
                <div class="py-3">
                  <span
                    >Draw a rectangle on the map or insert lat/lon to crop
                    data</span
                  >
                </div>
                <ul class="mst--list-columns">
                  <li
                    *ngFor="
                      let b of form.get('space_crop')['controls'];
                      let i = index
                    "
                    class="py-1"
                  >
                    <div class="row">
                      <label
                        [for]="space_crop_boundings[i].code"
                        ngbTooltip="{{ space_crop_boundings[i].code }}"
                        placement="right"
                        class="col"
                        openDelay="2000"
                        >{{ space_crop_boundings[i].desc }}
                        <span
                          *ngIf="form.value.selectedSpacePP"
                          style="padding-left: 5px"
                          >(*)</span
                        ></label
                      >
                      <input
                        type="number"
                        [required]="
                          form.value.space_type === 'crop' &&
                          form.value.selectedSpacePP
                        "
                        [formControl]="b"
                        [id]="space_crop_boundings[i].code"
                        class="col"
                        style="text-align: right; width: 50%"
                      />
                    </div>
                  </li>
                  <li class="py-1">
                    <div class="row">
                      <div class="col" style="padding-right: 0px">
                        <label
                          placement="right"
                          openDelay="2000"
                          style="padding-right: 0px"
                        >
                          Crop type</label
                        >
                        <label
                          *ngIf="form.value.selectedSpacePP"
                          style="padding-left: 5px"
                          >(*)</label
                        >
                      </div>
                      <div class="col" style="padding-left: 0px">
                        <div
                          class="btn-group me-3"
                          style="width: 100%; padding-right: 30px"
                        >
                          <button
                            type="button"
                            class="btn btn-outline-secondary"
                          >
                            {{ selectedCropType.desc }}
                          </button>
                          <div
                            ngbDropdown
                            class="btn-group"
                            style="padding-left: 0px"
                          >
                            <button
                              type="button"
                              class="btn btn-outline-secondary dropdown-toggle-split"
                              id="crop-type"
                              ngbDropdownToggle
                            ></button>
                            <div ngbDropdownMenu aria-labelledby="crop-type">
                              <button
                                type="button"
                                ngbDropdownItem
                                *ngFor="let cropType of cropTypes"
                                (click)="setCropType(cropType)"
                              >
                                {{ cropType.desc }}
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- GRID INTERPOLATION PP -->
        <div
          *ngIf="form.value.space_type === 'grid'"
          class="card mst--expansion-panel"
          id="pp-card-grid"
        >
          <div class="card-header">
            <h5>Grid Interpolation</h5>
          </div>
          <div class="card-body">
            <ul class="mst--list-columns">
              <fieldset>
                <label
                  class="mst--radio-label"
                  placement="right"
                  openDelay="2000"
                >
                  <input
                    type="radio"
                    formControlName="gridInterpolationType"
                    value="template"
                  />
                  By GRIB Template
                  <span class="checkradio"></span>
                </label>
                <label
                  class="mst--radio-label"
                  placement="right"
                  openDelay="2000"
                >
                  <input
                    type="radio"
                    formControlName="gridInterpolationType"
                    value="area"
                  />
                  By Coordinates
                  <span class="checkradio"></span>
                </label>
              </fieldset>
            </ul>
            <div class="card mst--expansion-panel">
              <div class="card-body">
                <div class="d-none d-lg-block col-lg-12 py-3">
                  <div class="row">
                    <div class="col-lg-3">
                      <label class="px-2">
                        Interpolation type
                        <span
                          *ngIf="form.value.selectedSpacePP"
                          style="padding-left: 5px"
                          >(*)</span
                        ></label
                      >
                    </div>
                    <div class="col-lg-3">
                      <div class="btn-group me-3" style="width: 100%">
                        <button type="button" class="btn btn-outline-secondary">
                          {{ selectedInterpolationType }}
                        </button>
                        <div ngbDropdown class="btn-group">
                          <button
                            type="button"
                            class="btn btn-outline-secondary dropdown-toggle-split"
                            id="interpolation-type"
                            ngbDropdownToggle
                          ></button>
                          <div
                            ngbDropdownMenu
                            aria-labelledby="interpolation-type"
                          >
                            <button
                              type="button"
                              ngbDropdownItem
                              *ngFor="
                                let interpolationType of interpolationTypes
                              "
                              (click)="setInterpolationType(interpolationType)"
                            >
                              {{ interpolationType }}
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  *ngIf="form.value.gridInterpolationType === 'template'"
                  class="d-none d-lg-block col-lg-12 py-2"
                >
                  <div class="input-group">
                    <div
                      class="card mst--expansion-panel"
                      style="margin-left: 0px; margin-top: 0px"
                    >
                      <div class="card-header">
                        <h5>
                          Choose existing template from your personal area
                        </h5>
                      </div>
                      <div class="card-body">
                        <div class="card-body mst--list-filter">
                          <ul class="mst--list-columns">
                            <li
                              *ngFor="
                                let v of gridInterpolationTemplates;
                                let i = index
                              "
                            >
                              <label
                                class="mst--radio-label"
                                placement="right"
                                openDelay="2000"
                              >
                                <input
                                  type="radio"
                                  formControlName="selectedGITemplate"
                                  value="{{ v.filepath }}"
                                />
                                {{ v.label }}
                                <span class="checkradio"></span>
                                <button
                                  class="btn p-0"
                                  style="margin-left: 3vmin"
                                  type="button"
                                  (click)="delete(v.label)"
                                >
                                  <i class="fa fa-trash red"></i>
                                </button>
                              </label>
                            </li>
                          </ul>
                        </div>
                        <hr />
                        <span *ngIf="!isMaxGridTemplateNumber">
                          <div class="mb-3">
                            <label
                              for="gridTemplateFile"
                              class="form-label"
                              [ngClass]="{
                                'text-muted': isMaxGridTemplateNumber
                              }"
                              >Add new template to your personal area</label
                            >
                            <input
                              class="form-control"
                              type="file"
                              id="gridTemplateFile"
                              (change)="loadFile($event.target.files)"
                              [disabled]="isMaxGridTemplateNumber"
                            />
                            <h5
                              class="text-danger"
                              *ngIf="isMaxGridTemplateNumber"
                            >
                              The maximum number of custom template in your
                              personal area has been reached.
                            </h5>
                          </div>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  *ngIf="form.value.gridInterpolationType === 'area'"
                  class="row"
                >
                  <div
                    id="pp-space-area-map"
                    class="d-none d-lg-block col-lg-8"
                  >
                    <step-postprocess-map
                      [formGroup]="form"
                      [ilonControl]="form.get('space_grid')['controls'][0]"
                      [ilatControl]="form.get('space_grid')['controls'][1]"
                      [flonControl]="form.get('space_grid')['controls'][2]"
                      [flatControl]="form.get('space_grid')['controls'][3]"
                    ></step-postprocess-map>
                  </div>
                  <div id="pp-space-area-fields" class="col">
                    <div class="py-3">
                      <span
                        >Draw a rectangle on the map or insert lat/lon to regrid
                        data</span
                      >
                    </div>
                    <ul class="mst--list-columns" style="padding-left: 0%">
                      <li
                        *ngFor="
                          let b of form.get('space_grid')['controls'];
                          let i = index
                        "
                        class="py-1"
                      >
                        <div class="row">
                          <label
                            [for]="space_grid_boundings[i].code"
                            ngbTooltip="{{ space_grid_boundings[i].code }}"
                            placement="right"
                            class="col"
                            openDelay="2000"
                            >{{ space_grid_boundings[i].desc }}
                            <span
                              *ngIf="form.value.selectedSpacePP"
                              style="padding-left: 5px"
                              >(*)</span
                            ></label
                          >
                          <input
                            type="number"
                            [required]="
                              form.value.space_type === 'grid' &&
                              form.value.gridInterpolationType === 'area' &&
                              form.value.selectedSpacePP
                            "
                            [formControl]="b"
                            [id]="space_grid_boundings[i].code"
                            class="col"
                            style="text-align: right; width: 50%"
                          />
                        </div>
                      </li>
                    </ul>
                    <hr class="my-4" />
                    <ul class="mst--list-columns" style="padding-left: 0%">
                      <li
                        *ngFor="
                          let b of form.get('interpolationNodes')['controls'];
                          let i = index
                        "
                        class="py-1"
                      >
                        <div class="row">
                          <label
                            [for]="interpolation_nodes[i].code"
                            ngbTooltip="{{ interpolation_nodes[i].code }}"
                            placement="right"
                            class="col"
                            openDelay="2000"
                            >{{ interpolation_nodes[i].desc }}
                            <span
                              *ngIf="form.value.selectedSpacePP"
                              style="padding-left: 5px"
                              >(*)</span
                            ></label
                          >
                          <input
                            type="number"
                            [required]="
                              form.value.space_type === 'grid' &&
                              form.value.gridInterpolationType === 'area' &&
                              form.value.selectedSpacePP
                            "
                            [formControl]="b"
                            [id]="interpolation_nodes[i].code"
                            class="col"
                            style="text-align: right; max-height: 33px"
                          />
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- SPARSE POINTS PP -->
        <div
          *ngIf="form.value.space_type === 'points'"
          class="card mst--expansion-panel"
          id="pp-card-sparse"
        >
          <div class="card-header">
            <h6>Get data on your points</h6>
          </div>
          <div class="card-body">
            <div class="d-none d-lg-block col-lg-12 py-3 px-3">
              <div class="row">
                <div class="col-lg-3">
                  <label class="px-2">
                    Interpolation type
                    <span
                      *ngIf="form.value.selectedSpacePP"
                      style="padding-left: 5px"
                      >(*)</span
                    ></label
                  >
                </div>
                <div class="col-lg-3">
                  <div class="btn-group me-3" style="width: 100%">
                    <button type="button" class="btn btn-outline-secondary">
                      {{ selectedInterpolationType }}
                    </button>
                    <div ngbDropdown class="btn-group">
                      <button
                        type="button"
                        class="btn btn-outline-secondary dropdown-toggle-split"
                        id="interpolation-type"
                        ngbDropdownToggle
                      ></button>
                      <div ngbDropdownMenu aria-labelledby="interpolation-type">
                        <button
                          type="button"
                          ngbDropdownItem
                          *ngFor="let interpolationType of interpolationTypes"
                          (click)="setInterpolationType(interpolationType)"
                        >
                          {{ interpolationType }}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-none d-lg-block col-lg-12 py-2">
              <div class="input-group">
                <div
                  class="card mst--expansion-panel"
                  style="margin-left: 0px; margin-top: 0px"
                >
                  <div class="card-header">
                    <h5>Choose existing shape file from your personal area</h5>
                  </div>
                  <div class="card-body">
                    <div
                      class="card-body mst--list-filter"
                      style="margin-left: 15px"
                    >
                      <ul class="mst--list-columns">
                        <li
                          *ngFor="let v of sparePointsTemplates; let i = index"
                        >
                          <label
                            class="mst--radio-label"
                            placement="right"
                            openDelay="2000"
                          >
                            <input
                              type="radio"
                              formControlName="selectedSPTemplate"
                              value="{{ v.filepath }}"
                            />
                            {{ v.label }}
                            <span class="checkradio"></span>
                            <button
                              class="btn p-0"
                              style="margin-left: 3vmin"
                              type="button"
                              (click)="delete(v.label)"
                            >
                              <i class="fa fa-trash red"></i>
                            </button>
                          </label>
                        </li>
                      </ul>
                    </div>
                    <hr />
                    <span *ngIf="!isMaxShpTemplateNumber">
                      <div class="mb-3">
                        <label
                          for="shpTemplateFile"
                          class="form-label"
                          [ngClass]="{ 'text-muted': isMaxShpTemplateNumber }"
                        >
                          Add new shape or geoJson file to your personal area.
                          If you upload geoJson this will be converted into a
                          shape file
                        </label>
                        <input
                          class="form-control"
                          type="file"
                          id="shpTemplateFile"
                          (change)="loadFile($event.target.files)"
                          [disabled]="isMaxShpTemplateNumber"
                        />
                        <h5 class="text-danger" *ngIf="isMaxShpTemplateNumber">
                          The maximum number of custom template in your personal
                          area has been reached.
                        </h5>
                      </div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="card mst--expansion-panel"
      [hidden]="!form.value.hasBufrDataset"
    >
      <div class="card-header">
        <h5 *ngIf="user.allowed_postprocessing">3. Quality Control Filter</h5>
        <h5 *ngIf="!user.allowed_postprocessing">1. Quality Control Filter</h5>
        <span class="info-help"
          >&nbsp;<i
            placement="right"
            ngbTooltip="Removes from the output those observed data having a quality control attribute indicating that they are unreliable."
            class="fa fa-circle-question"
            aria-hidden="true"
          ></i
        ></span>
      </div>
      <div class="body">
        <div
          class="d-none d-lg-block col-lg-8 py-3 px-3"
          style="padding-top: 0rem !important"
        >
          <div class="row">
            <button
              type="button"
              class="btn btn-lg btn-toggle"
              data-toggle="button"
              [ngClass]="{ active: form.value.onlyReliable }"
              (click)="toggleOnlyReliable()"
            >
              <div class="handle"></div>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="card mst--expansion-panel"
      [hidden]="
        !form.value.hasBufrDataset &&
        ((form.value.hasGribDataset && !form.value.selectedSpacePP) ||
          (form.value.hasGribDataset &&
            form.value.selectedSpacePP &&
            form.value.space_type != 'points'))
      "
    >
      <div class="card-header">
        <h5 *ngIf="user.allowed_postprocessing">4. Format conversion</h5>
        <h5 *ngIf="!user.allowed_postprocessing">2. Format conversion</h5>
        <span class="info-help"
          >&nbsp;<i
            placement="right"
            ngbTooltip="Allows to convert the output from the binary BUFR format to a textual JSON Lines format with a standard scheme."
            class="fa fa-circle-question"
            aria-hidden="true"
          ></i
        ></span>
      </div>
      <div class="body">
        <div class="d-none d-lg-block col-lg-8 py-3 px-3">
          <div class="row">
            <div class="col-lg-2">
              <label class="px-4">Format: </label>
            </div>
            <div class="col-lg-3">
              <div class="btn-group me-3" style="width: 100%">
                <button type="button" class="btn btn-outline-secondary">
                  {{ selectedConversionFormat }}
                </button>
                <div class="btn-group" ngbDropdown role="group">
                  <button
                    type="button"
                    class="btn btn-outline-secondary dropdown-toggle-split"
                    id="interpolation-type"
                    ngbDropdownToggle
                  ></button>
                  <div
                    ngbDropdownMenu
                    class="dropdown-menu"
                    aria-labelledby="interpolation-type"
                  >
                    <button
                      type="button"
                      ngbDropdownItem
                      *ngFor="let format of formatTypes"
                      (click)="setConversionFormat(format)"
                    >
                      {{ format }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-3 text-center space-20">
      <button
        class="btn btn-outline-secondary me-2"
        type="button"
        (click)="goToPrevious()"
      >
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Previous
      </button>
      <button
        class="btn btn-border-classic"
        type="submit"
        [disabled]="!form.valid"
      >
        Next <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</form>
