<form [formGroup]="form" (ngSubmit)="goToNext()">
    <div class="tab-pane fade show active mt-4">
        <h4 class="head text-center">{{title}}</h4>
        <br/>
        <!-- Derived variables -->
        <div class="card mst--expansion-panel">
            <div class="card-header">
                <h5>Derived Variables</h5>
                <span class="info-help">&nbsp;<i placement="right"
                                                 ngbTooltip="Add helpful info about this post-processing"
                                                 class="fa fa-question-circle"
                                                 aria-hidden="true"></i></span>
            </div>
            <div class="body">
                <ul class="mst--list-columns">
                    <li *ngFor="let v of form.get('derived_variables')['controls']; let i=index">
                        <input class="mst--input-checkbox" type="checkbox" [formControl]="v"
                               [id]="vars[i].code">
                        <label [for]="vars[i].code"
                            ngbTooltip="{{vars[i].code}}" placement="right" openDelay="2000">{{vars[i].desc}}</label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group text-center space-20">
            <button class="btn btn-outline-secondary mr-2" type="button"
                    (click)="goToPrevious()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Previous
            </button>
            <button class="btn btn-info" type="submit"
                    [disabled]="!form.valid"> Next <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
        </div>
    </div>
</form>
