$light-blue: #157acc;
$dark-blue: #004080;

.chart-wrapper {
  position: relative;
}

.overlay-line {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.button-container .btn-outline-secondary {
  color: $light-blue;
  font-family: TitilliumWeb-SemiBold;
  border-color: $light-blue;
  border-radius: 30px !important;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid $light-blue !important;

  &:hover {
    background-color: $dark-blue !important;
    color: #fff;
    text-decoration: underline;
  }

  &.active {
    background-color: $light-blue;
    border-color: $light-blue;
    color: #fff;
    text-decoration: underline;
  }
}
.area-tooltip-container .boxplot-values {
  text-align: left;
  width: 100%;
  display: block;
  margin-left: 0;
}
.tooltip-item-color {
  height: 2px !important;
  width: 18px !important;
  margin-left: 5px !important;
}

.tooltip-item-color-container {
  background-color: #777777;
  height: 12px !important;
  width: 24px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-right: 5px !important;
}
::ng-deep ngx-charts-legend .legend-labels {
  display: flex;
  flex-direction: column-reverse;
}
