<ngx-charts-chart
  [view]="[width + legendSpacing, height]"
  [showLegend]="legend"
  [legendOptions]="legendOptions"
  [activeEntries]="activeEntries"
  [animations]="animations"
  (legendLabelClick)="onClick($event)"
  (legendLabelActivate)="onActivate($event)"
  (legendLabelDeactivate)="onDeactivate($event)"
>
  <svg:g [attr.transform]="transform" class="line-chart chart">
    <svg:g
      custom-ngx-x-axis
      *ngIf="xAxis"
      [xScale]="xScale"
      [dims]="dims"
      [ticks]="xAxisTicks"
      [showGridLines]="showGridLines"
      [showLabel]="showXAxisLabel"
      [labelText]="xAxisLabel"
      [rotateTicks]="false"
      [tickFormatting]="xAxisTickFormatting"
      [gridLineNgStyleByAxisTick]="gridLineNgStyleByXAxisTick"
      (dimensionsChanged)="updateXAxisHeight($event)"
    ></svg:g>
    <svg:g *ngFor="let tick of xAxisTicks">
      <svg:line
        [attr.x1]="xScale(tick)"
        [attr.x2]="xScale(tick)"
        y1="0"
        [attr.y2]="dims.height"
        stroke="#e4e4e4"
        stroke-width="1"
      />
    </svg:g>

    <svg:g
      ngx-charts-y-axis
      *ngIf="yAxis"
      [yScale]="yScale"
      [dims]="dims"
      [yOrient]="yOrientLeft"
      [showGridLines]="showGridLines"
      [showLabel]="showYAxisLabel"
      [labelText]="yAxisLabel"
      [tickFormatting]="yAxisTickFormatting"
      (dimensionsChanged)="updateYAxisWidth($event)"
    ></svg:g>
    <svg:g *ngFor="let tick of yScale.ticks()">
      <svg:line
        x1="0"
        [attr.x2]="dims.width"
        [attr.y1]="yScale(tick)"
        [attr.y2]="yScale(tick)"
        stroke="#e4e4e4"
        stroke-width="1"
      />
    </svg:g>
    <svg:g
      ngx-charts-y-axis
      *ngIf="yAxis"
      [yScale]="yScaleLine"
      [dims]="dims"
      [yOrient]="yOrientRight"
      [showLabel]="showRightYAxisLabel"
      [labelText]="yAxisLabelRight"
      [tickFormatting]="yRightAxisTickFormatting"
      (dimensionsChanged)="updateYAxisWidth($event)"
    ></svg:g>
    <svg:g *ngIf="showRefLines && referenceLines?.length">
      <svg:line
        *ngFor="let ref of referenceLines"
        [attr.x1]="0"
        [attr.x2]="dims.width"
        [attr.y1]="yScale(ref.value)"
        [attr.y2]="yScale(ref.value)"
        [attr.stroke]="ref.color || 'red'"
        [attr.stroke-width]="ref.strokeWidth || 1"
        [attr.stroke-opacity]="ref.opacity || 1"
        stroke-dasharray="4,2"
      />
    </svg:g>
    <svg:g
      ngx-combo-charts-line-chart
      [xScale]="xScale"
      [yScale]="yScale"
      [colors]="colors"
      [series]="results"
      [seriesLine]="lineChart"
      [dims]="dims"
      [gradient]="gradient"
      [tooltipDisabled]="true"
      [activeEntries]="activeEntries"
      [animations]="animations"
      [noBarWhenZero]="noBarWhenZero"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
      (bandwidth)="updateLineWidth($event)"
      (select)="onClick($event)"
    ></svg:g>
  </svg:g>
  <svg:g [attr.transform]="transform" class="line-chart chart">
    <svg:g>
      <svg:g *ngFor="let series of lineChart; trackBy: trackBy">
        <svg:g
          ngx-charts-line-series
          [xScale]="xScaleLine"
          [yScale]="yScaleLine"
          [colors]="colorsLine"
          [data]="series"
          [activeEntries]="activeEntries"
          [scaleType]="scaleType"
          [curve]="curve"
          [rangeFillOpacity]="rangeFillOpacity"
          [animations]="animations"
        />
      </svg:g>
      <svg:g *ngIf="flagRed2">
        <svg:line
          *ngFor="let ref of referenceLines"
          [attr.x1]="0"
          [attr.x2]="dims.width"
          [attr.y1]="yScaleLine(ref.value)"
          [attr.y2]="yScaleLine(ref.value)"
          [attr.stroke]="ref.color || 'red'"
          [attr.stroke-width]="ref.strokeWidth || 1"
          [attr.stroke-opacity]="ref.opacity || 1"
          stroke-dasharray="4,2"
        />
      </svg:g>
      <svg:g
        ngx-charts-tooltip-area
        *ngIf="!tooltipDisabled"
        [dims]="dims"
        [xSet]="xSet"
        [xScale]="xScaleLine"
        [yScale]="yScaleLine"
        [results]="combinedSeries"
        [colors]="colorsLine"
        [tooltipDisabled]="tooltipDisabled"
        [tooltipTemplate]="seriesTooltipTemplate"
        (hover)="updateHoveredVertical($event)"
      />

      <svg:g *ngFor="let series of lineChart">
        <svg:g
          ngx-charts-circle-series
          [xScale]="xScaleLine"
          [yScale]="yScaleLine"
          [colors]="colorsLine"
          [data]="series"
          [scaleType]="scaleType"
          [visibleValue]="hoveredVertical"
          [activeEntries]="activeEntries"
          [tooltipDisabled]="tooltipDisabled"
          [tooltipTemplate]="tooltipTemplate"
          (select)="onClick($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
        />
      </svg:g>
    </svg:g>
  </svg:g>
</ngx-charts-chart>
