:host {
  height: 100%;
}
.maps-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  position: relative;
}
map-side-nav-seasonal {
  position: relative;
}
.map {
  flex: 1;
  height: 100%;
  position: relative;
}

.map.left-map {
  border-right: 2px solid #ccc;
}

.bg-light {
  background-color: rgba(38, 35, 43, 0.745) !important;
  padding: 2px;
  border-radius: 2px !important;
  color: #fff;
  pre {
    font-weight: bolder;
  }
}

.legenda {
  transform: scale(0.7);
  background: none !important;
  margin-bottom: -20px !important;
}

.selected-dataset {
  font-family: "TitilliumWeb-Semibold";
  font-size: 13px;
  text-transform: uppercase;
  border-bottom: solid 1px #fff;
}

a[href~="https://leafletjs.com"] {
  display:none !important;
}
/*media query*/

@media screen and (max-width: 770px) {
  .selected-dataset {
    font-size: 12px;
  }
}

.leaflet-tooltip {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  padding: 6px 10px;
  pointer-events: none !important;
}

.leaflet-tooltip-pane {
  z-index: 10000 !important;
  pointer-events: none !important;
}

.province-tooltip {
  pointer-events: none !important;
  z-index: 10001 !important;
}
