:host {
  height: 100%;
}
.maps-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  position: relative;
}

.map {
  flex: 1;
  height: 100%;
  position: relative;
}

.map.left-map {
  border-right: 2px solid #ccc;
}

.bg-light {
  background-color: rgba(38, 35, 43, 0.745) !important;
  padding: 2px;
  border-radius: 2px !important;
  color: #fff;
  pre {
    font-weight: bolder;
  }
}

.legenda {
  transform: scale(0.7);
  background: none !important;
  margin-bottom: -20px !important;
}

.selected-dataset {
  font-family: "Montserrat-semibold";
  font-size: 15px;
  text-transform: uppercase;
  border-bottom: solid 1px #fff;
}

/*media query*/

@media screen and (max-height: 640px) {
  .selected-dataset {
    font-size: 20px;
  }
}

@media screen and (max-width: 770px) {
  .selected-dataset {
    font-size: 14px;
  }
}
