/* add custom styles for slider */
#slider-bar {
  margin-top: 10px;
}
.mst-slider {
  .slider {
    width: 100% !important;
    &.slider-horizontal {
      .slider-tick-label-container {
        .slider-tick-label {
          white-space: nowrap;
          text-align: center;
          font-size: 9px;
          line-height: 9px;
          color: #999;
        }
      }
      .tooltip {
        position: relative;
        width: fit-content;
        &.tooltip-main {
          opacity: 1 !important;
          top: -15px;
          &.top {
            .tooltip-arrow:after {
              content: "";
              width: 0;
              height: 0;
              position: absolute;
              //left: 40%;
              bottom: -10px;
              border: transparent 5px solid;
              border-top: #000 5px solid;
              left: 42%;
              border-top: #e49c1e 5px solid;
              top: 31px;
            }
          }
        }
      }
    }
    .tooltip-inner {
      color: #fff;
      font-size: 12px;
      line-height: 1.9;
      text-shadow: none;
      padding: 0;
      border-radius: 30px;
      background: #e49c1e;
      height: 25px;
      padding: 1px 10px;
      font-family: "Montserrat-semibold";
    }
    .tooltip {
      z-index: unset;
      &.top {
        margin-top: -23px;
        &.tooltip-min .tooltip-inner,
        &.tooltip-max .tooltip-inner {
          color: #999;
          background: #e1e4e9;
        }
      }
    }
    .tooltip-arrow {
      position: unset;
      height: 0;
    }
  }
  .slider-selection {
    background: #e49c1e;
  }
  .slider-track-high {
    background: #6c757d;
  }
  .slider-handle {
    background: #f8f8f8;
    border: 1px solid;
    cursor: pointer;
    width: 1.45em;
    height: 1.45em;
    position: absolute;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0;
    line-height: 2.2em;
    text-align: center;
    border-color: #e49c1e !important;
    outline: 0 !important;
    border-radius: 30px !important;

    &:after,
    &:before {
      display: block;
      content: "";
      position: absolute;
      top: 6px;
      left: 7px;
      width: 4px;
      height: 8px;
      border: 1px solid;
      border-width: 0 1px;
      border-color: inherit;
    }
    &:after {
      left: 10px;
      border-width: 0 1px 0 0;
    }
    &:hover {
      background-color: #fff;
    }
    &:active,
    &:focus,
    &:hover {
      outline: 0;
      -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
      box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
    }
  }
  .slider-tick {
    display: none;
  }
}

.calendar-container {
  p {
    padding-left: 0;
    padding-right: 0;
    font-family: "Montserrat-semibold";
  }
  .calendar {
    padding-left: 0;
    padding-right: 0;
    border: solid 1px #6c757d;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    .date {
      padding: 0;
      width: 100%;

      border-top: 0;
      border-bottom: 0;
      font-size: 12px;
      box-shadow: 0 0.125rem 0.25rem rgba($black, 0.075);
      font-family: "Montserrat-semibold";
      & > div {
        padding-top: 5px;
        height: 26px;
        border: solid 1px #6c757d;
      }

      &:first-of-type {
        border-left: 0;
        & > div {
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
        }
      }
      &:last-of-type {
        border-right: 0;
        & > div {
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
        }
      }

      & > .selected {
        background-color: #e49c1e;
        text-transform: uppercase;
        color: #fff;
        border: solid 1px #e49c1e;
        box-shadow: 0 0.5rem 1rem rgba($black, 0.15);
      }
    }
  }
}

/*disabled slider for forecast maps and iff*/
.mst-slider.disabled {
  pointer-events: none;
    .slider-selection{
      background-color: #8b98a3 !important;
    }

    .tooltip {
      display: none;
    }
    .slider-handle {
      background-color: #9CA2A7;
      border-color: #9CA2A7 !important;
      pointer-events: none;
      &:after,
      &:before { 
      border-color: #9CA2A7 !important;
    }
  }
}