/* add the bootstrap-slider style css */
@import "bootstrap-slider/dist/css/bootstrap-slider";
@import "custom-slider";

/* add leaflet and leaflet-draw css */
@import "leaflet/dist/leaflet";
@import "leaflet-draw/dist/leaflet.draw";
@import "leaflet.markercluster/dist/MarkerCluster.Default";
//@import "leaflet-timedimension/dist/leaflet.timedimension.control";
@import "leaflet.timedimension.control";

@import "button-toggle";
@import "weather-icons";

/* customize container width */
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1400px;
  }
}

@media (max-width: 991.98px) {
  .container,
  .container-md,
  .container-sm {
    max-width: none;
  }
}

@font-face {
  font-family: "Montserrat-semibold";
  src: url("../assets/font/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'CourierPrime-Regular';
  src: url('/app/custom/assets/font/CourierPrime-Regular.ttf') format('truetype');
}

body {
  font-family: "Montserrat-semibold";
}

.navbar {
  .navbar-brand {
    margin-right: 20px;

    img {
      height: 48px;
      color: rgba(255, 255, 255, 0.5) !important;
    }

    .project-title {
      /*font-family: 'Manjari Bold';*/
      font-family: "Roboto Condensed";
      top: 9px;
      position: relative;
      font-size: large;
    }
  }
  .navbar-nav {
    .nav-link {
      color: white !important;
      text-transform: uppercase;
      font-size: 0.9rem;
    }
    &.navbar-right .nav-item a {
      background-color: $nav-item-icon-bk;
      border-radius: 25px;
      margin-right: 5px;
    }
  }
}

.footer {
  color: white !important;
}

.spacer {
  min-height: 0rem;
  height: 0rem;
}

[hidden] {
  display: none !important;
}

/* popover and confirmation  */
.popover .card {
  border: none !important;
  text-align: start !important;
}

.popover .card .card-body {
  padding: 0 !important;
}

.hr {
  display: block;
  height: 0;
  overflow: hidden;
  font-size: 0;
  border-width: 1px 0 0 0;
  border-top: 1px solid #e3e3e3;
  margin: 12px 0;
  border-top-color: rgba(0, 0, 0, 0.11);
}

.hr.dotted,
.hr-dotted {
  border-style: dotted;
}

.hr-24,
.hr24 {
  margin: 24px 0;
}

.info-fulltext .tooltip-inner {
  text-align: left;
  font-size: small;
}
.btn-primary {
  background-color: #E49C1E !important;
  border-color: #E49C1E !important;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
      box-shadow: 0 0 0 0.2rem rgb(228 156 30 / 50%) !important;
}

.btn-primary:disabled{
  background-color: #707070d0 !important;
  border-color: #707070d0 !important;
}
.btn:focus,
.btn:active,
.form-control:focus,
.btn-reset:focus,
.btn-reset:active {
  outline: none !important;
  box-shadow: none;
}

.invalid-feedback {
  display: block;
  margin-top: 0;
}

/* Tooltips */
.tooltip.delayed > div {
  font-size: x-small;
  animation-name: delayedFadeIn;
  animation-duration: 1.5s; /* Adjust this duration */
}

@keyframes delayedFadeIn {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  /* Set this to 99% for no fade-in. */
  100% {
    opacity: 1;
  }
}

/* Buttons */
.btn.no-rounded {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.btn.btn-sm.btn-icon {
  width: 30px !important;
}

.btn-icon:focus,
.btn-icon:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn-border-classic,
.btn-icon-border-classic {
  /*color: #212529;*/
  background: transparent;
  border: 1px solid #ccc !important;
}

.btn-border-classic:hover,
.btn-icon-border-classic:hover {
  color: #fff;
  background: #ccc;
}

.btn-border-classic:hover i,
.btn-icon-border-classic:hover i {
  color: #fff !important;
}

/*.btn-icon-border-classic {*/
/*  padding: 2.5px 5px;*/
/*}*/

.btn-icon-border-classic i {
  vertical-align: middle;
}

/* no results */
.no-results {
  background-color: #f8f8f8;
  border: 1px dashed #ccc;
  margin-bottom: 2rem;
  margin-left: 5.5%;
  float: none;
  width: 80%;
  padding: 1.6rem 1.5%;
}

/* Disable box-shadow in Firefox for invalid input fields */
:invalid {
  box-shadow: none;
}

:-moz-submit-invalid {
  box-shadow: none;
}

:-moz-ui-invalid {
  box-shadow: none;
}

ul {
  list-style-type: none;
}

dl.request-summary {
  padding: 0px 40px;
}

dl.request-summary p {
  white-space: normal;
  margin-left: 1.3em;
}

dl.request-summary p:before {
  content: "\f00c"; /* FontAwesome Unicode */
  font-family: "Font Awesome\ 5 Free";
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
}

dl.request-summary p:not(:last-child) {
  margin-bottom: 0;
}

.comma-list {
  display: inline;
  list-style: none;
  padding: 0px;
}

.comma-list li {
  display: inline;
}

.comma-list li::after {
  content: ", ";
}

.comma-list li:last-child::after {
  content: "";
}

.btn-reset {
  background: transparent;
  padding: 0;
  border: 0;
  width: 100%;
}

.mst--data-attribution {
  font-size: 11px;
  background: rgba(255, 255, 255, 0.7);
  margin: 0;
  padding: 0 5px;
  color: #333;
  cursor: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 800;
}

.mst--input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ddd;
  min-width: 90px;
  position: relative;
  text-align: left;
}

.mst--input-error {
  border-bottom-color: #ff4600 !important;
}

.mst--input-error-msg {
  color: #ff4600;
  font-size: small;
  clear: both;
  display: inline-block;
  width: 100%;
}

input[type="radio"]:focus,
.mst--input:focus {
  outline: none;
}

.input-group-append {
  align-items: center;
  border-bottom: 1px solid #ddd;
  justify-content: flex-end;
}

.mst--radio-label {
  position: relative;
  font-weight: 400;
  margin-left: 15px;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mst--radio-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkradio {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

.mst--radio-label:hover input ~ .checkradio {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.mst--radio-label input:checked ~ .checkradio {
  background-color: #53b8e2;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkradio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.mst--radio-label input:checked ~ .checkradio:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.mst--radio-label .checkradio:after {
  top: 7.2px;
  left: 7.2px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: white;
}

.mst--radio-label:before {
  background: #fff;
  border: 2px solid #707070;
  width: 20px;
  height: 20px;
}

.mst--radio-label:after {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin: 4px;
  background: transparent;
}

input[type="radio"]:checked + .mst--radio-label:before {
  border: 2px solid #53b8e2 !important;
  background: #fff;
}

input[type="radio"]:checked + .mst--radio-label:after {
  background: #53b8e2 !important;
}

.mst--input-checkbox {
  opacity: 0;
  position: fixed;
}

.mst--input-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  margin: 6px 0 0 12px;
}

.mst--input-checkbox + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent;
  border: 2px solid #707070;
  vertical-align: sub;
}

.mst--input-checkbox-sm + label:before {
  width: 15px;
  height: 15px;
}

.mst--input-checkbox:hover + label:before {
  background: #fff;
}

.mst--input-checkbox:disabled + label:before {
  box-shadow: none;
  background: #f7f7f7;
  border: 2px solid #f0f0f0;
}

.mst--input-checkbox:disabled + label {
  color: #a9a9a9;
  cursor: auto;
}

.mst--input-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 11px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
    4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}

.mst--input-checkbox-sm:checked + label:after {
  left: 3px;
  top: 8px;
}

.mst--input-checkbox:checked + label:before {
  background: #53b8e2;
  border: 2px solid #53b8e2;
}

.mst--expansion-panel {
  border-radius: 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.18);
  margin: 20px 30px;
}

.mst--expansion-panel.mst--info-panel {
  margin-top: 0;
}

/*.mst--expansion-panel:first-child {*/
/*    margin-top: 0;*/
/*}*/

/*.mst--expansion-panel:last-child {*/
/*    margin-bottom: 0;*/
/*}*/

.mst--expansion-panel .card-header {
  background: #fff;
  border: 0;
  padding: 10px 25px;
}

.mst--expansion-panel .card-header h5 {
  display: inline;
}

.mst--expansion-panel .card-header .info-help {
  color: #707070;
  padding-left: 5px;
}

.mst--expansion-panel .card-header .btn-link {
  border: 0;
  color: #333;
  padding: 5px 0;
  overflow: hidden;
  text-align: left;
  width: 100%;
}

.mst--expansion-panel .card-header .btn-link:hover,
.imc--expansion-panel .card-header .btn-link:focus {
  text-decoration: none;
  outline: none;
  border: 0;
}

.mst--expansion-panel .card-body {
  padding-top: 0;
  margin: 0;
}

.mst--expansion-panel .card-body h5 {
  font-size: 16px;
}

.mst--expansion-panel .card-body strong {
  color: #333;
}

.mst--expansion-panel .card-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mst--expansion-panel .card-body .list-space li {
  margin: 8px 0;
}

.mst--list-filter {
  max-height: 330px;
  overflow: auto;
  margin-bottom: 10px !important;
}

.mst--list-columns {
  columns: 400px 2;
  -webkit-columns: 400px 2;
  -moz-columns: 400px 2;
}

.btn-default {
  border-color: #ccc;
}

.tab-content .choice {
  text-align: center;
  cursor: pointer;
  margin-top: 38px;
}

.tab-content .choice i {
  font-size: 32px;
  line-height: 55px;
}

.btn-radio {
  width: 100%;
}

.img-radio {
  opacity: 0.8;
  margin-bottom: 5px;
}

.space-10 {
  margin-top: 10px;
}

.space-20 {
  margin-top: 20px;
}

.board {
  /*width: 75%;*/
  /*margin: 30px auto;*/
  /*height: 500px;*/
  background: #fff;
  /*box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
}

.board .nav-tabs {
  position: relative;
  /*margin: 40px auto;*/
  margin-bottom: 0;
  box-sizing: border-box;
}

div.board + pre {
  background: #ddd;
}

.modal-body .modal-v-scrollable {
  overflow-y: hidden;
  height: calc(100vh - 15rem);
}

.modal-body .modal-v-scrollable > div:first-child {
  overflow-y: auto;
  height: 100%;
}

/* Custom ngx-datatable styles */
/* --------------------------- */
.ngx-datatable .datatable-body .datatable-row-detail {
  background: #d1d4d7; /*#f5f5f5;*/
  padding: 10px;
  margin: 2px 0px;
}

.ngx-datatable .datatable-body .datatable-scroll {
  width: 100% !important;
}

/* style my-requests sidebar */
.sidenav .nav-tabs,
.sidenav .nav-pills {
  border-bottom: none;
}

.sidenav .nav-tabs .nav-link,
.sidenav .nav-pills .nav-link {
  border: solid transparent;
  border-width: 1px 1px 1px 0;
  -webkit-border-radius: 0 16px 16px 0;
  border-radius: 0 16px 16px 0;
  font-weight: 600;
  color: #5f6368;
}

.sidenav .nav-tabs .nav-link:hover,
.sidenav .nav-pills .nav-link:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.sidenav .nav-tabs .nav-link.active,
.sidenav .nav-pills .nav-link.active {
  background-color: #e8f0fe;
  color: #1967d2;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*input.ng-invalid {
  border-color: red !important;
  border-style: solid;
}*/

/* the following fix flickering issues with map carousel */
.carousel-inner {
  .carousel-item {
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    position: absolute;

    &:first-of-type {
      position: relative;
    }
  }

  .active {
    opacity: 1;
  }
}

/* .legenda {
  padding: 6px 12px;
  font: 12px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 6px;
  color: #555;
  i {
    width: 16px;
    height: 6px;
    line-height: 13px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
} */

.legend_t2m {
  padding: 6px 12px;
  font: 12px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 7px;
  color: #555;

  i {
    width: 16px;
    height: 6px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
}

.legend_prec {
  padding: 6px 12px;
  font: 12px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 14px;
  color: #555;

  i {
    width: 16px;
    height: 13px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
}

.legend_cc {
  padding: 6px 6px;
  font: 15px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 40px;
  color: #555;

  i {
    width: 16px;
    height: 39px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
}

.legend_rh {
  padding: 6px 6px;
  font: 15px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 40px;
  color: #555;

  i {
    width: 16px;
    height: 39px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
}

.legend_sf {
  padding: 6px 6px;
  font: 12px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 13px;
  color: #555;

  i {
    width: 16px;
    height: 12px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
}

.legend_tpprob {
  padding: 6px 6px;
  font: 12px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 22px;
  color: #555;

  i {
    width: 16px;
    height: 21px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
}

.legend_tpperc {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 15px;
  color: #555;

  i {
    width: 16px;
    height: 14px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
}

.legend_ws {
  padding: 6px 12px;
  font: 12px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 8px;
  color: #555;

  i {
    width: 16px;
    height: 7.5px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
}

/* leaflet markers */
.leaflet-marker-icon {
  display: flex;
}

/*
.leaflet-div-icon {
  width: auto !important;
  height: auto !important;
  border: none;
  border-radius: 1em;
  border: 1px solid #ddd;
} */

.mst-marker-icon {
  width: auto !important;
  height: auto !important;
  border: 1px solid #ddd;
  border-radius: 1em;
}

.mstDataIcon {
  text-align: center;
  height: 25px;
  line-height: 20px;
  border-style: double;
  white-space: nowrap;
  padding: 0px 2px;
}

.mstObsIcon {
  text-align: center;
  white-space: nowrap;
  padding: 0px 4px;
  font-size: 11px;
  min-width: 25px;
}

.mst-obs-tooltip {
  line-height: 1.2;
  /*background: #ddd;*/
  font-size: 11px;
  /*border-color: #ddd;*/
}

.ngb-dp-day.disabled {
  color: #cccccc;
}

/* to fix the display, of number with more than 3 figures, over the marker */

.marker-cluster div {
  width: 32px;
  margin-left: 4px;
  font: 10px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.mst-obs-marker-color-undefined {
  background-color: rgba(0, 0, 0, 0.2);
}

.mst-obs-marker-color-3030ff {
  background-color: rgba(48, 48, 255, 0.6);
}

.mst-obs-marker-color-007885 {
  background-color: rgba(0, 120, 133, 0.6);
}

.mst-obs-marker-color-00855D {
  background-color: rgba(0, 133, 93, 0.6);
}

.mst-obs-marker-color-0D8500 {
  background-color: rgba(13, 133, 0, 0.6);
}

.mst-obs-marker-color-478500 {
  background-color: rgba(71, 133, 0, 0.6);
}

.mst-obs-marker-color-788500 {
  background-color: rgba(120, 133, 0, 0.6);
}

.mst-obs-marker-color-853C00 {
  background-color: rgba(133, 60, 0, 0.6);
}

.mst-obs-marker-color-850000 {
  background-color: rgba(133, 0, 0, 0.6);
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.card-horizontal .img-square-wrapper img {
  width:200px !important;
}

customfooter > div {
  font-size:13px !important;
}

.navbar-light .navbar-toggler {
  color:#fff;
  font-size: 29px;
  letter-spacing: -11px;
  border:none;
}

/* adapt the alert box to the card*/
.adapt-alert {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}
