/* add the bootstrap-slider style css */
@import "bootstrap-slider/dist/css/bootstrap-slider";
@import "custom-slider";

/* add leaflet and leaflet-draw css */
@import "leaflet/dist/leaflet";
@import "leaflet-draw/dist/leaflet.draw";
@import "leaflet.markercluster/dist/MarkerCluster.Default";
//@import "leaflet-timedimension/dist/leaflet.timedimension.control";
@import "leaflet.timedimension.control";

@import "button-toggle";
@import "weather-icons";

$light-orange: #e49c1e;
$light-orange-shadow: rgba(228, 156, 30, 0.25);
$light-blue: #157acc;
$dark-blue: #004080;

/* customize container width */
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1400px;
  }
}
@media (max-width: 1200px) {
  .navbar .navbar-nav .nav-link,
  .dropdown-item {
    font-size: 0.8rem !important;
  }
}
@media (max-width: 991.98px) {
  .container,
  .container-md,
  .container-sm {
    max-width: none;
  }
  .navbar.navbar-light {
    height: 74px !important;
  }

  .navbar .navbar-nav:first-of-type {
    margin-left: -12px;
    margin-right: -12px;

    .nav-link {
      font-size: 0.65rem !important;
      padding-right: 0.3rem;
      padding-left: 0.3rem;
    }
  }
  .navbar .navbar-brand img {
    height: 50px !important;
    margin-bottom: -8px !important;
  }
  .nav.navbar-nav.rpd-menu-controls .nav-item a {
    margin-right: 0 !important;
    padding: 2px !important;
  }
  .navbar .navbar-brand {
    margin-right: 6px !important;
  }
}

.subtitle {
  font-size: 14px !important;
  color: $dark-blue !important;
  text-transform: uppercase;
}

@font-face {
  font-family: "Montserrat-semibold";
  src: url("../assets/font/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-regular";
  src: url("../assets/font/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "CourierPrime-Regular";
  src: url("/app/custom/assets/font/CourierPrime-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "TitilliumWeb-Regular";
  src: url("../assets/font/TitilliumWeb-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "TitilliumWeb-SemiBold";
  src: url("../assets/font/TitilliumWeb-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Prompt-Bold";
  src: url("../assets/font/Prompt-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Prompt-SemiBold";
  src: url("../assets/font/Prompt-SemiBold.ttf") format("truetype");
}
body {
  font-family: "TitilliumWeb-Regular";
}

strong,
label,
h3,
h4,
h5,
h5 > span,
h6 {
  font-family: "TitilliumWeb-SemiBold";
}
.navbar {
  font-family: "TitilliumWeb-SemiBold";
  height: 93px !important;
  .navbar-brand {
    margin-right: 20px;
    font-family: "TitilliumWeb-Regular";

    img {
      height: 60px;
      color: rgba(255, 255, 255, 0.5) !important;
      margin-bottom: -10px;
    }

    .project-title {
      /*font-family: 'Manjari Bold';*/
      font-family: "TitilliumWeb-Regular";
      top: 9px;
      position: relative;
      font-size: large;
    }
  }
  .navbar-nav {
    background-color: $light-blue !important;
    .nav-link {
      color: white !important;
      text-transform: uppercase;
      font-size: 1.1rem;
      margin-left: 12px;

      &.active {
        text-decoration: underline;
      }
      &.btn.active {
        color: #fff !important;
      }
    }
  }
}
.dropdown {
  text-align: right !important;
}

.dropdown-menu {
  background-color: $light-blue !important;

  .dropdown-item {
    color: #fff !important;

    &:hover,
    &:focus {
      text-decoration: underline;
      background-color: transparent !important;
    }
  }
}
.dropdown-menu[data-bs-popper] {
  margin-top: 0.47rem !important;
}
.dropdown-item.active,
.dropdown-item:active {
  text-decoration: underline;
  background-color: transparent !important;
}

.nav.navbar-nav.rpd-menu-controls .nav-item a {
    color: #fff;
    font-family: 'TitilliumWeb-SemiBold';
    border-color: #fff;
    border-radius: 30px !important;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #fff !important;
    &.btn:first-child:hover {
        background-color: $dark-blue !important;
    }
}

h3 {
  color: $dark-blue !important;
}

.footer {
  color: white !important;
}

.spacer {
  min-height: 0rem;
  height: 0rem;
  display: none !important;
}

[hidden] {
  display: none !important;
}

/* popover and confirmation  */
.popover .card {
  border: none !important;
  text-align: start !important;
}

.popover .card .card-body {
  padding: 0 !important;
}

.hr {
  display: block;
  height: 0;
  overflow: hidden;
  font-size: 0;
  border-width: 1px 0 0 0;
  border-top: 1px solid #e3e3e3;
  margin: 12px 0;
  border-top-color: rgba(0, 0, 0, 0.11);
}

.hr.dotted,
.hr-dotted {
  border-style: dotted;
}

.hr-24,
.hr24 {
  margin: 24px 0;
}

.info-fulltext .tooltip-inner {
  text-align: left;
  font-size: small;
}
.btn-primary {
  background-color: $dark-blue !important;
  border-color: $dark-blue !important;
  border-radius: 4px;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem #0040807e !important;
}

.btn-primary:disabled {
  background-color: #707070d0 !important;
  border-color: #707070d0 !important;
}
.btn:focus,
.btn:active,
.form-select:focus,
.btn-reset:focus,
.btn-reset:active,
.btn-close:focus,
.btn-close:active {
  outline: none !important;
  box-shadow: none;
}

.invalid-feedback {
  display: block;
  margin-top: 0;
}

/* Tooltips */
.tooltip.delayed > div {
  font-size: x-small;
  animation-name: delayedFadeIn;
  animation-duration: 1.5s; /* Adjust this duration */
}

@keyframes delayedFadeIn {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  /* Set this to 99% for no fade-in. */
  100% {
    opacity: 1;
  }
}

/* Buttons */
.btn.no-rounded {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.btn.btn-sm.btn-icon {
  width: 30px !important;
}

.btn-icon:focus,
.btn-icon:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn-border-classic,
.btn-icon-border-classic {
  color: #fff;
  background-color: $dark-blue;
  border: 1px solid $dark-blue !important;
}

.btn-border-classic:hover,
.btn-icon-border-classic:hover {
  color: #fff;
  filter: brightness(85%);
}

.btn-border-classic:hover i,
.btn-icon-border-classic:hover i {
  color: #fff !important;
}

/*.btn-icon-border-classic {*/
/*  padding: 2.5px 5px;*/
/*}*/

.btn-icon-border-classic i {
  vertical-align: middle;
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430;
}
.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: $light-blue;
  border-color: $light-blue;
}

/* no results */
.no-results {
  background-color: #f8f8f8;
  border: 1px dashed #ccc;
  margin-bottom: 2rem;
  margin-left: 5.5%;
  float: none;
  width: 80%;
  padding: 1.6rem 1.5%;
}

/* Disable box-shadow in Firefox for invalid input fields */
:invalid {
  box-shadow: none;
}

:-moz-submit-invalid {
  box-shadow: none;
}

:-moz-ui-invalid {
  box-shadow: none;
}

ul {
  list-style-type: none;
}

dl.request-summary {
  padding: 0px 40px;
  p {
    white-space: normal;
    margin-left: 1.3em;
    &:before {
      content: "\f00c"; /* FontAwesome Unicode */
      font-family: "Font Awesome\ 6 Free";
      display: inline-block;
      margin-left: -1.3em;
      width: 1.3em;
    }
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.comma-list {
  display: inline;
  list-style: none;
  padding: 0px;
  li {
    display: inline;
    &:after {
      content: ", ";
    }
    &:last-child::after {
      content: "";
    }
  }
}

.btn-reset {
  background: transparent;
  padding: 0;
  border: 0;
  width: 100%;
}

.mst--data-attribution {
  font-size: 11px;
  background: rgba(255, 255, 255, 0.7);
  margin: 0;
  padding: 0 5px;
  color: #333;
  cursor: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 800;
}

.datatable-body-cell-label a {
  color: $light-blue;
}

.mst--input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ddd;
  min-width: 90px;
  position: relative;
  text-align: left;
}

.mst--input-error {
  border-bottom-color: #ff4600 !important;
}

.mst--input-error-msg {
  color: #ff4600;
  font-size: small;
  clear: both;
  display: inline-block;
  width: 100%;
}

input[type="radio"]:focus,
.mst--input:focus {
  outline: none;
}

.input-group-append {
  align-items: center;
  border-bottom: 1px solid #ddd;
  justify-content: flex-end;
}

.mst--radio-label {
  position: relative;
  font-weight: 400;
  margin-left: 15px;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mst--radio-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkradio {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

.mst--radio-label:hover input ~ .checkradio {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.mst--radio-label input:checked ~ .checkradio {
  background-color: #53b8e2;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkradio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.mst--radio-label input:checked ~ .checkradio:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.mst--radio-label .checkradio:after {
  top: 7.2px;
  left: 7.2px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: white;
}

.mst--radio-label:before {
  background: #fff;
  border: 2px solid #707070;
  width: 20px;
  height: 20px;
}

.mst--radio-label:after {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin: 4px;
  background: transparent;
}

input[type="radio"]:checked + .mst--radio-label:before {
  border: 2px solid #53b8e2 !important;
  background: #fff;
}

input[type="radio"]:checked + .mst--radio-label:after {
  background: #53b8e2 !important;
}

.mst--input-checkbox {
  opacity: 0;
  position: fixed;
}

.mst--input-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  margin: 6px 0 0 12px;
}

.mst--input-checkbox + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent;
  border: 2px solid #707070;
  vertical-align: sub;
}

.mst--input-checkbox-sm + label:before {
  width: 15px;
  height: 15px;
}

.mst--input-checkbox:hover + label:before {
  background: #fff;
}

.mst--input-checkbox:disabled + label:before {
  box-shadow: none;
  background: #f7f7f7;
  border: 2px solid #f0f0f0;
}

.mst--input-checkbox:disabled + label {
  color: #a9a9a9;
  cursor: auto;
}

.mst--input-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 11px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
    4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}

.mst--input-checkbox-sm:checked + label:after {
  left: 3px;
  top: 8px;
}

.mst--input-checkbox:checked + label:before {
  background: #53b8e2;
  border: 2px solid #53b8e2;
}

.mst--expansion-panel {
  border-radius: 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.18);
  margin: 20px 30px;
}

.mst--expansion-panel.mst--info-panel {
  margin-top: 0;
}

/*.mst--expansion-panel:first-child {*/
/*    margin-top: 0;*/
/*}*/

/*.mst--expansion-panel:last-child {*/
/*    margin-bottom: 0;*/
/*}*/

.mst--expansion-panel .card-header {
  background: #fff;
  border: 0;
  padding: 10px 25px;
}

.mst--expansion-panel .card-header h5 {
  display: inline;
}

.mst--expansion-panel .card-header .info-help,
.mst--expansion-panel .body .info-help {
  color: #707070;
  padding-left: 5px;
}

.mst--expansion-panel .card-header .btn-link {
  border: 0;
  color: #333;
  padding: 5px 0;
  overflow: hidden;
  text-align: left;
  width: 100%;
}

.mst--expansion-panel .card-header .btn-link:hover,
.imc--expansion-panel .card-header .btn-link:focus {
  text-decoration: none;
  outline: none;
  border: 0;
}

.mst--expansion-panel .card-body {
  padding-top: 0;
  margin: 0;
}

.mst--expansion-panel .card-body h5 {
  font-size: 16px;
}

.mst--expansion-panel .card-body strong {
  color: #333;
}

.mst--expansion-panel .card-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mst--expansion-panel .card-body .list-space li {
  margin: 8px 0;
}

.mst--list-filter {
  max-height: 330px;
  overflow: auto;
  margin-bottom: 10px !important;
}

.mst--list-columns {
  columns: 400px 2;
  -webkit-columns: 400px 2;
  -moz-columns: 400px 2;
}

.btn-default {
  border-color: #ccc;
}

.tab-content .choice {
  text-align: center;
  cursor: pointer;
  margin-top: 38px;
}

.tab-content .choice i {
  font-size: 32px;
  line-height: 55px;
}

.btn-radio {
  width: 100%;
}

.img-radio {
  opacity: 0.8;
  margin-bottom: 5px;
}

.space-10 {
  margin-top: 10px;
}

.space-20 {
  margin-top: 20px;
}

.board {
  /*width: 75%;*/
  /*margin: 30px auto;*/
  /*height: 500px;*/
  background: #fff;
  /*box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
}

.board .nav-tabs {
  position: relative;
  /*margin: 40px auto;*/
  margin-bottom: 0;
  box-sizing: border-box;
}

div.board + pre {
  background: #ddd;
}

.modal-body .modal-v-scrollable {
  overflow-y: hidden;
  height: calc(100vh - 15rem);
}

.modal-body .modal-v-scrollable > div:first-child {
  overflow-y: auto;
  height: 100%;
}

/* Custom partecipate page style */

.participate h4 {
  color: $light-blue !important;
}

.participate h5 {
  text-transform: uppercase;
  color: $light-blue;
}

.participate ul {
  list-style-type: initial;

  li::marker {
    display: none;
  }
}
/* Custom ngx-datatable styles */
/* --------------------------- */
.ngx-datatable .datatable-body .datatable-row-detail {
  background: #d1d4d7; /*#f5f5f5;*/
  padding: 10px;
  margin: 2px 0px;
}

.ngx-datatable .datatable-body .datatable-scroll {
  width: 100% !important;
}

/* style my-requests sidebar */
.sidenav .nav-tabs,
.sidenav .nav-pills {
  border-bottom: none;
}

.sidenav .nav-tabs .nav-link,
.sidenav .nav-pills .nav-link {
  border: solid transparent;
  border-width: 1px 1px 1px 0;
  -webkit-border-radius: 0 16px 16px 0;
  border-radius: 0 16px 16px 0;
  font-weight: 600;
  color: #5f6368;
}
.sidenav .accordion-item {
  border: 1px solid rgba(255, 255, 255, 0) !important;
  .accordion-body {
    padding: 0 !important;
  }
  .accordion-button {
    padding: 6px !important;

    h6 {
      margin-top: 0.5rem;
    }
  }

  label {
    font-size: 14px;
  }
}

.accordion-button:focus {
  z-index: 3;
  border-color: $dark-blue !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #0040807e !important;
}

.accordion-button:not(.collapsed) {
  color: #fff !important;
  background-color: $dark-blue !important;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white' %3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.sidenav .nav-tabs .nav-link:hover,
.sidenav .nav-pills .nav-link:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.sidenav .nav-tabs .nav-link.active,
.sidenav .nav-pills .nav-link.active {
  background-color: #e8f0fe;
  color: #1967d2;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/*input.ng-invalid {
  border-color: red !important;
  border-style: solid;
}*/

/* the following fix flickering issues with map carousel */
.carousel-inner {
  .carousel-item {
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    position: absolute;

    &:first-of-type {
      position: relative;
    }
  }

  .active {
    opacity: 1;
  }
}

/*custom style for carousel when map not avaliable and no ready file founded*/

.noreadyfile {
  min-height: 587px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;

  & + .carousel {
    display: none !important;
    height: 0 !important;
  }
  .no-results {
    height: 188px !important;
  }
}

.notavaliable {
  min-height: 532px;
  display: flex !important;

  .carousel-inner .carousel-item {
    min-height: 532px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

    .picsum-img-wrapper {
      height: 100% !important;
      width: 100% !important;
      position: relative !important;
      display: flex;
      justify-content: center;

      .no-results {
        margin-left: 0 !important;
      }
    }
  }
}

/* .legenda {
  padding: 6px 12px;
  font: 12px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 6px;
  color: #555;
  i {
    width: 16px;
    height: 6px;
    line-height: 13px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
} */

.legend_t2m {
  padding: 6px 12px;
  font: 12px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 7px;
  color: #555;

  i {
    width: 16px;
    height: 6px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
}

.legend_prec {
  padding: 6px 12px;
  font: 12px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 14px;
  color: #555;

  i {
    width: 16px;
    height: 13px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
}

.legend_cc {
  padding: 6px 6px;
  font: 15px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 40px;
  color: #555;

  i {
    width: 16px;
    height: 39px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
}

.legend_rh {
  padding: 6px 6px;
  font: 15px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 40px;
  color: #555;

  i {
    width: 16px;
    height: 39px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
}

.legend_sf {
  padding: 6px 6px;
  font: 12px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 13px;
  color: #555;

  i {
    width: 16px;
    height: 12px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
}

.legend_tpprob {
  padding: 6px 6px;
  font: 12px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 22px;
  color: #555;

  i {
    width: 16px;
    height: 21px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
}

.legend_tpperc {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 15px;
  color: #555;

  i {
    width: 16px;
    height: 14px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
}

.legend_ws {
  padding: 6px 12px;
  font: 12px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 8px;
  color: #555;

  i {
    width: 16px;
    height: 7.5px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
}

/* leaflet markers */
.leaflet-marker-icon {
  display: flex;
}

/*
.leaflet-div-icon {
  width: auto !important;
  height: auto !important;
  border: none;
  border-radius: 1em;
  border: 1px solid #ddd;
} */

.mst-marker-icon {
  width: auto !important;
  height: auto !important;
  border: 1px solid #ddd;
  border-radius: 1em;
}

.mstDataIcon {
  text-align: center;
  height: 25px;
  line-height: 20px;
  border-style: double;
  white-space: nowrap;
  padding: 0px 2px;
}

.mstObsIcon {
  text-align: center;
  white-space: nowrap;
  padding: 0px 4px;
  font-size: 11px;
  min-width: 25px;
}

.mst-obs-tooltip {
  line-height: 1.2;
  /*background: #ddd;*/
  font-size: 11px;
  /*border-color: #ddd;*/
}

.ngb-dp-day.disabled {
  color: #cccccc;
}

/* to fix the display, of number with more than 3 figures, over the marker */

.marker-cluster div {
  width: 32px;
  margin-left: 4px;
  font: 10px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.mst-obs-marker-color-undefined {
  background-color: rgba(0, 0, 0, 0.2);
}

.mst-obs-marker-color-3030ff {
  background-color: rgba(48, 48, 255, 0.6);
}

.mst-obs-marker-color-007885 {
  background-color: rgba(0, 120, 133, 0.6);
}

.mst-obs-marker-color-00855D {
  background-color: rgba(0, 133, 93, 0.6);
}

.mst-obs-marker-color-0D8500 {
  background-color: rgba(13, 133, 0, 0.6);
  text-align: right;
}

.mst-obs-marker-color-478500 {
  background-color: rgba(71, 133, 0, 0.6);
}

.mst-obs-marker-color-788500 {
  background-color: rgba(120, 133, 0, 0.6);
}

.mst-obs-marker-color-853C00 {
  background-color: rgba(133, 60, 0, 0.6);
}

.mst-obs-marker-color-850000 {
  background-color: rgba(133, 0, 0, 0.6);
}

.footer {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.card-horizontal .img-square-wrapper img {
  max-width: 150px;
  height: auto;
}

customfooter > div {
  font-size: 12px !important;
}

.navbar-light .navbar-toggler {
  color: #fff;
  font-size: 23px;
  letter-spacing: -11px;
  border: none;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/* adapt the alert box to the card*/
.adapt-alert {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

/*media query nav and footer*/
@media screen and (max-width: 574px) {
  .navbar-toggler + .navbar-collapse customlinks .navbar-nav {
    align-items: flex-end !important;
    padding-right: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: $light-blue !important;
  }

  .rpd-menu-controls {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: end;
    justify-content: end;
    background-color: #157acc;
    margin-top: -10px;
    margin-left: -12px !important;
    margin-right: -12px !important;
    padding: 9px;
  }

  .footer {
    .footer-container {
      .container-left {
        flex-direction: column !important;
        line-height: 0.8em;
      }

      & > div {
        font-size: 10px !important;
      }

      .card-horizontal .img-square-wrapper img {
        width: 73px !important;
      }
    }
  }
  .dropdown-menu {
    min-width: initial;
    padding: 0.5rem 0;
    font-size: 1rem;
    color: #fff;
    text-align: left !important;
    background-color: transparent !important;
    border: none !important;

    &[data-bs-popper] {
      margin-top: -0.47rem !important;
    }

    .dropdown-item {
      display: block;
      width: 100%;
      padding: 0.25rem 0;
      clear: both;
      font-weight: inherit;
      color: #fff !important;
      text-align: right;
      text-decoration: none;
      white-space: nowrap;
      background-color: transparent;
      border: 0;
      font-size: 0.65rem !important;

      &.active,
      &:active {
        text-decoration: underline;
      }
    }
  }

  app-meteo-tiles {
    .map-sidenav {
      width: 190px !important;
      cursor: auto;
      .toggle {
        width: 30px !important;
        height: 30px !important;
        margin-left: 133px !important;

        &.collapsed {
          margin-left: 10px !important;
        }
      }
      .selettore-multimodel input {
        right: -22px !important;
      }
    }

    .leaflet-left .leaflet-control {
     // margin-right: -16px;
    }
  }
}

@media screen and (max-height: 635px) {
  .footer {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }

  .navbar .navbar-nav .nav-link {
    font-size: 0.7rem;
  }
  .card-horizontal .img-square-wrapper img {
    width: 160px !important;
  }
}


.ngx-datatable.bootstrap
  .datatable-body
  .datatable-body-row
  .datatable-body-cell,
.ngx-datatable.bootstrap .datatable-header .datatable-header-cell {
  padding: 0.6rem !important;
  margin-left: -5px !important;
}

/*custom style forecast and iff*/
app-forecast-maps {
  background-color: #f7f7f7 !important;
  .container-fluid {
    background-color: #f7f7f7 !important;
    padding-bottom: 1.3rem !important;
    .card {
      border-color: #f7f7f7 !important;
      .card-header {
        border: solid 1px var(--bs-border-color-translucent);
      }
      .card-footer {
        border-top: 0;
      }
    }
  }
}
app-flash-flood-maps {
  background-color: #f7f7f7 !important;
  .container-fluid {
    background-color: #f7f7f7 !important;
    padding-bottom: 1.3rem !important;
    .card {
      border-color: #f7f7f7 !important;
      .card-header {
        border: solid 1px var(--bs-border-color-translucent);
      }
      .card-footer {
        border-top: 0;
      }
    }
  }
}

.ngb-dp-month,
ngb-datepicker.dropdown-menu {
  background-color: #fff !important;
}
