h4 {
  display: inline;
  padding: 0 2px;
}

/*#show-button {*/
/*  margin-right: 40px;*/
/*}*/

#collapse-filter { display: none; }
@media (max-width: 991.98px)  {
  #collapse-filter {
    display: block;
  }
}

/**
.carousel > .carousel-inner > .carousel-item > img {
  object-fit: contain !important;
  height: 100% !important;
}

.carousel > .carousel-inner > .carousel-item {
  height: 73vh !important;
}


.carousel-item .img-fluid {
  width:100%;
  height:100%;
}


@media (max-height: 640px) and (orientation: landscape) {
  .carousel > .carousel-inner > .carousel-item {
    height: 50vh;
  }
}
**/
@media (max-width: 991.98px) {
  .badges { margin-bottom: 10px; }
}

.carousel:focus { outline: none !important;}

.carousel-caption {
  bottom: -20px !important;
}

.card-footer, .card-header {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.card-body {
  padding: 0.50rem;
  position: relative;
}

/* fit image centered in the carousel */
.carousel-img {
    width: 100%;
    /*height: 100%;*/
    max-height: 73vh;
    object-fit: scale-down;
}

#map-container {
  min-height: 380px;
}
@media (max-width: 991.98px)  {
  #map-container {
    min-height: auto;
  }
}
