<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-auto px-1">
        <button
          id="collapse-filter"
          type="button"
          class="btn btn-default btn-lg"
          (click)="collapse()"
        >
          &#9776;
        </button>
      </div>
      <div class="col px-1">
        <div class="row">
          <div
            class="col-lg-6 badges"
            style="text-align: left; vertical-align: middle"
          >
            <h5 class="parameter">
              <span
                class="badge bg-info"
                *ngIf="
                  filter.field != 'percentile' && filter.field != 'probability'
                "
              >
                {{ getValue("field", filter.field) }}
              </span>
              <span class="badge bg-info" *ngIf="filter.field == 'percentile'">
                {{ getValue("field", filter.field) }}: perc
                {{ filter.level_pe }}
              </span>
              <span class="badge bg-info" *ngIf="filter.field == 'probability'">
                {{ getValue("field", filter.field) }} &gt;
                {{ filter.level_pr }} mm
              </span>
            </h5>
            <h5 class="parameter">
              <span class="badge bg-success">{{ selectedRun.value }}</span>
            </h5>
            <h5 class="parameter">
              <span class="badge bg-warning"
                >{{ getValue("res", filter.res) }} Km</span
              >
            </h5>
            <h5 class="parameter">
              <span class="badge bg-secondary">{{
                getValue("area", filter.area)
              }}</span>
            </h5>
            <div
              *ngIf="
                filter.field == 'percentile' || filter.field == 'probability'
              "
              class="explain"
            >
              From 0 to 48h: blending of ecPoint-Rainfall and COSMO-2I-EPS
              post-processed
              <br />
              From 48h to 240h (day 10): only ecPoint-Rainfall is available
            </div>
          </div>
          <div
            class="col-lg-6"
            style="text-align: center; vertical-align: middle"
          >
            <ngx-spinner
              type="ball-scale-multiple"
              [name]="LEGEND_SPINNER"
              bdColor="rgba(248, 249, 250, 0.8)"
              color="#6c757d"
              [fullScreen]="false"
              size="default"
            ></ngx-spinner>
            <img
              class="img-fluid legend"
              [src]="legendToShow"
              alt="legend"
              *ngIf="legendToShow"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <ngx-spinner
      type="ball-scale-multiple"
      [name]="IMAGE_SPINNER"
      bdColor="rgba(255,255,255,0.8)"
      color="#6c757d"
      zIndex="1000"
      [fullScreen]="false"
      size="medium"
    >
      <p style="margin-top: 3rem">Map loading...</p>
    </ngx-spinner>

    <div class="dpc-container">
      <div
        *ngIf="
          (filter.field == 'percentile' || filter.field == 'probability') &&
          mapAvailable
        "
        class="dpc-label"
      >
        Forecast model: <b>Italy Flash Flood</b> - Reference date:
        <b>{{ timestampRun | amFromUtc | amDateFormat : "YYYY-MM-DD" }}</b> -
        Product: <b>{{ selectedRun.value }}</b>
      </div>
      <div
        *ngIf="
          filter.field != 'percentile' &&
          filter.field != 'probability' &&
          mapAvailable
        "
        class="dpc-label"
      >
        Forecast model: <b>{{ getValue("res", filter.res) }} Km</b> - Reference
        date:
        <b>{{ timestampRun | amFromUtc | amDateFormat : "YYYY-MM-DD" }}</b> -
        Product: <b>{{ selectedRun.value }}</b>
      </div>
    </div>

    <div id="map-container">
      <ngb-carousel
        #carousel
        interval="300"
        [pauseOnHover]="false"
        [showNavigationArrows]="false"
        [showNavigationIndicators]="false"
        [keyboard]="false"
        (slide)="onSlide($event)"
        [class.notavaliable]="!mapAvailable"
      >
        <ng-template
          ngbSlide
          *ngFor="let image of images | slice : fromMinImage; index as i"
          id="slideId-{{ i + fromMinImage }}"
        >
          <div class="carousel-caption" *ngIf="mapAvailable">
            <!--<h3>Image[{{i+fromMinImage}}] - slice {{fromMinImage}}</h3>  -->
            <h5>
              <span
                class="badge bg-secondary label-time clickable"
                (click)="toggleUtcTime()"
              >
                <ng-container *ngIf="utcTime; else noUtc">
                  {{
                    timestamp | amFromUtc | amDateFormat : "YYYY-MM-DD HH:00"
                  }}
                  (UTC)
                </ng-container>
                <ng-template #noUtc>
                  {{ timestamp | amDateFormat : "YYYY-MM-DD HH:00 (Z)" }}
                </ng-template>
              </span>
            </h5>
          </div>
          <div class="picsum-img-wrapper">
            <img
              [src]="image"
              alt="map"
              class="mx-auto d-block carousel-img"
              *ngIf="image && mapAvailable"
            />
            <div
              *ngIf="
                (filter.field == 'prec3' || filter.field == 't2m') &&
                mapAvailable
              "
              style="font-size: 90%; margin: 5px"
            >
              <div class="mst--data-attribution">
                <!-- Work distributed under License -->
                <a
                  target="_blank"
                  rel="noopener"
                  [routerLink]="'/app/license'"
                  [fragment]="'mistral-products'"
                  title="[MISTRAL]"
                >
                  &copy; MISTRAL
                  <!-- CC BY-ND 4.0 -->
                </a>
              </div>
            </div>
            <div class="no-results" *ngIf="!mapAvailable">
              <h2>No Maps Available <i class="fa-regular fa-face-frown" style="color: #e49c1e;"></i></h2>
              <p>The map for the selected day is temporarily unavailable. <br> Please select another date.</p>
            </div>
            <div
              *ngIf="
                (filter.field == 'percentile' ||
                  filter.field == 'probability') &&
                mapAvailable
              "
              style="font-size: 90%; margin: 5px"
            >
              <div class="mst--data-attribution">
                <!-- Work distributed under License -->

                <a
                  target="_blank"
                  rel="noopener"
                  href="https://meteohub.mistralportal.it/app/license"
                  title="[MISTRAL]"
                >
                  &copy; MISTRAL
                  <!-- CC BY 4.0 -->
                </a>
              </div>
            </div>

            <!-- <div class="mst--data-attribution">
              Work distributed under License
              <a
                target="_blank"
                rel="noopener"
                href="https://creativecommons.org/licenses/by-nd/4.0/legalcode"
                title="CC BY-ND 4.0"
                >CC BY-ND Iff 4.0</a
              >
            </div> -->
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
  <div class="card-footer text-muted">
    <div class="row">
      <div
        id="slider-bar"
        class="col d-flex align-items-center"
        [hidden]="isImageLoading || images.length === 0"
      >
        <button
          type="button"
          id="prev-button"
          class="btn btn-icon-border-classic btn-sm me-1"
          (click)="backward()"
          title="Backward"
        >
          <span class="fas fa-backward"></span>
        </button>

        <button
          type="button"
          id="next-button"
          class="btn btn-icon-border-classic btn-sm me-2"
          (click)="forward()"
          title="Forward"
        >
          <span class="fas fa-forward"></span>
        </button>

        <button
          type="button"
          id="play-button"
          class="btn btn-icon-border-classic btn-sm me-2"
          (click)="togglePaused()"
        >
          <span
            class="fas"
            [ngClass]="this.paused ? 'fa-play' : 'fa-pause'"
          ></span>
        </button>
        <div class="w-100">
          <mv-slider
            #timeSlider
            class="mst-slider"
            [(value)]="sid"
            [min]="minHour"
            [max]="maxHour"
            [step]="step"
            [ticks]="sliderTicks"
            [formatter]="setInputSliderFormatter"
            (change)="updateCarousel($event.newValue)"
            placement="top"
          ></mv-slider>
          <!--< MODIFICA MIA / copiata alla riga 296
          <div class="calendar d-flex">
            <div class="date" *ngFor="let data of sixDaysBehindStamp">
              {{data}}
            </div>-->
          <!--<div class="date">
              Saturday 19th
            </div>
            <div class="date">
              Sunday 20th
            </div>
            <div class="date">
              Monday  21st
            </div>
            <div class="date">
              Tuesday 22nd
            </div>
            <div class="date">
              Wednesday 23rd
            </div>
            <div class="date">
              Thursday 24th
            </div>-->
        </div>
      </div>
    </div>
    <div class="row calendar-container">
      <p class="mb-0 fs-6 text-uppercase">
        Forecasts produced in the previous five days
      </p>
      <div class="calendar d-flex justify-content-evenly align-items-center">
        <div
          class="date"
          *ngFor="
            let data of sixDaysBehindStamp;
            let i = index;
            let isToday = last;
            let c = count
          "
        >
          <div
            id="{{ i }}"
            class="clickable text-center"
            [ngClass]="
              i === id_date || (today && isToday) ? 'selected' : 'not-selected'
            "
            (click)="clicked = i"
            (click)="changeDate(i, isToday, c)"
            placement="bottom"
            ngbTooltip="Forecast produced on {{ data }}"
          >
            {{ data }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
