/* new */

div.dpc-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

div.dpc-label {
  border-radius: 0.25rem;
  background-color: white;
  color: #6c757d;
  padding: 5px;
  margin: 5px 5px 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #6c757d;
  width: fit-content;
}

div.explain {
  padding-left: 5px;
  font-size: 90%;
  margin: 5px;
  padding-right: 20px;
  text-align: justify;
}

/* end new */

h4 {
  display: inline;
  padding: 0 2px;
}

h4.parameter {
  display: inline;
  padding: 0 2px;
  margin: 0 5px 0 0;
}

#slider-bar {
  min-height: 60px;
}

/*#show-button {*/
/*  margin-right: 40px;*/
/*}*/

#collapse-filter {
  display: none;
}
@media (max-width: 991.98px) {
  #collapse-filter {
    display: block;
  }
}

/**
.carousel > .carousel-inner > .carousel-item > img {
  object-fit: contain !important;
  height: 100% !important;
}

.carousel > .carousel-inner > .carousel-item {
  height: 73vh !important;
}


.carousel-item .img-fluid {
  width:100%;
  height:100%;
}


@media (max-height: 640px) and (orientation: landscape) {
  .carousel > .carousel-inner > .carousel-item {
    height: 50vh;
  }
}
**/
@media (max-width: 991.98px) {
  .badges {
    margin-bottom: 10px;
  }
}

.carousel:focus {
  outline: none !important;
}

.carousel-caption {
  bottom: -20px !important;
}

.card-footer,
.card-header {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.card-footer .btn{
  border-radius: 30px !important;
  background-color:#6C757D!important;
  border-color: #6C757D!important;
}

.card-body {
  padding: 0.5rem;
  position: relative;
  border: none;
}

/* fit image centered in the carousel */
.carousel-img {
  width: 100%;
  /*height: 100%;*/
  max-height: 73vh;
  object-fit: scale-down;
}

#map-container {
  min-height: 380px;
}
@media (max-width: 991.98px) {
  #map-container {
    min-height: auto;
  }
}
