h4 {
  display: inline;
  padding: 0 2px;
}

#show-button {
  margin-right: 40px;
}

.carousel > .carousel-inner > .carousel-item > img {
  object-fit: contain;
  height: 100%;
}

.carousel > .carousel-inner > .carousel-item {
  height: 73vh;
}

.carousel-item .img-fluid {
  width:100%;
  height:100%;
}

@media (max-height: 640px) and (orientation: landscape) {
  .carousel > .carousel-inner > .carousel-item {
    height: 50vh;
  }
}

.card-footer, .card-header {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.card-body {
  padding: 0.50rem;
}
