/* new */

div.dpc-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

div.dpc-label {
  border-radius: 0.25rem;
  background-color: white;
  color: #6c757d;
  padding: 5px;
  margin: 5px 5px 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #6c757d;
  width: fit-content;
}

div.explain {
  padding-left: 5px;
  font-size: 90%;
  margin: 5px;
  padding-right: 20px;
  text-align: justify;
}

/* end new */

h5.parameter {
  display: inline;
  padding: 0 2px;
}

#slider-bar {
  min-height: 60px;
}

/*#show-button {*/
/*  margin-right: 40px;*/
/*}*/

#collapse-filter {
  display: none;
}
@media (max-width: 991.98px) {
  #collapse-filter {
    display: block;
  }
}

@media (max-width: 991.98px) {
  .badges {
    margin-bottom: 10px;
  }
}

.carousel:focus {
  outline: none !important;
}

.carousel-caption {
  bottom: -20px !important;
  z-index: 999999 !important;
}

.card-footer,
.card-header {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.card-footer .btn {
  border-radius: 30px !important;
  background-color: #6c757d !important;
  border-color: #6c757d !important;
}

.card-body {
  padding: 0.5rem;
  position: relative;
  border: none;
}

/* fit image centered in the carousel */
.carousel-img {
  width: 100%;
  /*height: 100%;*/
  max-height: 55vh;
  object-fit: scale-down;
  position: relative;
}
.overlay {
  position: absolute;
  z-index: 2;
  background-color: #373a3d9c;
  width: 100%;
  height: 100%;
  top: 0;
}
#map-container {
  min-height: 380px;
}

@media (max-width: 991.98px) {
  #map-container {
    min-height: auto;
  }
}

.active {
  border: 2px solid #157acc !important;
}

.button-bottom-left {
  position: absolute;
  bottom: 5px;
  left: 5px;
  z-index: 1000;
}

.save {
  border-radius: 30px;
  height: 42px;
  width: 42px;
}
