<div class="modal-header">
  <h4 class="modal-title">Change Reftime</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modal.dismiss()"
  ></button>
</div>
<div class="modal-body">
  <div [formGroup]="form">
    <div class="form-group row" style="align-items: center">
      <label for="fromDate" class="col-sm-2 col-form-label">From:</label>
      <div class="input-group col-sm-5">
        <div
          class="invalid-feedback top-fixed"
          *ngIf="
            form.controls.fromDate.invalid || form.controls.fromTime.invalid
          "
        >
          Invalid date.
        </div>
        <input
          id="fromDate"
          class="form-control"
          placeholder="yyyy-mm-dd"
          [formControl]="form.controls.fromDate"
          [attr.disabled]="disabledDp"
          [maxDate]="fromMaxDate"
          ngbDatepicker
          #from="ngbDatepicker"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            (click)="from.toggle()"
            type="button"
          >
            <i class="fa fa-calendar"></i>
          </button>
        </div>
      </div>
      <div class="input-group col-sm-5">
        <ngb-timepicker
          formControlName="fromTime"
          name="fromTime"
          [attr.disabled]="disabledDp"
        ></ngb-timepicker>
      </div>
    </div>
    <div class="form-group row" style="align-items: center">
      <label for="toDate" class="col-sm-2 col-form-label">To:</label>
      <div class="input-group col-sm-5">
        <div
          class="invalid-feedback top-fixed"
          *ngIf="form.controls.toDate.invalid || form.controls.toTime.invalid"
        >
          Invalid date.
        </div>
        <input
          id="toDate"
          class="form-control"
          placeholder="yyyy-mm-dd"
          formControlName="toDate"
          [attr.disabled]="disabledDp"
          [minDate]="toMinDate"
          [maxDate]="today()"
          ngbDatepicker
          #to="ngbDatepicker"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            (click)="to.toggle()"
            type="button"
          >
            <i class="fa fa-calendar"></i>
          </button>
        </div>
      </div>
      <div class="input-group col-sm-5">
        <ngb-timepicker
          formControlName="toTime"
          name="toTime"
          [attr.disabled]="disabledDp"
        ></ngb-timepicker>
      </div>
    </div>
    <div
      *ngIf="
        !form.controls.fullDataset.value &&
        form.errors?.timeRangeInconsistency &&
        (form.touched || form.dirty)
      "
      class="cross-validation-error-message alert alert-danger"
    >
      Time inconsistency: &lt;From&gt; time value cannot be greater than
      &lt;To&gt; time value.
    </div>
    <button class="btn btn-sm btn-outline-primary mr-2" (click)="selectToday()">
      Select Today
    </button>
    <hr />
    <div>
      <input
        class="mst--input-checkbox"
        type="checkbox"
        formControlName="fullDataset"
        id="full_ds"
        (click)="toggleFullDataset()"
      />
      <label for="full_ds">Full Dataset</label>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-info"
    (click)="modal.close(this.form.value)"
    [disabled]="!form.valid"
  >
    Save
  </button>
</div>
