<form [formGroup]="filterForm" (ngSubmit)="goToNext()">
  <div class="tab-pane fade show active mt-4">
    <h4 class="head text-center">{{ title }}</h4>
    <br />
    <ngx-spinner
      name="sp1"
      bdColor="rgba(255,255,255,0.8)"
      color="#6c757d"
      zIndex="1000"
      [fullScreen]="false"
      type="ball-clip-rotate-multiple"
      size="medium"
    >
    </ngx-spinner>
    <div *ngIf="filters">
      <ngx-spinner
        name="sp2"
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        zIndex="1000"
        type="ball-scale-multiple"
      >
        <p style="font-size: 20px; color: white">Updating Filters...</p>
      </ngx-spinner>

      <div class="row no-gutters">
        <div class="col-md-6 mb-4 mb-md-0">
          <!-- Summary Stats-->
          <div
            class="card mst--expansion-panel mst--info-panel"
            *ngIf="summaryStats"
          >
            <div class="card-header">
              <h5>Summary Stats</h5>

              <button
                type="button"
                class="btn btn-sm ml-2 p-0 mb-1 float-right"
                (click)="resetFilters()"
                ngbTooltip="Reset filters"
                placement="left"
              >
                <i class="fa fa-undo"></i>
              </button>
            </div>
            <div class="body">
              <ul>
                <li><strong>Count:</strong> {{ summaryStats.c }}</li>
                <li>
                  <strong>Size:</strong>
                  {{
                    summaryStats.s === null ||
                    (summaryStats.s === 0 && summaryStats.c > 0)
                      ? "n/a"
                      : (summaryStats.s | bytes: 2)
                  }}
                </li>
              </ul>
              <ul
                *ngIf="
                  summaryStats.s &&
                  user.max_output_size &&
                  summaryStats.s > user.max_output_size
                "
                class="adapt-alert"
              >
                <li class="alert alert-warning" role="alert">
                  Size exceeds the allowed one for a single request
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <!-- My Request -->
          <div class="card mst--expansion-panel mst--info-panel h-100">
            <div class="card-header">
              <h5 class="card-title">My Request</h5>
            </div>
            <div class="body">
              <mst-my-request-details
                (onCancel)="cancel()"
              ></mst-my-request-details>
            </div>
          </div>
        </div>
      </div>

      <!-- Refime  -->
      <div class="no-gutters">
        <div class="card mst--expansion-panel" *ngIf="summaryStats">
          <div class="card-header">
            <h5>reftime</h5>
            <button
              type="button"
              class="btn btn-sm ml-2 p-0 mb-1"
              (click)="editReftime()"
              ngbTooltip="Change reftime"
              triggers="hover"
              placement="right"
            >
              <i class="fa fa-edit"></i>
            </button>
          </div>
          <div class="card-body mst--list-filter">
            <ul class="row no-gutters">
              <li class="col-sm-12 col-md-6">
                <label style="margin: 6px 0 0 12px"
                  >From: {{ summaryStats.b | fmtDate }}</label
                >
              </li>
              <li class="col-sm-12 col-md-6">
                <label style="margin: 6px 0 0 12px"
                  >To: {{ summaryStats.e | fmtDate }}</label
                >
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Filters -->
      <div
        formArrayName="filters"
        *ngFor="let f of filterForm.get('filters')['controls']; let i = index"
      >
        <div class="card mst--expansion-panel" [formGroupName]="i">
          <div class="card-header">
            <h5>{{ f.value.name }}</h5>
            <span class="info-help"
              >&nbsp;<i
                placement="right"
                [ngbTooltip]="getFilterTooltip(f.value.name)"
                tooltipClass="info-fulltext"
                class="fa fa-question-circle"
                aria-hidden="true"
              ></i
            ></span>
          </div>
          <div *ngIf="f.value.name == 'level'" class="pl-1">
            <button
              class="btn btn-link"
              type="button"
              (click)="collapse.toggle()"
              [attr.aria-expanded]="!isCollapsed"
              aria-controls="collapseExample"
            >
              <i
                class="fa px-2"
                [ngClass]="isCollapsed ? 'fa-angle-right' : 'fa-angle-down'"
              ></i>
              Select by leveltype
            </button>
            <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
              <div class="card-body">
                <ul class="row no-gutters">
                  <li *ngFor="let lt of levelTypes" class="col-sm-4">
                    <input
                      [id]="'lt-' + lt"
                      class="mst--input-checkbox"
                      type="checkbox"
                      [value]="lt"
                      (change)="onLevelTypeChange($event, i)"
                    />
                    <label [for]="'lt-' + lt">{{ lt }}</label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body mst--list-filter">
            <ul class="row no-gutters">
              <li
                formArrayName="values"
                *ngFor="let v of f.controls.values.controls; let j = index"
                class="col-sm-12 col-md-6"
              >
                <input
                  class="mst--input-checkbox"
                  type="checkbox"
                  [formControlName]="j"
                  id="{{ f.value.name + '-' + j }}"
                  [disableControl]="!filters[f.value.name][j].active"
                  (change)="onFilterChange()"
                />
                <label for="{{ f.value.name + '-' + j }}">{{
                  filters[f.value.name][j].desc | titlecase
                }}</label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="form-group text-center space-20">
        <button
          class="btn btn-outline-secondary mr-2"
          type="button"
          (click)="goToPrevious()"
        >
          <i class="fa fa-arrow-left" aria-hidden="true"></i> Previous
        </button>
        <button
          class="btn btn-info"
          type="submit"
          [disabled]="!filterForm.valid"
        >
          Next <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</form>
