<div class="map-nav row mx-1">
  <div class="col-md-6 px-0">
    <div id="toggle-result-format" class="btn-group" role="group">
      <button
        type="button"
        class="btn no-rounded"
        (click)="changeView('Data')"
        [ngClass]="{ 'active btn-primary': displayMode === 'Data' }"
      >
        Data
      </button>
      <button
        type="button"
        class="btn no-rounded"
        (click)="changeView('Stations')"
        [ngClass]="{ 'active btn-success': displayMode === 'Stations' }"
      >
        Stations
      </button>
      <button
        type="button"
        class="btn no-rounded"
        (click)="changeView('Meteograms')"
        [ngClass]="{ 'active btn-warning': displayMode === 'Meteograms' }"
      >
        Meteograms
      </button>
    </div>
  </div>
  <div class="col-md-6 px-0">
    <p
      *ngIf="displayMode === 'Stations'"
      class="text-md-right fw-bold m-0 mt-2"
    >
      <span *ngIf="!loading">{{ totalItems }}</span>
      <span *ngIf="loading">
        <i
          class="fa fa-spinner fa-spin"
          aria-hidden="true"
          style="font-size: 12px"
        ></i>
      </span>
      stations
    </p>
  </div>
</div>
