<div class='container-fluid'>
<div class="row text-justify justify-content-md-center">
<div class='col-12'>

	<ngx-spinner
                bdColor="rgba(255,255,255,0.8)"
                color="#6c757d"
                zIndex="1000"
                [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
        </ngx-spinner>

<!-- no dataset -->
<div class="row" *ngIf="!data?.length">
    <div class="col">
        <div class="no-results">
	    <h4>Terms &amp; Conditions</h4>
            <p>No information available</p>
        </div>
    </div>
</div>


<!-- load dataset licenses in the table -->
<div class="table-responsive" *ngIf="data?.length" #tableWrapper>

    <ngx-datatable
        #licensesTable
        class="bootstrap expandable"
	[columnMode]="ColumnMode.flex"
        [headerHeight]="40"
        [footerHeight]="40"
	[rows]="data"

        [rowHeight]="'auto'">

        <!-- Column Templates -->
        

        <!-- Dataset -->
        <ngx-datatable-column
                name="Dataset"
                prop="name"
		
                [resizeable]="false"
                [sortable]="false"
                [draggable]="false"
                [flexGrow]="1">
            <ng-template
                    let-value="value"
                    let-row="row"
                    ngx-datatable-cell-template
            >
                {{ value }}
            </ng-template>
        </ngx-datatable-column>

        <!-- Dataset description -->
        <ngx-datatable-column
                name="Description"
                prop="description"
		
                [resizeable]="false"
                [sortable]="false"
                [draggable]="false"
                [flexGrow]="3">
            <ng-template
                    let-value="value"
                    let-row="row"
                    ngx-datatable-cell-template
            >
                {{ value }}
            </ng-template>
        </ngx-datatable-column>

        <!-- Dataset attribution -->
        <ngx-datatable-column
                name="Attribution"
                prop="attribution_description"
		
                [resizeable]="false"
                [sortable]="false"
                [draggable]="false"
                [flexGrow]="2">
            <ng-template
                    let-value="value"
                    let-row="row"
                    ngx-datatable-cell-template
            >
                {{ value }}
            </ng-template>
        </ngx-datatable-column>

        <!-- Dataset license -->
        <ngx-datatable-column
                name="Work distributed under license "
                prop="license_description"
		
                [resizeable]="false"
                [sortable]="false"
                [draggable]="false"
                [flexGrow]="2">
            <ng-template
                    let-value="value"
                    let-row="row"
                    ngx-datatable-cell-template
            >
                <a href="{{ row.license_url }}" target="_blank">{{ value }}</a>
            </ng-template>
        </ngx-datatable-column>

    </ngx-datatable>
    <ng-template #noValue>-</ng-template>
</div>

<br/><br/>

</div>
</div>
</div>






