<div class="container-fluid">
  <div class="row text-justify justify-content-md-center">
    <div class="col-12 col-md-10">
      <ngx-spinner
        type="ball-scale-multiple"
        bdColor="rgba(255,255,255,0.8)"
        color="#6c757d"
        zIndex="1000"
        [fullScreen]="true"
        size="medium"
      ></ngx-spinner>

      <!-- no dataset -->
      <div class="row" *ngIf="!loading && !data?.length">
        <div class="col">
          <div class="no-results">
            <h4>Attributions &amp; Licenses - Mistral Contributors</h4>
            <p>No information available</p>
          </div>
        </div>
      </div>

      <ng-container *ngIf="data?.length">
        <section>
          <h3 id="mistral-contributors">
            Attributions &amp; Licenses - Mistral Contributors
          </h3>
          <!-- load dataset licenses in the table -->
          <div class="table-responsive" *ngIf="data?.length" #tableWrapper>
            <ngx-datatable
              #licensesTable
              class="bootstrap expandable"
              [columnMode]="ColumnMode.flex"
              [headerHeight]="40"
              [footerHeight]="0"
              [rows]="data"
              [rowHeight]="'auto'"
              [scrollbarH]="true"
            >
              <!-- Column Templates -->

              <!-- Dataset -->
              <ngx-datatable-column
                name="Dataset"
                prop="name"
                [resizeable]="false"
                [sortable]="false"
                [draggable]="false"
                [flexGrow]="1"
                [minWidth]="110"
              >
                <ng-template
                  let-value="value"
                  let-row="row"
                  ngx-datatable-cell-template
                >
                  {{ value }}
                </ng-template>
              </ngx-datatable-column>

              <!-- Dataset description -->
              <ngx-datatable-column
                name="Description"
                prop="description"
                [resizeable]="false"
                [sortable]="false"
                [draggable]="false"
                [flexGrow]="3"
                [minWidth]="90"
              >
                <ng-template
                  let-value="value"
                  let-row="row"
                  ngx-datatable-cell-template
                >
                  {{ value }}
                </ng-template>
              </ngx-datatable-column>

              <!-- Dataset attribution -->
              <ngx-datatable-column
                name="Attribution"
                prop="attribution_description"
                [resizeable]="false"
                [sortable]="false"
                [draggable]="false"
                [flexGrow]="2"
                [minWidth]="110"
              >
                <ng-template
                  let-value="value"
                  let-row="row"
                  ngx-datatable-cell-template
                >
                  {{ value }}&nbsp;<a
                    [href]="row.attribution_url"
                    target="_blank"
                    *ngIf="value && row.attribution_url"
                  >
                    <i class="fas fa-up-right-from-square"></i
                  ></a>
                </ng-template>
              </ngx-datatable-column>

              <!-- Dataset license -->
              <ngx-datatable-column
                name="License "
                prop="license_description"
                [resizeable]="false"
                [sortable]="false"
                [draggable]="false"
                [flexGrow]="2"
                [minWidth]="100"
              >
                <ng-template
                  let-value="value"
                  let-row="row"
                  ngx-datatable-cell-template
                >
                  {{ value }}&nbsp;<a
                    [href]="row.license_url"
                    target="_blank"
                    *ngIf="value && row.license_url"
                  >
                    <i class="fas fa-up-right-from-square"></i
                  ></a>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
            <ng-template #noValue>-</ng-template>
          </div>
        </section>

        <section class="mt-5">
          <h3 id="mistral-products">
            Attributions &amp; Licenses - Mistral Products
          </h3>
          <!-- maps licenses table -->
          <div class="table-responsive" *ngIf="mistral_products?.length">
            <ngx-datatable
              #licensesTable
              class="bootstrap expandable"
              [columnMode]="ColumnMode.flex"
              [headerHeight]="40"
              [footerHeight]="0"
              [rows]="mistral_products"
              [rowHeight]="'auto'"
            >
              <!-- Column Templates -->
              <!-- Map name -->
              <ngx-datatable-column
                name="Product"
                prop="name"
                [resizeable]="false"
                [sortable]="false"
                [draggable]="false"
                [flexGrow]="1"
              >
                <ng-template
                  let-value="value"
                  let-row="row"
                  ngx-datatable-cell-template
                >
                  {{ value }}
                </ng-template>
              </ngx-datatable-column>

              <!-- Map description -->
              <ngx-datatable-column
                name="Description"
                prop="description"
                [resizeable]="false"
                [sortable]="false"
                [draggable]="false"
                [flexGrow]="3"
              >
                <ng-template
                  let-value="value"
                  let-row="row"
                  ngx-datatable-cell-template
                >
                  {{ value }}
                </ng-template>
              </ngx-datatable-column>

              <!-- Map attribution -->
              <ngx-datatable-column
                name="Attribution"
                prop="attribution_description"
                [resizeable]="false"
                [sortable]="false"
                [draggable]="false"
                [flexGrow]="2"
              >
                <ng-template
                  let-value="value"
                  let-row="row"
                  ngx-datatable-cell-template
                >
                  {{ value }}&nbsp;<a
                    [href]="row.attribution_url"
                    target="_blank"
                    *ngIf="value && row.attribution_url"
                  >
                    <i class="fas fa-up-right-from-square"></i
                  ></a>
                </ng-template>
              </ngx-datatable-column>

              <!-- Map license -->
              <ngx-datatable-column
                name="License "
                prop="license_description"
                [resizeable]="false"
                [sortable]="false"
                [draggable]="false"
                [flexGrow]="2"
              >
                <ng-template
                  let-value="value"
                  let-row="row"
                  ngx-datatable-cell-template
                >
                  {{ value }}&nbsp;<a
                    [href]="row.license_url"
                    target="_blank"
                    *ngIf="value && row.license_url"
                  >
                    <i class="fas fa-up-right-from-square"></i
                  ></a>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
            <ng-template #noValue>-</ng-template>
          </div>
        </section>
      </ng-container>
    </div>
  </div>
</div>
