<div class="container-fluid mb-2">
  <div class="row">
    <div class="col-lg-2 mb-2" style="min-width: 160px">
      <app-map-flash-flood-filter
        class="collapse"
        id="filters"
        [ngbCollapse]="isFilterCollapsed"
        [weekday]="filter?.weekday"
        (onFilterChange)="applyFilter($event)"
        (onIsUpdatableChange)="onIsUpdatableChange($event)"
        (onSubmit)="onSubmitChange($event)"
      ></app-map-flash-flood-filter>
    </div>
    <div class="col-lg-10">
      <div id="map-wrapper">
        <ngx-spinner
          type="ball-scale-multiple"
          bdColor="rgba(255,255,255,0.8)"
          color="#6c757d"
          zIndex="1000"
          [fullScreen]="false"
          size="medium"
        >
        </ngx-spinner>
        <app-map-slider
          [filter]="filter"
          [offsets]="offsets"
          [reftime]="reftime"
          (onCollapse)="toggleCollapse()"
          [isUpdatable]="isUpdatable"
          [submit]
          *ngIf="!loading && offsets.length >= 0"
        ></app-map-slider>
        <!-- no maps -->
        <!--        <div class="no-results" *ngIf="!loading && !offsets?.length">-->
        <!--          <h2>No Maps Available</h2>-->
        <!--          <p>Try to apply a different set of filters</p>-->
        <!--        </div>-->
      </div>
    </div>
  </div>
</div>
