<div class="container-fluid mb-2">
    <div class="row">
        <app-map-filter class="col-lg-2" style="min-width: 160px;"
            (onFilterChange)="applyFilter($event)"></app-map-filter>
        <div class="col-lg">
            <!-- Labels.. -->
            <div id="map-wrapper">
                <!-- {% include "meteo_maps/maps_carousel.html" %} -->
                <loading *ngIf="loading"></loading>
                <app-map-slider [filter]="filter"></app-map-slider>
            </div>
        </div>
    </div>
</div>
