<ngx-spinner
type="ball-scale-multiple"
bdColor="rgba(255,255,255,0.8)"
color="#6c757d"
zIndex="1000"
[fullScreen]="false"
size="medium"
>
</ngx-spinner>
<div class="container-fluid  text-center">
    <div class="row align-items-center text-justify mx-4">
        <div class="col mx-auto text-center my-4">
            <h2 class="display-4"> Connecting starts here</h2>
            <h3 class="sottotitolo">Reach out for info and support </h3>
            <div class="twocolordiv mx-auto mt-3">
                <div class="d-flex justify-content-between align-items-center text-white h-100">
                    <div class="text-container py-4 ms-3 my-3">
                        <h3 class="text-white my-3">Info</h3>
                        <p>
                        Have a query about our services? </p>
                        <p> Don't hesitate to drop us a line!</p>
                        <p class="my-3">
                            <b>For general enquires:</b><br>
                            <a class="link-info" href="mailto:mistral@cineca.it">mistral@cineca.it</a>.
                        </p>
                    </div>
                    <div class="text-container py-4 ms-3 my-3">
                        <h3 class="text-white my-3"> Support</h3>
                        <p>
                            Having technical issues? <br></p>
                            <p class="my-3"> 
                                Reach out our support team at<br>
                                <a class="my-3 link-support w-100" href="mailto:mistral-support@cineca.it">mistral-support@cineca.it</a><br> 
                                or take a look at our <br>
                                <a class=" link-support my-3"
                                routerLink="/app/user-guide"
                                routerLinkActive="active">
                                documentation page</a>.
                            </p>
                            
    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>