<dl class="request-summary">
  <div class="input-group mb-3" *ngIf="onSubmitStep">
    <div
      class="input-group-append"
      [ngClass]="{ 'mst--input-error': emptyName() }"
    >
      <ng-template #tipContent>
        Please give a name or a short description to your product
      </ng-template>
      <button
        class="btn-reset"
        type="button"
        [ngbTooltip]="tipContent"
        placement="right"
      >
        <i class="fas fa-info-circle"></i>
      </button>
    </div>
    <input
      type="text"
      class="mst--input col"
      [(ngModel)]="myRequest.request_name"
      [ngClass]="{ 'mst--input-error': emptyName() }"
      placeholder="Request name"
      required
    />
    <span class="mst--input-error-msg" *ngIf="emptyName()"
      >Product name is required</span
    >
  </div>
  <dt>Dataset(s)</dt>
  <dd>
    <ul class="comma-list">
      <li *ngFor="let ds of myRequest.datasets">{{ ds.name }}</li>
    </ul>
    <!--        <span (click)="open(licenseContent)">View terms of use</span>-->
    <div class="mt-2">
      <button
        type="button"
        class="btn btn-sm btn-outline-primary"
        (click)="open(licenseContent)"
      >
        View terms of use
      </button>
    </div>
  </dd>
  <hr />
  <dt>Filter(s)</dt>
  <dd *ngIf="myRequest.filters.length">
    <dl class="row">
      <ng-container *ngFor="let f of myRequest.filters">
        <dt class="col-sm-3" style="font-weight: normal">{{ f.name }}</dt>
        <dd class="col-sm-9">
          <p *ngFor="let v of f.values">{{ v.desc }}</p>
        </dd>
      </ng-container>
    </dl>
  </dd>
  <dd *ngIf="!myRequest.filters || !myRequest.filters.length">None</dd>
  <hr />
  <dt>Post-Processing</dt>
  <dd *ngIf="myRequest.postprocessors.length">
    <dl class="row">
      <ng-container *ngFor="let p of myRequest.postprocessors">
        <dt class="col-sm-3" style="font-weight: normal">
          {{ p.processor_type.replace("_", " ") }}
        </dt>
        <ng-container *ngIf="p.processor_type === 'derived_variables'">
          <dd class="col-sm-9">
            <p *ngFor="let v of p.variables">
              {{ dataService.getVariableDescription(v) }}
            </p>
          </dd>
        </ng-container>
        <ng-container *ngIf="p.processor_type === 'statistic_elaboration'">
          <dd class="col-sm-9">
            <p>
              timerange: <i>in</i>:{{
                decode(p.input_timerange, PP_TIME_RANGES)
              }}, <i>out</i>:{{ decode(p.output_timerange, PP_TIME_RANGES) }},
              <i>step</i>:{{ p.step }} {{ p.interval }}
            </p>
          </dd>
        </ng-container>
        <ng-container *ngIf="p.processor_type === 'grid_cropping'">
          <dd class="col-sm-9">
            <p>
              {{ p["sub-type"] }} = {{ p.boundings.ilon | number: "1.3-3" }},
              {{ p.boundings.ilat | number: "1.3-3" }},
              {{ p.boundings.flon | number: "1.3-3" }},
              {{ p.boundings.flat | number: "1.3-3" }}
              <a
                href="http://openstreetmap.org/?minlon={{
                  p.boundings.ilon
                }}&minlat={{ p.boundings.ilat }}&maxlon={{
                  p.boundings.flon
                }}&maxlat={{ p.boundings.flat }}"
                target="_blank"
              >
                <i class="fas fa-external-link-alt"></i>
              </a>
            </p>
          </dd>
        </ng-container>
      </ng-container>
    </dl>
  </dd>
  <dd *ngIf="!myRequest.postprocessors || !myRequest.postprocessors.length">
    None
  </dd>
  <ng-container *ngIf="myRequest.output_format">
    <dt>Output Format</dt>
    <dd>{{ myRequest.output_format | uppercase }}</dd>
  </ng-container>
  <ng-container *ngIf="onSubmitStep && user && user.amqp_queue">
    <hr />
    <dt>Data Pushing</dt>
    <dd>
      <button
        type="button"
        class="btn btn-sm btn-toggle"
        data-toggle="button"
        [ngClass]="{ active: myRequest.push }"
        (click)="toggleDataPush()"
      >
        <div class="handle"></div>
      </button>
    </dd>
  </ng-container>
</dl>
<div class="btn-group btn-group-sm float-right mr-4" role="group">
  <button type="button" class="btn btn-danger" (click)="cancel()">
    Cancel
  </button>
</div>

<ng-template #licenseContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Terms of use</h4>
    <button
      type="button"
      class="btn close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="modal-v-scrollable">
      <div class="px-2">
        <div class="list-group">
          <div
            *ngFor="let ds of myRequest.datasets"
            class="list-group-item list-group-item-action flex-column align-items-start"
          >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ ds.name }}</h5>
              <small [ngbTooltip]="'License'" placement="left" container="body">
                {{ ds.license }}&nbsp;<a
                  [href]="ds.license_url"
                  target="_blank"
                  *ngIf="ds.license_url"
                >
                  <i class="fas fa-external-link-alt"></i></a
              ></small>
            </div>
            <p class="mb-1">{{ ds.description }}</p>
            <small
              [ngbTooltip]="'Attribution'"
              placement="right"
              container="body"
            >
              <i class="fab fa-creative-commons-by"></i>&nbsp;{{
                ds.attribution
              }}</small
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
