<div class="tab-pane fade show active mt-4">
  <h4 class="head text-center">{{ title }}</h4>
  <br />
  <!-- Summary Stats-->
  <div class="card mst--expansion-panel mst--info-panel" *ngIf="summaryStats">
    <div class="card-header">
      <h5>Summary Stats</h5>
    </div>
    <div class="body">
      <ul>
        <li><strong>From:</strong> {{ summaryStats.b | fmtDate }}</li>
        <li><strong>To:</strong> {{ summaryStats.e | fmtDate }}</li>
        <li><strong>Count:</strong> {{ summaryStats.c }}</li>
        <li><strong>Size:</strong> {{ summaryStats.s | bytes: 2 }}</li>
      </ul>
    </div>
  </div>
  <div class="card mst--expansion-panel mst--info-panel">
    <div class="card-header">
      <h5 class="card-title">
        My Request
        <span
          class="badge badge-warning font-weight-light"
          *ngIf="schedule"
          [ngbTooltip]="tipSchedContent"
          placement="right"
          >scheduled</span
        >
        <ng-template #tipSchedContent>
          <ng-container *ngIf="schedule.type === 'crontab'"
            >Repeat every {{ schedule.repeat }} at
            {{ schedule.time }}
          </ng-container>
          <ng-container *ngIf="schedule.type === 'period'"
            >Repeat every {{ schedule.every }} {{ schedule.repeat
            }}{{ schedule.every > 1 ? "s" : "" }}
          </ng-container>
          <ng-container *ngIf="schedule.type === 'data-ready'"
            >Repeat on data ready</ng-container
          >
        </ng-template>
      </h5>
      <div class="btn-group btn-group-sm float-right" role="group">
        <button
          class="btn btn-info btn-sm float-right"
          (click)="showSchedule(content)"
        >
          <i class="fa fa-calendar mr-2"></i>Schedule
        </button>
        <button
          type="button"
          class="btn btn-danger"
          mwlConfirmationPopover
          popoverTitle="Cancel this request"
          [popoverMessage]="getConfirmation('request').message"
          placement="left"
          ngbTooltip="Cancel this request"
          (confirm)="cancel()"
        >
          <i class="fas fa-window-close"></i>
        </button>
      </div>
    </div>
    <div class="body">
      <mst-my-request-details [onSubmitStep]="true"></mst-my-request-details>
    </div>
  </div>
</div>
<div class="form-group text-center space-20">
  <button
    class="btn btn-outline-secondary mr-2"
    type="button"
    (click)="goToPrevious()"
  >
    <i class="fa fa-arrow-left" aria-hidden="true"></i> Previous
  </button>
  <button
    class="btn btn-info"
    [disabled]="!isFormValid || emptyName() || summaryStats.c === 0"
    (click)="submit()"
  >
    Submit <i class="fa fa-arrow-right" aria-hidden="true"></i>
  </button>
</div>

<!-- Schedule Modal -->
<ng-template #content let-modal>
  <form [formGroup]="scheduleForm" (ngSubmit)="modal.close('save')">
    <div class="modal-header">
      <h4 class="modal-title">Schedule this request</h4>
      <button
        type="button"
        class="btn close"
        aria-label="Close"
        (click)="modal.dismiss()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h5 class="mb-2">Repeat:</h5>
      <div class="custom-control custom-radio custom-control-inline">
        <input
          type="radio"
          class="custom-control-input"
          formControlName="repeatType"
          value="crontab"
          id="crontab"
        />
        <label class="custom-control-label mst--radio-label" for="crontab"
          >At time</label
        >
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input
          type="radio"
          class="custom-control-input"
          formControlName="repeatType"
          value="period"
          id="period"
        />
        <label class="custom-control-label mst--radio-label" for="period"
          >Periodically</label
        >
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input
          type="radio"
          class="custom-control-input"
          formControlName="repeatType"
          value="data-ready"
          id="data-ready"
        />
        <label class="custom-control-label mst--radio-label" for="data-ready"
          >On data ready</label
        >
      </div>
    </div>
    <div class="ml-3 my-2">
      <div *ngIf="scheduleForm.get('repeatType').value === 'crontab'">
        <div class="form-inline">
          Every
          <select formControlName="cPeriod" class="custom-select mx-2">
            <option>day</option>
            <option>week</option>
            <option>month</option>
          </select>
          at:
        </div>
        <div>
          <ngb-timepicker formControlName="time"></ngb-timepicker>
        </div>
      </div>
      <div *ngIf="scheduleForm.get('repeatType').value === 'period'">
        <div class="form-inline">
          Every
          <input
            type="number"
            formControlName="every"
            min="1"
            class="form-control ml-2"
            style="width: 80px"
            required
          />
          <select formControlName="period" class="custom-select mx-2">
            <option>minute</option>
            <option>hour</option>
            <option>day</option>
          </select>
        </div>
      </div>
      <div *ngIf="scheduleForm.get('repeatType').value === 'data-ready'">
        <!-- nothing -->
      </div>
    </div>
    <div class="modal-footer">
      <button
        class="btn btn-danger"
        type="button"
        *ngIf="schedule"
        (click)="modal.close('remove')"
      >
        <i class="fa fa-trash"></i>
      </button>
      <button
        type="submit"
        class="btn btn-info"
        [disabled]="scheduleForm.invalid"
      >
        Save
      </button>
    </div>
  </form>
</ng-template>
