<div class="tab-pane fade show active mt-4">
  <h4 class="head text-center">{{ title }}</h4>
  <br />
  <ngx-spinner
    type="ball-scale-multiple"
    bdColor="rgba(255,255,255,0.8)"
    color="#6c757d"
    zIndex="1000"
    [fullScreen]="false"
    size="medium"
  >
    Submitting...
  </ngx-spinner>

  <!-- Summary Stats-->
  <div class="card mst--expansion-panel mst--info-panel" *ngIf="summaryStats">
    <ngx-spinner
      type="ball-scale-multiple"
      bdColor="rgba(255,255,255,0.8)"
      color="#6c757d"
      zIndex="1000"
      [fullScreen]="false"
      size="medium"
      name="summary-spinner"
    >
    </ngx-spinner>
    <div class="card-header">
      <h5>Summary Stats</h5>
    </div>
    <div class="body">
      <ul>
        <li><strong>Count:</strong> {{ summaryStats.c }}</li>
        <li><strong>Size:</strong> {{ summaryStats.s | bytes: 2 }}</li>
      </ul>
      <ul
        *ngIf="
          summaryStats.s &&
          user.max_output_size &&
          summaryStats.s > user.max_output_size
        "
        class="adapt-alert"
      >
        <li class="alert alert-warning" role="alert">
          Size exceeds the allowed one for a single request
        </li>
      </ul>
    </div>
  </div>

  <!-- Reftime -->
  <div class="card mst--expansion-panel mst--info-panel" *ngIf="summaryStats">
    <ngx-spinner
      type="ball-scale-multiple"
      bdColor="rgba(255,255,255,0.8)"
      color="#6c757d"
      zIndex="1000"
      [fullScreen]="false"
      size="medium"
      name="summary-spinner"
    >
    </ngx-spinner>
    <div class="card-header">
      <h5>Reftime</h5>
    </div>
    <div class="body">
      <ul>
        <li><strong>From:</strong> {{ summaryStats.b | fmtDate }}</li>
        <li><strong>To:</strong> {{ summaryStats.e | fmtDate }}</li>
      </ul>
    </div>
  </div>

  <div class="card mst--expansion-panel mst--info-panel">
    <div class="card-header">
      <h5 class="card-title">
        My Request
        <span
          class="badge badge-warning font-weight-light"
          *ngIf="schedule"
          [ngbTooltip]="tipSchedContent"
          placement="right"
          >scheduled</span
        >
        <ng-template #tipSchedContent>
          <ng-container *ngIf="schedule.type === 'crontab'"
            >Repeat every {{ schedule.repeat }} at
            {{ schedule.time }}
          </ng-container>
          <ng-container *ngIf="schedule.type === 'period'"
            >Repeat every {{ schedule.every }} {{ schedule.repeat
            }}{{ schedule.every > 1 ? "s" : "" }}
          </ng-container>
          <ng-container *ngIf="schedule.type === 'data-ready'"
            >Repeat on data ready</ng-container
          >
        </ng-template>
      </h5>
      <div
        *ngIf="user.allowed_schedule"
        class="btn-group btn-group-sm float-right"
        role="group"
      >
        <button
          class="btn btn-info btn-sm float-right"
          (click)="showSchedule(content)"
        >
          <i class="fa fa-calendar mr-2"></i>Schedule
        </button>
      </div>
    </div>
    <div class="body mb-2">
      <mst-my-request-details [onSubmitStep]="true" (onCancel)="cancel()">
      </mst-my-request-details>
    </div>
  </div>
</div>
<div class="form-group text-center space-20">
  <button
    class="btn btn-outline-secondary mr-2"
    type="button"
    (click)="goToPrevious()"
  >
    <i class="fa fa-arrow-left" aria-hidden="true"></i> Previous
  </button>
  <button
    class="btn btn-info"
    [disabled]="
      !isFormValid ||
      emptyName() ||
      summaryStats.c === 0 ||
      (summaryStats.s &&
        user.max_output_size &&
        summaryStats.s > user.max_output_size) ||
      (requestReport && requestReport.remaining === 0)
    "
    #submitButton
  >
    Submit <i class="fa fa-arrow-right" aria-hidden="true"></i>
  </button>
</div>

<!-- Schedule Modal -->
<ng-template #content let-modal>
  <form [formGroup]="scheduleForm" (ngSubmit)="modal.close('save')">
    <div class="modal-header">
      <h4 class="modal-title">Schedule this request</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss()"
      ></button>
    </div>
    <div class="modal-body">
      <h5 class="mb-2">Repeat:</h5>
      <div class="custom-control custom-radio custom-control-inline">
        <input
          type="radio"
          class="custom-control-input"
          formControlName="repeatType"
          value="crontab"
          id="crontab"
        />
        <label class="custom-control-label mst--radio-label" for="crontab"
          >At time</label
        >
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input
          type="radio"
          class="custom-control-input"
          formControlName="repeatType"
          value="period"
          id="period"
        />
        <label class="custom-control-label mst--radio-label" for="period"
          >Periodically</label
        >
      </div>
      <div
        *ngIf="checkDataReady()"
        class="custom-control custom-radio custom-control-inline"
      >
        <input
          type="radio"
          class="custom-control-input"
          formControlName="repeatType"
          value="data-ready"
          id="data-ready"
        />
        <label class="custom-control-label mst--radio-label" for="data-ready"
          >On data ready</label
        >
      </div>
    </div>
    <div class="ml-3 my-2">
      <div *ngIf="scheduleForm.get('repeatType').value === 'crontab'">
        <div class="form-inline">
          Every
          <select formControlName="cPeriod" class="custom-select mx-2">
            <option>day</option>
            <option>week</option>
            <option>month</option></select
          ><span *ngIf="scheduleForm.get('cPeriod').value === 'day'; else on"
            >at:</span
          >
          <ng-template #on>on</ng-template>
          <span *ngIf="scheduleForm.get('cPeriod').value === 'week'">
            <select formControlName="weekDay" class="custom-select mx-2">
              <option value="1">Monday</option>
              <option value="2">Tuesday</option>
              <option value="3">Wednesday</option>
              <option value="4">Thursday</option>
              <option value="5">Friday</option>
              <option value="6">Saturday</option>
              <option value="7">Sunday</option>
            </select>
            at
          </span>
          <span *ngIf="scheduleForm.get('cPeriod').value === 'month'">
            <select formControlName="monthDay" class="custom-select mx-2">
              <option *ngFor="let n of fillDayofMonths()">{{ n }}</option>
            </select>
            at
          </span>
        </div>
        <div>
          <ngb-timepicker formControlName="time"></ngb-timepicker>
        </div>
      </div>
      <div *ngIf="scheduleForm.get('repeatType').value === 'period'">
        <div class="form-inline">
          Every
          <input
            *ngIf="scheduleForm.get('period').value !== 'minute'"
            type="number"
            formControlName="every"
            min="1"
            class="form-control ml-2"
            style="width: 80px"
            required
          />
          <input
            *ngIf="scheduleForm.get('period').value === 'minute'"
            type="number"
            formControlName="every"
            min="15"
            class="form-control ml-2"
            style="width: 80px"
            value="15"
            required
          />
          <select
            formControlName="period"
            class="custom-select mx-2"
            (change)="onPeriodSelected(scheduleForm.get('period').value)"
          >
            <option>minute</option>
            <option>hour</option>
            <option>day</option>
          </select>
        </div>
      </div>
      <div *ngIf="scheduleForm.get('repeatType').value === 'data-ready'">
        <!-- nothing -->
      </div>
      <ng-container *ngIf="checkOpenData()">
        <hr />
        Open data schedule
        <dd>
          <button
            type="button"
            class="btn btn-sm btn-toggle"
            data-toggle="button"
            [ngClass]="{ active: formData.opendata }"
            (click)="toggleOpenDataSchedule()"
          >
            <div class="handle"></div>
          </button>
        </dd>
      </ng-container>
    </div>
    <div class="modal-footer">
      <button
        class="btn btn-danger"
        type="button"
        *ngIf="schedule"
        (click)="modal.close('remove')"
      >
        <i class="fa fa-trash"></i>
      </button>
      <button
        type="submit"
        class="btn btn-info"
        [disabled]="scheduleForm.invalid"
      >
        Save
      </button>
    </div>
  </form>
</ng-template>
