.page-with-sidebar {
  padding-left: 20px;
  width: 96% !important;
}

/*
.page-with-sidebar > h5 {
  margin-left: 140px;
  margin-bottom: 20px;
  border-bottom: 1px solid #BBB;
  padding-bottom: 10px;
}
 */

.sidenav {
  width: 120px;
  z-index: 1;
  left: 10px;
  padding: 8px 0;
  align-self: flex-start;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/*@media screen and (max-height: 450px) {*/
/*  .sidenav {*/
/*    padding-top: 15px;*/
/*  }*/

/*  .sidenav a {*/
/*    font-size: 18px;*/
/*  }*/
/*}*/
