.page-with-sidebar {
  padding-left: 140px;
}

/*
.page-with-sidebar > h5 {
  margin-left: 140px;
  margin-bottom: 20px;
  border-bottom: 1px solid #BBB;
  padding-bottom: 10px;
}
 */

.sidenav {
  width: 120px;
  position: fixed;
  z-index: 1;
  top: 120px;
  left: 10px;
  overflow-x: hidden;
  padding: 8px 0;
}


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
