<div class="container" style="margin-top: 30px">
  <div class="row">
    <!-- Map -->
    <div class="col-sm-12">
      <div
        style="height: 400px"
        leaflet
        leafletDraw
        [leafletOptions]="options"
        [leafletDrawOptions]="drawOptions"
        (leafletMapReady)="onMapReady($event)"
        (leafletDrawCreated)="onDrawCreated($event)"
        (leafletDrawEdited)="onDrawEdited($event)"
      >
        <div [leafletLayer]="drawnItems"></div>
      </div>
    </div>
  </div>
</div>
