<div class='container-fluid'>
    <div class="row justify-content-md-center">
        <div class='col-12'>

            <loading *ngIf='loading'></loading>

            <a (click)='schedule()' class='btn btn-danger'>schedule a task</a>
            <br>

            <div class='card'>
                <div class='card-header'>
                    <h4>Submit your data extraction</h4>
                </div>
                <div class='row'>
                    <div class='card-block col-12' style="padding: 0px;">
                        <multi-step-wizard></multi-step-wizard>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


