<ngx-spinner
  type="ball-scale-multiple"
  bdColor="rgba(255,255,255,0.8)"
  color="#6c757d"
  zIndex="1000"
  [fullScreen]="false"
  size="medium"
>
</ngx-spinner>
<div
  class="map"
  leaflet
  [leafletOptions]="options"
  (leafletMapReady)="onMapReady($event)"
  (leafletMapZoomEnd)="onMapZoomEnd($event)"
>
  <map-side-nav
    [baseLayers]="layersControl['baseLayers']"
    [overlays]="layersControl['overlays']"
    [dataset]="dataset"
    [variables]="variablesConfig"
    [isShowedMultiModel]="showed"
    [map]="map"
    [viewMode]="viewMode"
    (onLayerChange)="toggleLayer($event)"
    (onDatasetChange)="changeDataset($event)"
    (onShowMultiModelChange)="showHideMultiModel()"
    (onMMProductChange)="changeMMProduct($event)"
    (onCollapseChange)="onCollapse($event)"
  ></map-side-nav>

  <div class="leaflet-top leaflet-left" style="left: 10px">
    <div class="leaflet-control" style="height: 20px">
      <div class="selected-dataset">
        {{ printDatasetDescription() }}
      </div>
      <pre *ngIf="runAvailable">
        {{ "reference date" | translate : lang | titlecase }}: {{
          printReferenceDate()
        }}
        {{ "product" | translate : lang | titlecase }}: {{
          printDatasetProduct()
        }}
      </pre>
    </div>
  </div>
  <div class="leaflet-bottom leaflet-right" *ngIf="collapsed">
    <div
      class="leaflet-control px-2"
      style="height: auto; width: 180px; margin-right: 2.8rem"
    >
      <img
        *ngIf="viewMode === modes.base"
        class="img-fluid img-thumbnail mt-2 bg-transparent border-0"
        src="/app/custom/assets/images/Logo_Completo_RGB.png"
        alt="ItaliaMeteo"
      />
    </div>
  </div>
</div>
