:host {
  height: calc(100% - 107px);
}

.map {
  /*height: calc(100% - 58px);*/
  height: 100%;
  padding: 0;
}

.legend {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 13px;
  color: #555;
}

.legend i {
  width: 16px;
  height: 6px;
  line-height: 13px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

/* .legend_t2m {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 3px;
  color: #555;
}

.legend_t2m i {
  width: 16px;
  height: 3px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
} */

.legend_prec3tp {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 6px;
  color: #555;
}

.legend_prec3tp i {
  width: 16px;
  height: 6px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.legend_tcc {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 10.36px;
  color: #555;
}

.legend_tcc i {
  width: 16px;
  height: 10.36px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.legend_cc {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 18px;
  color: #555;
}

.legend_cc i {
  width: 16px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.legend_sp {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 7.6px;
  color: #555;
}

.legend_sp i {
  width: 16px;
  height: 7.6px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.legend_sh {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 13.5px;
  color: #555;
}

.legend_sh i {
  width: 16px;
  height: 13.5px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

/* .legend_tp_perc {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 13.5px;
  color: #555;
}

.legend_tp_perc i {
  width: 16px;
  height: 13.5px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
} */

/* .legend_tp_perc {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 13px;
  color: #555;
}

.legend_tp_perc i {
  width: 16px;
  height: 6px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.legend_tpprob {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 6px;
  color: #555;
}

.legend_tpprob i {
  width: 16px;
  height: 6px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
} */
