<ngx-spinner
        bdColor="rgba(255,255,255,0.8)"
        color="#6c757d"
        zIndex="1000"
        [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
</ngx-spinner>
<div class="map"
     leaflet
     [leafletOptions]="options"
     [leafletLayersControl]="layersControl"
     (leafletMapReady)="onMapReady($event)">
    <div class="leaflet-top leaflet-left" style="left: 40px;">
        <div class="leaflet-control" style="height: 20px;">
            <i class="fas fa-2x"
               [ngClass]="{'fa-toggle-on': resolution === 'lm5', 'fa-toggle-off': resolution === 'lm2.2'}"
               (click)="changeRes()"
               [ngbTooltip]="'Change Resolution'" placement="bottom" container="body"
               style="cursor: pointer; vertical-align: middle;"></i>
            &nbsp;
            <span style="background: #fd9b00; padding: 2px; border-style: double;">
                    <ng-container *ngIf="resolution === 'lm5'">COSMO 5km</ng-container>
                    <ng-container *ngIf="resolution === 'lm2.2'">COSMO 2.2Km</ng-container>
                </span>
        </div>
    </div>
</div>

