.accordion-header {
  .accordion-button:not(.collapsed) {
    color: inherit;
    background-color: #157ACC !important;
  }
  .custom-header {
    background-color: rgba(0, 0, 0, 0.03) !important;
    &:after {
      content: none;
    }
  }
}

.accordion-body {
  padding: 0.5rem !important;
}

.counter {
  display: flex;
  justify-content: space-evenly;
  font-family: "Prompt-SemiBold";

  .number-box {
    width: 30% !important;
    max-width: 30% !important;
    display: flex;
    flex-direction: column;
    background: lightgray;
    margin-bottom: 1rem;

    span {
      font-size: 14px;
      margin-bottom: 10px;
      text-align: center;

      &.number {
        font-size: 24px;
        color: #157ACC;
        margin-bottom: 0 !important;
        margin-top: 10px;
      }
    }
  }
}

@media screen and (max-width: 635px) {
  .counter {
    .number-box {
      span {
        font-size: 10px !important;
        margin-bottom: 18px !important;

        &.number {
          font-size: 19px !important;
        }
      }
    }
  }
}

.modal-dialog {
  margin-top: 10%;
}

.ngx-spinner-overlay {
  height: 108% !important;
}