<div id="observation-maps" class="container-fluid mb-2">
    <div class="row .no-gutters">
        <div class="col-lg-3 mb-2">
            <ngb-accordion #acc="ngbAccordion" activeIds="filter-panel">
                <ngb-panel id="filter-panel" title="Filter">
                    <ng-template ngbPanelHeader>
                        <div class="d-flex align-items-center justify-content-between">
                            <h5 class="m-0"><i class="fas fa-filter mr-2"></i> Filter</h5>
                        </div>
                    </ng-template>
                    <ng-template ngbPanelContent let-opened="opened">
                        <form class="filter">
                            <div class="form-group">
                                <label for="variable">Variable</label>
                                <select class="form-control" id="variable">
                                    <option>Temperature °C</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <!-- Date -->
                            <div class="form-row">
                                <div class="col-md-8">
                                    <label for="date">Date</label>
                                    <div class="input-group">
                                        <input class="form-control" id="date" placeholder="yyyy-mm-dd"
                                               name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label for="hour">Hour</label>
                                    <input type="text" class="form-control" id="hour" required>
                                </div>
                            </div>
                            <!-- Level -->
                            <div class="form-group">
                                <label for="level">Level</label>
                                <select class="form-control" id="level">
                                    <option></option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <!-- Time range -->
                            <div class="form-group">
                                <label for="timerange">Time range</label>
                                <select class="form-control" id="timerange">
                                    <option></option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <!-- Area -->
                            <!-- Network -->
                            <div class="form-group">
                                <label for="network">Network</label>
                                <select class="form-control" id="network">
                                    <option></option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <!-- License -->
                            <div class="form-group">
                                <label for="license">License</label>
                                <select class="form-control" id="license">
                                    <option></option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </form>
                    </ng-template>
                </ngb-panel>
                <ngb-panel>
                    <ng-template ngbPanelHeader let-opened="opened">
                        <div class="d-flex align-items-center justify-content-between">
                            <h5 class="m-0"><i class="fas fa-download mr-2"></i> Download</h5>
                            <button ngbPanelToggle class="btn p-0">
                                <i class="fas"
                                   [ngClass]="(opened)?'fa-caret-up':'fa-caret-down'"></i>
                            </button>
                        </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
        <div class="col-lg-9">
            <div class="card h-100">
                <div class="card-header">
                    <span class="float-right">Stations</span>
                </div>
                <div class="card-body fill p-2">
                    <div class="map"
                         leaflet
                         (leafletMapReady)="onMapReady($event)"
                         [leafletOptions]="options">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

