.accordion-header {
  .accordion-button:not(.collapsed) {
    color: inherit;
  }
  .custom-header {
    background-color: rgba(0, 0, 0, 0.03) !important;
    &:after {
      content: none;
    }
  }
}

.accordion-body {
  padding: 0.5rem !important;
}

.counter {
  display: flex;
  justify-content: space-evenly;

  .number-box {
    width: 30% !important;
    max-width: 30% !important;
    display: flex;
    flex-direction: column;
    background: lightgray;
    margin-bottom: 1rem;

    span {
      font-size: 15px;
      margin-bottom: 30px;
      text-align: center;

      &.number {
        font-size: 30px;
        color: #eb9c08;
        margin-bottom: 0 !important;
        margin-top: 10px;
      }
    }
  }
}
