<div id="observation-maps" class="container-fluid mb-2">
    <ngx-spinner
            bdColor="rgba(255,255,255,0.8)"
            color="#6c757d"
            zIndex="1000"
            [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
    </ngx-spinner>
    <div class="row .no-gutters">
        <div class="col-lg-3 mb-2">
            <ngb-accordion #acc="ngbAccordion" activeIds="filter-panel">
                <ngb-panel id="filter-panel" title="Filter">
                    <ng-template ngbPanelHeader>
                        <div class="d-flex align-items-center justify-content-between">
                            <h5 class="m-0"><i class="fas fa-filter mr-2"></i> Filter</h5>
                        </div>
                    </ng-template>
                    <ng-template ngbPanelContent let-opened="opened">
                        <app-obs-filter
                                (filterUpdate)="applyFilter($event)"></app-obs-filter>
                    </ng-template>
                </ngb-panel>
                <ngb-panel>
                    <ng-template ngbPanelHeader let-opened="opened">
                        <div class="d-flex align-items-center justify-content-between">
                            <h5 class="m-0"><i class="fas fa-download mr-2"></i> Download</h5>
                            <button ngbPanelToggle class="btn p-0">
                                <i class="fas"
                                   [ngClass]="(opened)?'fa-caret-up':'fa-caret-down'"></i>
                            </button>
                        </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <app-obs-download
                            [filter]="filter"></app-obs-download>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
        <div class="col-lg-9">
            <div class="card h-100">
                <div class="card-header">
                    <app-obs-navbar [displayMode]="currentView"
                            [totalItems]=totalItems (viewChange)="changeView($event)"></app-obs-navbar>
                </div>
                <div class="card-body p-0">
                    <app-obs-map (updateCount)="totalItems=$event"></app-obs-map>
                </div>
            </div>
        </div>
    </div>

