<div id="parameters">
  <div class="card bg-light">
    <div class="card-body">
      <h4 class="card-title"><strong>PARAMETERS</strong></h4>
      <form [formGroup]="filterForm">
        <!-- FIELD -->
        <div class="mb-3">
          <label class="col-form-label"><strong>FIELDS:</strong></label>
          <div id="fieldGroup">
            <!-- FIELDS -->
            <div>
              <ng-container *ngFor="let f of fields">
                <label
                  [title]="f.value"
                  class="btn-circle"
                  data-toggle="tooltip"
                  [ngClass]="
                    filterForm.get('field').value === f.key
                      ? 'btn-icon-border-classic'
                      : 'btn-secondary'
                  "
                >
                  <input
                    [value]="f.key"
                    formControlName="field"
                    type="radio"
                    [attr.data-description]="f.value"
                  />
                  <i
                    class="wi"
                    [ngClass]="{
                      'wi-flood':
                        f.key === 'percentile' || f.key === 'probability'
                    }"
                  >
                    <small class="verySmallText" *ngIf="f.key === 'percentile'"
                      >pe</small
                    >
                    <small class="verySmallText" *ngIf="f.key === 'probability'"
                      >pr</small
                    >
                  </i>
                </label>
              </ng-container>
            </div>
            <!-- PERCENTILE / PROBABILITY -->
            <div *ngIf="filterForm.get('field').value === 'percentile'">
              <ng-container *ngFor="let level of levels_pe">
                <label
                  class="btn-squared"
                  data-toggle="tooltip"
                  [ngClass]="
                    filterForm.get('level_pe').value === level.key
                      ? 'btn-icon-border-classic'
                      : 'btn-secondary'
                  "
                >
                  <input
                    [value]="level.key"
                    formControlName="level_pe"
                    type="radio"
                    [attr.data-description]="level.value"
                  />
                  <span>{{ level.key }}</span>
                </label>
              </ng-container>
            </div>
            <div *ngIf="filterForm.get('field').value === 'probability'">
              <ng-container *ngFor="let level of levels_pr">
                <label
                  class="btn-squared"
                  data-toggle="tooltip"
                  [ngClass]="
                    filterForm.get('level_pr').value === level.key
                      ? 'btn-info'
                      : 'btn-secondary'
                  "
                >
                  <input
                    [value]="level.key"
                    formControlName="level_pr"
                    type="radio"
                    [attr.data-description]="level.value"
                  />{{ level.key }}
                </label>
              </ng-container>
            </div>
          </div>
        </div>

        <!-- RUN -->
        <div class="mb-3">
          <label class="col-form-label"><strong>PRODUCTS:</strong></label>
          <button
            style="float: right"
            class="btn-small-circle"
            (click)="open()"
          >
            <b>?</b>
          </button>
          <select id="runGroup" formControlName="run" class="form-select">
            <ng-container *ngFor="let run of runs">
              <option [value]="run.key">
                {{ run.value }}
              </option>
            </ng-container>
          </select>
        </div>

        <!-- RESOLUTION -->
        <div class="mb-3">
          <label class="col-form-label"
            ><strong>RESOLUTION (Km):</strong></label
          >
          <div id="resolutionGroup">
            <ng-container *ngFor="let res of resolutions; index as i">
              <label
                class="btn-circle"
                *ngIf="
                  !(
                    res.key === 'lm2.2' &&
                    filterForm.get('area').value === 'Area_Mediterranea'
                  ) &&
                  !(
                    !(filterForm.get('area').value === 'Area_Mediterranea') &&
                    res.key === 'lm5' &&
                    (filterForm.get('field').value === 'percentile' ||
                      filterForm.get('field').value === 'probability')
                  )
                "
                [ngClass]="
                  filterForm.get('res').value === res.key
                    ? 'btn-warning'
                    : 'btn-secondary'
                "
              >
                <input
                  id="res-input-{{ i }}"
                  [attr.data-description]="res.value"
                  type="radio"
                  formControlName="res"
                  [value]="res.key"
                />
                <strong>{{ res.value }}</strong>
              </label>
            </ng-container>
          </div>

          <div style="font-size: 90%; margin: 5px">
            From 0 to 48h: 2.2 km
            <br />
            From 48h to 240h (day 10): 18 km
          </div>
        </div>

        <!-- AREA -->
        <div class="mb-3">
          <label class="col-form-label"><strong>AREA:</strong></label>
          <select id="areaGroup" formControlName="area" class="form-select">
            <ng-container *ngFor="let area of areas">
              <option [value]="area.key">
                {{ area.value }}
              </option>
            </ng-container>
          </select>
        </div>
      </form>
    </div>
  </div>
</div>
