@media (min-width: 992px) {
  .card-title {
    font-size: 1.8vw !important;
  }
}

.card-footer,
.card-header {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.card-body {
  padding: 0.5rem;
}

[type="radio"] {
  display: none;
}

.verySmallText {
  font-size: 12px;
}

.btn-circle {
  width: 49px;
  height: 49px;
  text-align: center;
  /* padding-bottom: 1px; */
  margin: 2px 2px;
  font-size: 25px;
  line-height: 2;
  border-radius: 30px;
  cursor: pointer;
}

.btn-squared {
  width: 27px;
  height: 27px;
  text-align: center;
  vertical-align: middle;
  /* padding-bottom: 1px; */
  margin: 2px 2px;
  font-size: 15px;
  line-height: 2;
  cursor: pointer;
  border-radius: 8px;
}

@media (max-width: 801px) {
  .btn-circle {
    width: 75px;
    height: 75px;
    text-align: center;
    /* padding-bottom: 1px; */
    margin: 2px 2px;
    font-size: 45px;
    line-height: 1.7;
    border-radius: 40px;
    cursor: pointer;
  }
  .btn-squared {
    width: 34px;
    height: 34px;
    text-align: center;
    /* padding-bottom: 1px; */
    margin: 2px 2px;
    font-size: 20px;
    line-height: 1.7;
    cursor: pointer;
    border-radius: 8px;
  }
}
