<div id="parameters">
  <div class="card bg-light">
    <div class="card-body">
      <h4 class="card-title"><strong>PARAMETERS</strong></h4>
      <form [formGroup]="filterForm">
        <!-- FIELD -->
        <div class="mb-3">
          <label class="col-form-label"><strong>FIELDS:</strong></label>
          <div id="fieldGroup">
            <ng-container *ngFor="let f of fields">
              <div style="display: inline">
                <label
                  [title]="f.value"
                  class="btn-circle"
                  data-toggle="tooltip"
                  [ngClass]="
                    filterForm.get('field').value === f.key
                      ? 'btn-icon-border-classic'
                      : 'btn-secondary'
                  "
                >
                  <input
                    [value]="f.key"
                    formControlName="field"
                    type="radio"
                    [attr.data-description]="f.value"
                  />
                  <i
                    class="wi"
                    [ngClass]="{
                      'wi-barometer wi-fw': f.key === 'pressure',
                      'wi-cloud wi-fw': f.key === 'cloud',
                      'wi-cloudy wi-fw': f.key === 'cloud_hml',
                      'wi-umbrella':
                        f.key === 'prec1' ||
                        f.key === 'prec3' ||
                        f.key === 'prec6' ||
                        f.key === 'prec12' ||
                        f.key === 'prec24',
                      'wi-snow': f.key === 'snow3' || f.key === 'snow6',
                      'wi-sandstorm': f.key === 'maxwind',
                      'wi-strong-wind': f.key === 'wind',
                      'wi-humidity': f.key === 'humidity',
                      'wi-flood':
                        f.key === 'percentile' || f.key === 'probability',
                      'wi-thermometer': f.key === 't2m_0c' || f.key === 't2m'
                    }"
                  >
                    <small class="verySmallText" *ngIf="f.key === 'prec1'"
                      >1h</small
                    >
                    <small
                      class="verySmallText"
                      *ngIf="f.key === 'prec3' || f.key === 'snow3'"
                      >3h</small
                    >
                    <small
                      class="verySmallText"
                      *ngIf="f.key === 'prec6' || f.key === 'snow6'"
                      >6h</small
                    >
                    <small class="verySmallText" *ngIf="f.key === 'prec12'"
                      >12h</small
                    >
                    <small class="verySmallText" *ngIf="f.key === 'prec24'"
                      >24h</small
                    >
                    <small class="verySmallText" *ngIf="f.key === 't2m_0c'"
                      >0m</small
                    >
                    <small class="verySmallText" *ngIf="f.key === 't2m'"
                      >2m</small
                    >
                    <small *ngIf="f.key === 'zerot'">0°C</small>
                    <small class="verySmallText" *ngIf="f.key === 'percentile'"
                      >pe</small
                    >
                    <small class="verySmallText" *ngIf="f.key === 'probability'"
                      >pr</small
                    >
                  </i>
                </label>
              </div>
            </ng-container>
          </div>
        </div>

        <!-- RUN -->
        <div class="mb-3">
          <label class="col-form-label"><strong>RUN:</strong></label>
          <div id="runGroup">
            <ng-container *ngFor="let run of runs">
              <label
                class="btn-circle"
                [ngClass]="
                  filterForm.get('run').value === run.key
                    ? 'btn-success'
                    : 'btn-secondary'
                "
                *ngIf="
                  !(
                    run.key === '12' &&
                    (filterForm.get('field').value === 'percentile' ||
                      filterForm.get('field').value === 'probability')
                  )
                "
              >
                <input type="radio" formControlName="run" [value]="run.key" />
                <strong>{{ run.key }}</strong>
              </label>
            </ng-container>
          </div>
        </div>

        <!-- RESOLUTION -->
        <div class="mb-3">
          <label class="col-form-label"
            ><strong>RESOLUTION (Km):</strong></label
          >
          <div id="resolutionGroup">
            <ng-container *ngFor="let res of resolutions; index as i">
              <label
                class="btn-circle"
                *ngIf="
                  !(
                    res.key === 'lm2.2' &&
                    filterForm.get('area').value === 'Area_Mediterranea'
                  ) &&
                  !(
                    !(filterForm.get('area').value === 'Area_Mediterranea') &&
                    res.key === 'lm5' &&
                    (filterForm.get('field').value === 'percentile' ||
                      filterForm.get('field').value === 'probability')
                  )
                "
                [ngClass]="
                  filterForm.get('res').value === res.key
                    ? 'btn-warning'
                    : 'btn-secondary'
                "
              >
                <input
                  id="res-input-{{ i }}"
                  [attr.data-description]="res.value"
                  type="radio"
                  formControlName="res"
                  [value]="res.key"
                />
                <strong>{{ res.value }}</strong>
              </label>
            </ng-container>
          </div>
        </div>

        <!-- AREA -->
        <div class="mb-3">
          <label class="col-form-label"><strong>AREA:</strong></label>
          <select id="areaGroup" formControlName="area" class="form-select">
            <ng-container *ngFor="let area of areas">
              <option
                [value]="area.key"
                *ngIf="
                  !(
                    (area.key === 'Area_Mediterranea' &&
                      filterForm.get('res').value === 'lm2.2') ||
                    (!(area.key === 'Italia') &&
                      (filterForm.get('field').value === 'percentile' ||
                        filterForm.get('field').value === 'probability'))
                  )
                "
              >
                {{ area.value }}
              </option>
            </ng-container>
          </select>
        </div>

        <!-- PLATFORM -->
        <div class="mb-3" *ngIf="user && user.isAdmin">
          <label class="col-form-label"><strong>PLATFORM:</strong></label>
          <select
            id="platformGroup"
            formControlName="platform"
            class="form-select"
          >
            <option *ngFor="let p of platforms" [value]="p.key">
              {{ p.value }}
            </option>
          </select>
        </div>

        <!-- ENV -->
        <div class="mb-3" *ngIf="user && user.isAdmin">
          <label class="col-form-label"><strong>ENVIRONMENT:</strong></label>
          <select id="envGroup" formControlName="env" class="form-select">
            <option *ngFor="let env of envs" [value]="env.key">
              {{ env.value }}
            </option>
          </select>
        </div>
      </form>
    </div>
  </div>
</div>
