@media (min-width: 992px) {
  .card-title {
    font-size: 1.7vw !important;
  }
}

#fieldGroup > div:first-of-type {
  display: flex;
  justify-content: space-evenly;
}
.card-footer,
.card-header {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.card-body {
  padding: 0.5rem;
}

[type="radio"] {
  display: none;
}

.verySmallText {
  font-size: 12px;
}

.btn-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  /* padding-bottom: 1px; */
  margin: 2px 6px;
  border-radius: 30px;
  cursor: pointer;
  line-height: 2.3;
}
.wi::before {
  font-size: 20px;
}
.wi-umbrella::before,
.wi-snow::before {
  margin-left: -5px;
}

.btn-small-circle {
  width: 20px;
  height: 20px;
  text-align: center;
  /* padding-bottom: 1px; */
  margin: 1px 1px;
  font-size: 10px;
  /* line-height: 2; */
  border-radius: 20px;
  /* cursor: pointer; */
}

.btn-squared {
  width: 27px;
  height: 27px;
  text-align: center;
  vertical-align: middle;
  margin: 2px;
  font-size: 15px;
  line-height: 1.8;
  cursor: pointer;
  border-radius: 14px;
  padding: 0;
  font-weight: 800;
}

.btn-info {
  background-color: #e49c1e;
  border-color: #e49c1e;
}
.small {
  font-size: 10px;
}

@media (max-width: 801px) {
  .btn-circle {
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 40px;
    text-align: center;
    /* padding-bottom: 1px; */
    margin: 2px 2px;
    line-height: 1.7;
    cursor: pointer;
  }

  .btn-squared {
    width: 34px;
    height: 34px;
    text-align: center;
    /* padding-bottom: 1px; */
    margin: 2px 2px;
    cursor: pointer;
    font-size: 16px;
    line-height: 2.1;
    border-radius: 33px;
  }

  #fieldGroup > div:first-of-type {
    -webkit-box-pack: flex-start;
    justify-content: flex-start;
  }

  #resolutionGroup > .btn-circle,
  #runGroup > .btn-circle {
    line-height: 2;
  }
}
