<div class="p-2">
  <div *ngIf="report; else noData">
    <div class="mx-5 my-2 text-justify">
      <h3 class="text-center">
        {{ product | titlecase }} <span class="small">({{ varcode }})</span>
        <ng-container *ngIf="filter.level">
          <br /><small>{{ level }}</small>
        </ng-container>
        <ng-container *ngIf="filter.timerange">
          <br /><small>{{ timerange }}</small>
        </ng-container>
      </h3>
    </div>
    <div #containerRef>
      <ngx-charts-line-chart
        [view]="[containerRef.offsetWidth, 400]"
        [animations]="true"
        [scheme]="colorScheme"
        [xAxis]="true"
        [yAxis]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [yAxisLabel]="getUserUnit(varcode) || 'n/a'"
        [xAxisLabel]="xAxisLabelFormatting()"
        [xAxisTickFormatting]="xAxisTickFormattingFn"
        [timeline]="false"
        [results]="multi"
        [autoScale]="true"
        [legend]="true"
        [legendTitle]="'Stations'"
      >
        <!--<ng-template #tooltipTemplate let-model="model">
          <h9>
            {{ model.series }} &bull; {{ TooltipDateFormat(model.name) }}
          </h9>
          <h5>{{ model.value }}</h5>
        </ng-template>-->
      </ngx-charts-line-chart>
    </div>
  </div>

  <ng-template #noData>
    <div class="row mt-4">
      <div class="col">
        <div class="no-results" *ngIf="!loading">
          <h2>No Data</h2>
          <p>Try to apply a different filter</p>
        </div>
      </div>
    </div>
  </ng-template>
</div>
