<div class="container mt-3">
    <div class="row">
        <h2 class="text-darkblue mb-3">About MeteoHub</h2>
        <div class="d-flex justify-content-between">
            <img class="immagine" src="/app/custom/assets/images/8.png" alt="background">
            <p class="ms-3 mb-5">A dscription of the platform and its purposes. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam cumque delectus deleniti minus. Alias, soluta? Dolor sint, minima nostrum corrupti voluptatum blanditiis nisi, molestiae quibusdam illo est repudiandae rerum enim. Lorem ipsum dolor sit amet consectetur adipisicing elit. In, voluptatem qui obcaecati magnam nam aliquid adipisci numquam alias non commodi? Quia exercitationem a nihil dignissimos! Nisi neque eveniet suscipit non! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi optio quasi, mollitia, eaque harum iusto a magni nostrum officia, perferendis cumque blanditiis! Labore aspernatur consectetur doloremque harum nemo natus perferendis! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque reiciendis modi veniam consequuntur dolore delectus nihil libero recusandae ea ad numquam adipisci laboriosam, voluptas rerum id quidem quia eius. Vero!</p>
        </div>
        <h3 class="text-darkblue">Cosa puoi trovare nella piattaforma?</h3>
        <div class="row mb-3 align-items-center">
            <div class="col-md-11">
              <p class="lead mb-0" >Previsioni</p>
              <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptas mollitia velit ullam blanditiis nostrum dolores ipsum officia veniam asperiores fuga cum molestiae, labore incidunt, possimus explicabo delectus consequuntur doloremque? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis nulla accusantium vero molestiae numquam dolore, tenetur corrupti! Quam consequatur aliquid natus aliquam quae tempora dolores vel iure? Suscipit, molestias vero?</p>
            </div>
            <div class="col-md-1">
                <img class="rounded-circle product-icon" src="/app/custom/assets/images/icon_for_sm.png" alt="forecast">
            </div>
        </div>
        <div class="row mb-3 align-items-center">
            <div class="col-md-1">
                <img class="rounded-circle product-icon" src="/app/custom/assets/images/icon_obs_sm.png" alt="osservations">
            </div>
            <div class="col-md-11">
                <p class="lead mb-0">Osservazioni</p>
                <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptas mollitia velit ullam blanditiis nostrum dolores ipsum officia veniam asperiores fuga cum molestiae, labore incidunt, possimus explicabo delectus consequuntur doloremque? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis nulla accusantium vero molestiae numquam dolore, tenetur corrupti! Quam consequatur aliquid natus aliquam quae tempora dolores vel iure? Suscipit, molestias vero?</p>
            </div>
        </div>   
        <div class="row mb-3 align-items-center">
            <div class="col-md-11">
              <p class="lead mb-0">Datasets</p>
              <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptas mollitia velit ullam blanditiis nostrum dolores ipsum officia veniam asperiores fuga cum molestiae, labore incidunt, possimus explicabo delectus consequuntur doloremque? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis nulla accusantium vero molestiae numquam dolore, tenetur corrupti! Quam consequatur aliquid natus aliquam quae tempora dolores vel iure? Suscipit, molestias vero?</p>
            </div>
            <div class="col-md-1">
                <img class="rounded-circle product-icon" src="/app/custom/assets/images/icona-dataset-05.png" alt="dataset">
            </div>
        </div>
    </div>
<hr>
<h2 class="text-darkblue mb-3"> I partner</h2>
<div class="partner-container">
    <h3 class="text-darkblue mt-2">Agenzia ItaliaMeteo</h3>
    <div class="d-flex justify-content-between mt-3">
        <img class="img-fluid logo me-2" src="/app/custom/assets/images/ItaliaMeteo_Logo.png" alt="Agenzia ItaliaMeteo">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti modi expedita ex ad magni voluptatum recusandae quae architecto voluptates est eum consequatur nobis, corrupti et aspernatur commodi. Natus, architecto rem.</p>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate dicta dolor, deleniti eos alias quod officiis illum molestias quis pariatur tempore in, modi expedita voluptas enim eum provident ullam ut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga cum exercitationem eius dolore fugiat. Nostrum perspiciatis delectus reiciendis, quos aperiam a, sint reprehenderit, quia atque iste asperiores vero accusantium facere. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam vel natus blanditiis quis obcaecati at sint, pariatur, fuga quasi provident non tenetur repellendus consectetur, perferendis aliquid nobis sequi quam debitis.</p>
</div>
<div class="partner-container mt-5">
    <h3 class="text-darkblue">CINECA</h3>
    <div class="d-flex justify-content-between mt-2">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti modi expedita ex ad magni voluptatum recusandae quae architecto voluptates est eum consequatur nobis, corrupti et aspernatur commodi. Natus, architecto rem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis magnam quasi voluptas eos harum fugit tempora natus odio omnis sapiente, tempore necessitatibus ducimus quam ea optio reprehenderit libero consequuntur dicta!</p>
        <img class="img-fluid logo me-2" src="/app/custom/assets/images/logo-hd-cineca.svg" alt="CINECA">
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate dicta dolor, deleniti eos alias quod officiis illum molestias quis pariatur tempore in, modi expedita voluptas enim eum provident ullam ut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga cum exercitationem eius dolore fugiat. Nostrum perspiciatis delectus reiciendis, quos aperiam a, sint reprehenderit, quia atque iste asperiores vero accusantium facere. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam vel natus blanditiis quis obcaecati at sint, pariatur, fuga quasi provident non tenetur repellendus consectetur, perferendis aliquid nobis sequi quam debitis.</p>
</div>
</div>