definitions:
  DataExtraction:
    required:
      - name
      - datasets
    properties:
      name:
        type: string
      reftime:
        $ref: "#/definitions/RefTime"
      datasets:
        description: Data belong to the datasets of the list.
        type: array
        uniqueItems: true
        minItems: 1
        items:
          description: Dataset name
          type: string
      filters:
        description: Apply different filtering criteria.
        $ref: "#/definitions/DataFilter"
      postprocessors:
        description: Apply one or more post-processing to the filtered data.
        type: array
        uniqueItems: true
        items:
          description: Post-processing request details
          type: object
      output_format:
        description: Output format
        type: string
        enum:
          - json
          - bufr
          - grib
  AVProcessor:
    description: Derived variables post-processing
    type: object
    properties:
      type:
        type: string
      variables:
        description: The list of requested derived variables to be calculated.
        type: array
        uniqueItems: true
        items:
          type: string
          enum:
            - B12194  # Air density
            - B13003  # Relative humidity
            - B11001  # Wind direction
            - B11002  # Wind speed
            - B11003  # U-component
            - B11004  # V-component
            - B12103  # Dew-point temperature
            - B13001  # Specific humidity
            - B13003  # Relative humidity
            - B13205  # Snowfall (grid-scale + convective)
    required:
      - type
      - variables

  SEProcessor:
    description: Statistic Elaboration post-processing
    type: object
    properties:
      type:
        type: string
      input-timerange:
        type: integer
        enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 6
          - 254
      output-timerange:
        type: integer
        enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 6
          - 254
      interval:
        description: Interval of elaboration
        type: string
        enum:
          - hours
          - days
          - months
          - years
      step:
        description: step range
        type: integer
    required:
      - type
      - input-timerange
      - output-timerange
      - interval
      - step

  GIProcessor:
    description: Grid interpolation post processor to interpolate data on a new grid
    type: object
    properties:
      type:
        description: description of the postprocessor
        type: string
      boundings:
        description: boundings of the target grid
        type: object
        properties:
          x-min:
            type: number
          x-max:
            type: number
          y-min:
            type: number
          y-max:
            type: number
      nodes:
        description: number of nodes of the target grid
        type: object
        properties:
          nx:
            type: integer
          ny:
            type: integer
      template:
        description: grib template for interpolation
        type: string
      sub-type:
        type: string
        enum:
          - near
          - bilin
          - average
          - min
          - max
    required:
      - type
      - sub-type
  GCProcessor:
    description: Grid cropping post processor
    type: object
    properties:
      type:
        description: description of the postprocessor
        type: string
      boundings:
        description: boundings of the cropped grid
        type: object
        properties:
          ilon:
            type: number
          ilat:
            type: number
          flon:
            type: number
          flat:
            type: number
      sub-type:
        type: string
        enum:
          - coord
          - bbox
    required:
      - type
      - sub-type
  SPIProcessor:
    description: Spare points interpolation postprocessor
    type: object
    properties:
      type:
        description: description of the postprocessor
        type: string
      coord-filepath:
        description: file to define the target spare points
        type: string
      format:
        type: string
        enum:
          - shp
          - geojson
      sub-type:
        type: string
        enum:
          - near
          - bilin
          - average
          - min
          - max
    required:
      - type
      - coord-filepath
      - format
      - sub-type

  TemplateFile:
    description: description of the template file uploaded
    type: object
    properties:
      filepath:
        type: string
      format:
        type: string

  TemplateList:
    description: list of user templates
    type: array
    items:
      type: object
      properties:
        format:
          type: string
          enum:
            - grib
            - shp
        files:
          type: array
          items:
            type: string

  RefTime:
    required:
      - from
      - to
    properties:
      from:
        type: string
        format: date-time
      to:
        type: string
        format: date-time
  DataFilter:
    properties:
      area:
        type: array
        items:
          type: object
      level:
        type: array
        items:
          type: object
      origin:
        type: array
        items:
          type: object
      proddef:
        type: array
        items:
          type: object
      product:
        type: array
        items:
          type: object
      quantity:
        type: array
        items:
          type: object
      run:
        type: array
        items:
          type: object
      task:
        type: array
        items:
          type: object
      timerange:
        type: array
        items:
          type: object
      network:
        type: array
        items:
          type: object

  Datasets:
    type: array
    items:
      $ref: "#/definitions/Dataset"
  Dataset:
    required:
      - id
      - name
      - category
    properties:
      id:
        type: string
      name:
        type: string
      description:
        type: string
      license:
        type: string
        enum:
          - CCBY  # Creative Commons BY (Attribution) 4.0
          - ODBL  # Open Database License
      category:
        type: string
        enum:
          - FOR # Forecast Data
          - OBS # Observational Data
          - RAD # Radar Data

  DataScheduling:
    required:
      - name
      - datasets
    properties:
      name:
        type: string
      reftime:
        $ref: "#/definitions/RefTime"
      datasets:
        description: Data belong to the datasets of the list.
        type: array
        uniqueItems: true
        minItems: 1
        items:
          description: Dataset name
          type: string
      filters:
        description: Apply different filtering criteria.
        $ref: "#/definitions/DataFilter"
      postprocessors:
        description: Apply one or more post-processing to the filtered data.
        type: array
        uniqueItems: true
        items:
          description: Post-processing request details
          type: object
      output_format:
        description: Output format
        type: string
        enum:
          - json
          - bufr
          - grib
      # Schedule settings
      period-settings:
        description: Settings for the periodic request
        type: object
        allOf:
          - $ref: "#/definitions/PeriodSettings"
      crontab-settings:
        description: Settings for the crontab request
        type: object
        allOf:
          - $ref: "#/definitions/CrontabSettings"
#      on-data-ready:
#        description: Activate data extraction when requested data is ready
#        type: boolean
#        default: false

  CrontabSettings:
    properties:
      minute:
        type: integer
        minimum: 0
        exclusiveMinimum: false
        maximum: 59
        exclusiveMaximum: false
      hour:
        type: integer
        minimum: 0
        exclusiveMinimum: false
        maximum: 23
        exclusiveMaximum: false
      day_of_week:
        type: integer
        minimum: 0
        exclusiveMinimum: false
        maximum: 7
        exclusiveMaximum: false
      day_of_month:
        type: integer
        minimum: 1
        exclusiveMinimum: false
        maximum: 31
        exclusiveMaximum: false
      month_of_year:
        type: integer
        minimum: 1
        exclusiveMinimum: false
        maximum: 12
        exclusiveMaximum: false
    minProperties: 1

  PeriodSettings:
      required:
        - every
        - period
      properties:
        every:
          type: integer
        period:
          type: string
          enum:
            - days
            - hours
            - minutes
            - seconds
            - microseconds
  Fileoutput:
    properties:
      fileoutput:
        type: string
        format: binary

  Requests:
    type: array
    items:
      $ref: "#/definitions/Request"
  Request:
    required:
      - id
      - name
      - args
      - status
      - submission_date
      - user_name
    properties:
      id:
        type: string
      name:
        type: string
      args:
        type: object
      status:
        type: string
        enum:
          - SUCCESS
          - ERROR
          - PENDING
      submission_date:
        type: string
        format: date
      end_date:
        type: string
        format: date
      task_id:
        type: string
      user_name:
        type: string
      fileoutput:
        type: string
      filesize:
        type: integer
        format: int64

  MapStations:
    type: array
    items:
     $ref: "#/definitions/MapStationData"

  MapStationData:
    description: list of data
    type: object
    properties:
      station:
        description: data related to the station (like ident, lon,lat)
        type: object
        required:
          - lat
          - lon
        properties:
          id:
            type: integer
          ident:
            type: string
          lat:
            type: number
          lon:
            type: number
          network:
            type: string
          station-name:
            type: string
          variables:
            description: list of variables measured by the stations (if param onlyStations is true)
            type: array
            items:
              type: string
      data:
        type: object
        properties:
          variable:
            description: code of the variable
            type: array
            items:
              type: object
              properties:
                value:
                  type: number
                reftime:
                  type: string

  Summary:
    required:
      - items
    properties:
      items:
        type: object

#  Summary:
#    required:
#      - fields
#      - stats
#    properties:
#      fields:
#        type: array
#        items:
#          $ref: "#/definitions/Field"
#      stats:
#        $ref: "#/definitions/SummaryStats"
#  Field:
#    required:
#      - type
#      - values
#    properties:
#      type:
#        type: string
#      values:
#        type: array
#        items: {}
#  SummaryStats:
#    required:
#      - size
#      - count
#      - from
#      - to
#    properties:
#      size:
#        type: integer
#        minimum: 0
#      count:
#        type: integer
#        minimum: 0
#      from:
#        type: string
#        format: date-time
#      to:
#        type: string
#        format: date-time

#  Observation:
#    properties:
#      phenomenonTime:
#        type: string
#  Location:
#    properties:
#
#  Procedure:
#    name:
#      type: string
#    description:
#      type: string
#    type:
#      type: string
#
#  TimeRange:
#    pindicator:
#      type: string
#    period1:
#      type: string
#    period2:
#      type: string
  StorageUsage:
    required:
      - quota
      - used
    properties:
      quota:
        description: Current disk user quota (in bytes)
        type: integer
        format: int64
        minimum: 0
      used:
        description: Current disk usage (in bytes)
        type: integer
        format: int64
        minimum: 0
  Mapset:
    required:
      - reftime
      - offsets
      - platform
    properties:
      reftime:
        description: Date of the last requested run available
        type: string
        pattern: '^0[0-3][0-2][0-9](00|12)$'
      offsets:
        description: The list of all available maps for that specific run, identified by its offset (e.g. +3h=0003)
        type: array
        items:
          description: Map offset
          type: string
          pattern: '^\d{4}$'
      platform:
        description: Which platform actually provides the map set
        type: string
        enum:
          - GALILEO
          - MEUCCI

FormDataParameters:
  AdminUsers:
    - name: disk_quota
      in: formData
      type: number
      required: true
      description: Disk quota in bytes
      custom:
        label: Disk quota
