<ng-container *ngIf="row.key == 'disk_quota'">
  <th>Disk Quota</th>
  <td>{{row.value | bytes}}</td>
</ng-container>

<ng-container *ngIf="row.key == 'amqp_queue'">
  <th>AMQP Queue</th>
  <td>{{row.value || "-"}}</td>
</ng-container>

<ng-container *ngIf="row.key == 'requests_expiration_days'">
  <th>Requests expiration</th>
  <td>
    <ng-container *ngIf="row.value >= 1; else noExpiration">
      {{row.value || "0"}} days
    </ng-container>
    <ng-template #noExpiration> Disabled </ng-template>
  </td>
</ng-container>

<ng-container *ngIf="row.key == 'datasets'">
  <th>Allowed datasets</th>
  <td>
    <ng-container *ngIf="row.value.length > 0; else noExpiration">
      {{ row.value }}
    </ng-container>
    <ng-template #noExpiration> - </ng-template>
  </td>
</ng-container>

<ng-container *ngIf="row.key == 'licences'">
  <th>Allowed licences</th>
  <td>
    <ng-container *ngIf="row.value.length > 0; else noExpiration">
      {{ row.value }}
    </ng-container>
    <ng-template #noExpiration> - </ng-template>
  </td>
</ng-container>
