<ul class="navbar-nav">
  <li class="nav-item" *ngIf="user">
    <a
      class="nav-link"
      routerLink="/app/data"
      routerLinkActive="active"
      (click)="collapse()"
      >Data</a
    >
  </li>
  <li class="nav-item" *ngIf="user">
    <a
      class="nav-link"
      routerLink="app/requests"
      routerLinkActive="active"
      (click)="collapse()"
      >My Requests</a
    >
  </li>
  <li class="nav-item" ngbDropdown>
    <a
      class="nav-link clickable"
      ngbDropdownToggle
      id="navbarDropdownMapsLink"
      role="button"
    >
      Maps
    </a>
    <div
      ngbDropdownMenu
      aria-labelledby="navbarDropdownMapsLink"
      class="dropdown-menu"
    >
      <a
        ngbDropdownItem
        routerLink="/app/maps/forecasts"
        routerLinkActive="active"
        (click)="collapse()"
        >Forecasts</a
      >
      <a
        ngbDropdownItem
        routerLink="/app/maps/flashflood"
        routerLinkActive="active"
        (click)="collapse()"
        >Italy Flash Flood</a
      >
      <a
        ngbDropdownItem
        routerLink="/app/maps/observations"
        routerLinkActive="active"
        (click)="collapse()"
        >Observations</a
      >
      <a ngbDropdownItem routerLink="/app/maps/meteotiles" (click)="collapse()"
        >Multi-layer Map</a
      >
    </div>
  </li>

  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="app/license"
      routerLinkActive="active"
      (click)="collapse()"
      >Terms &amp; Conditions</a
    >
  </li>

  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="/public/privacy"
      routerLinkActive="active"
      (click)="collapse()"
      >Privacy</a
    >
  </li>
  <li class="nav-item" ngbDropdown *ngIf="user">
    <a
      class="nav-link clickable"
      ngbDropdownToggle
      id="navbarDropdownMapsLink"
      role="button"
    >
      Licenses
    </a>
    <div
      ngbDropdownMenu
      aria-labelledby="navbarDropdownMapsLink"
      class="dropdown-menu"
    >
      <a
        ngbDropdownItem
        routerLink="app/admin/group-licenses"
        routerLinkActive="active"
        (click)="collapse()"
        >License Groups</a
      >
      <a
        ngbDropdownItem
        routerLink="app/admin/licenses"
        routerLinkActive="active"
        (click)="collapse()"
        >Licenses</a
      >
      <a
        ngbDropdownItem
        routerLink="app/admin/attributions"
        routerLinkActive="active"
        (click)="collapse()"
        >Attributions</a
      >
      <a ngbDropdownItem routerLink="app/admin/datasets" (click)="collapse()"
        >Datasets</a
      >
    </div>
  </li>
</ul>
