$light-blue: #e49c1e;
$light-blue-shadow: rgba(228, 156, 30, 0.25);
$light-blue: #157acc;
$dark-blue: #004080;

.map-sidenav {
  top: 0;
  right: 0;
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  float: right;
  height: 100%;
  text-align: center;
  width: 280px;
  cursor: auto;

  &.collapsed {
    width: 50px !important;
  }

  li a {
    text-decoration: none;
    margin-top: 3px;
  }

  li a .nav-text {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    width: 100%;
    position: relative;
    margin-left: 14px;
    font-family: "TitilliumWeb-Regular";
  }
  li span .nav-text {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    width: 100%;
    position: relative;
    margin-left: 14px;
    font-family: "TitilliumWeb-Regular";
  }
  .text-disclaimer {
      text-transform: unset !important;
      text-decoration: underline;
  }

  li a:hover .nav-text {
    text-decoration: none;
    border-bottom: 1px solid #fff;
  }
  .map-sidenav-menu {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    background-color: rgba(48, 48, 48, 0.658);
    position: relative;
    z-index: 800;
    pointer-events: visiblePainted; /* IE 9-10 doesn't have auto */
    pointer-events: auto;
    //padding: 6px 10px 6px 6px;
    padding: 10px;
    color: #fff;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;

    .sidenav-overlay{
    height: 100%;
    background-color: rgba(48, 48, 48, 0.658);
    width: 100%;
    position: absolute;
    z-index: -3;
    top:0;
    }

    .toggle {
      cursor: pointer;
      margin-left: 212px;
      background-image: url("/app/custom/assets/images/icons/mb_exit.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 35px;
      height: 35px;
      position: absolute;
      transition: 0.6s;
      margin-top: -5px;

      &.collapsed {
        margin-left: 1px;
        background-image: url("/app/custom/assets/images/icons/menu_burger.svg");
      }
    }

    .sidenav-item {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;

      & > .attivo {
        background-color: $light-blue;
        border-radius: 25px;
      }
    }

    .sidenav-item:first-of-type {
      border-top: 1px solid rgba(255, 255, 255, 0.349);
    }

    & > .selector {
      margin-top: 34px;
    }

    & > .selector ~ .selector {
      margin-top: 0px;
    }

    .selector {
      padding: 0;
      list-style: none;
      width: 100%;
      height: 100%;
      overflow-y: hidden;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
      margin-left:4px;
      //border-bottom: 1px solid rgba(255, 255, 255, 0.349);

      .last {
        border-bottom: 1px solid rgba(255, 255, 255, 0.349);
        padding-bottom: 6px;
      }
    }
  }
}
.last {
        border-bottom: 1px solid rgba(255, 255, 255, 0.349);
        padding-bottom: 6px;
        width:100%;
}
// -------

.nav-sub-text {
  margin-left: 4px;
  font-size: 10px;
  font-family: "Prompt-SemiBold";
}

.multi-model {
  display: flex !important ;
  flex-wrap: nowrap !important;
  .nav-text {
    width: 80% !important;
    margin-left: 10px !important;
  }
}

.prp + a,
.sf + a,
.input + a {
  margin-top: -20px;
}

.cc + a {
  margin-top: -17px;
}

.tpperc + a p {
  top: 6px;
}

.t2m,
.prs,
.rh,
.ws10m,
.prp,
.sf,
.cc,
.input,
.plus,
.minus,
.carte,
.tpperc,
.tpprob,
.download_button,
.download_button-disabled,
.networks,
.snow, .info, .question {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  margin-top: 8px;
  padding: 10px;
  width: 24px;
  height: 24px;
}

.t2m {
  background-image: url("/app/custom/assets/images/icons/temper.svg");
}

.prs {
  background-image: url("/app/custom/assets/images/icons/pressione.svg");
}

.tpperc {
  background-image: url("/app/custom/assets/images/icons/percentile.svg");
}

.tpprob {
  background-image: url("/app/custom/assets/images/icons/probabilita.svg");
}

.rh {
  background-image: url("/app/custom/assets/images/icons/humidity.svg");
}

.ws10m {
  background-image: url("/app/custom/assets/images/icons/wind.svg");
}

.prp {
  background-image: url("/app/custom/assets/images/icons/precipitazioni.svg");
}

.sf {
  background-image: url("/app/custom/assets/images/icons/snow.svg");
}

.cc {
  background-image: url("/app/custom/assets/images/icons/clouds.svg");
}

.snow {
  background-image: url("/app/custom/assets/images/icons/snow.svg");
}
.download_button {
  background-image: url("/app/custom/assets/images/icons/download_button.png");
}

.download_button-disabled {
  background-image: url("/app/custom/assets/images/icons/download_button_disabled.png");
}

.input,
.networks {
  background-image: url("/app/custom/assets/images/icons/input.svg");
}

.plus {
  background-image: url("/app/custom/assets/images/icons/plus.svg");
}

.minus {
  background-image: url("/app/custom/assets/images/icons/minus.svg");
}

.info {
  background-image: url("/app/custom/assets/images/icons/info.svg");
}

.question {
  background-image: url("/app/custom/assets/images/icons/questionmark.svg");
}
.plus.isDisabled {
  background-image: url("/app/custom/assets/images/icons/plus_disabled.svg");
  cursor: not-allowed;
}

.minus.isDisabled {
  background-image: url("/app/custom/assets/images/icons/minus_disabled.svg");
  cursor: not-allowed;
}

.carte {
  background-image: url("/app/custom/assets/images/icons/map_style.svg");
}

/* time, clouds and datasets selectors */

.selettore-orario,
.selettore-clouds,
.selettore-dataset {
  height: 30px;
  width: 100%;
  margin-left: 28px;
}

.selettore-dataset {
  display: flex;
  width: 200px;
  margin-top: -5px;
  margin-left: 32px;
}

.selettore-percentile {
  display: flex;
  flex-wrap: wrap;
  width: 196px;
  margin-left: 40px;
  justify-content: space-between;

  label {
    display: flex;
    flex-direction: column;
    font-size: 7px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin-top: 2px;
    font-size: 10px;
    font-family: "TitilliumWeb-SemiBold";
  }

  input {
    margin-left: 10px;
    margin-right: 10px;
    z-index: -1;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 7px;
    width: 13px !important;
    height: 13px !important;
    border: 2px solid #999;
    transition: 0.2s all linear;
  }
}

.selettore-probabilita {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  margin-left: 23px;
  justify-content: space-evenly;

  label {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin-top: 2px;
    font-size: 9px;
    font-family: "TitilliumWeb-SemiBold";
  }

  input {
    margin-left: 10px;
    margin-right: 10px;
    z-index: -1;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 7px;
    width: 13px !important;
    height: 13px !important;
    border: 2px solid #999;
    transition: 0.2s all linear;
  }
}

.selettore-clouds {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  margin-top: -4px;
  margin-left: 36px;
  margin-right: 8px;

  & > label > input {
    margin-left: 10px;
    margin-right: 10px;
    z-index: -1;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 13px !important;
    height: 13px !important;
    border: 2px solid #999;
    transition: 0.2s all linear;

    &[type="checkbox"] {
      border-radius: 13px;
    }
  }
}

.selettore-mappa {
  margin-bottom: 10px;

  label {
    display: flex;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    justify-content: space-evenly;
    margin-right: 50px;
    font-family: "TitilliumWeb-SemiBold";
    margin-bottom: 0.5rem;
  }

  input {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    z-index: -1;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 7px;
    width: 13px !important;
    height: 13px !important;
    border: 2px solid #999;
    transition: 0.2s all linear;
  }
}

.selettore-carte {
  margin-bottom: -6px;

  label {
    display: flex;
    color: #fff;
    text-transform: uppercase;
    font-size: 9px;
    justify-content: space-evenly;
    margin-left: 32px;
    font-family: "TitilliumWeb-SemiBold";
  }

  input {
    margin-left: 10px;
    margin-right: 10px;
    z-index: -1;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 7px;
    width: 13px !important;
    height: 13px !important;
    border: 2px solid #999;
    transition: 0.2s all linear;
  }
}
.selettore-quality-control {
  height: 30px;
  width: 100%;
  label {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    input {
      margin-left: 10px;
      margin-right: 10px;
      z-index: -1;
      position: relative;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 7px;
      width: 13px !important;
      height: 13px !important;
      border: 2px solid #999;
      transition: 0.2s all linear;
    }

    span {
      width: 100%;
      height: 2px;
      content: "";
      left: 20px;
      position: absolute;
      top: 5px;
      background-color: #fff;
      z-index: -1;
      transition: 0.2s all linear;
    }

    input:checked {
      border: 6px solid $light-blue;
    }

    input:checked + span {
      border-color: $light-blue;
      background-color: $light-blue;
    }
  }
}
.selettore-orario label {
  width: 20%;
  float: left;
  font-size: 9px;
  position: relative;
  text-align: center;
  color: #fff;
  z-index: 1;

  input {
    margin-left: 10px;
    margin-right: 10px;
    z-index: -1;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 7px;
    width: 13px !important;
    height: 13px !important;
    border: 2px solid #999;
    transition: 0.2s all linear;
  }

  span {
    width: 100%;
    height: 2px;
    content: "";
    left: 20px;
    position: absolute;
    top: 5px;
    background-color: #fff;
    z-index: -1;
    transition: 0.2s all linear;
  }

  input:checked {
    border: 6px solid $light-blue;
  }

  input:checked + span {
    border-color: $light-blue;
    background-color: $light-blue;
  }
}

.selettore-clouds input:checked,
.selettore-multimodel input:checked,
.selettore-orario input:checked,
.selettore-percentile input:checked,
.selettore-probabilita input:checked,
.selettore-mappa input:checked {
  background-color: $light-blue;
  border-color: $light-blue !important;
}

.selettore-clouds label,
.selettore-orario label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 9px;
  text-transform: uppercase;
  color: #fff;
  font-family: "TitlliumWeb-SemiBold";
  text-align: center;
  margin-top: 2px;
}

.selettore-clouds p {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 9px;
  text-transform: uppercase;
  color: #fff;
  font-family: "TitilliumWeb-SemiBold";
  text-align: center;
  margin-top: 2px;
}
.selettore-orario label {
  align-items: center;
  font-family: "TitilliumWeb-SemiBold";
}

.selettore-dataset a,
.selettore-multimodel p {
  color: #fff;
  text-transform: uppercase;
  font-family: "TitilliumWeb-SemiBold";
  font-size: 9px;
  margin-top: 1px;
  margin-left: 10px;
  height: 15px;
}

.dataset {
  margin-top: 10x !important;
}

.selettore-multimodel {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  .nav-text {
    margin-left: 0;
  }
  p {
    font-size: 9px;
    align-self: flex-start;
  }
  input {
    position: absolute;
    right: -30px;
    top: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 7px;
    width: 13px !important;
    height: 13px !important;
    border: 2px solid #999;
    transition: 0.2s all linear;
  }

  input[ng-reflect-model="false"] + p {
    visibility: hidden;
  }
}

.selettore-dataset .selected,
.selettore-dataset .selected:hover {
  color: $light-blue;
  border-bottom: 1px solid $light-blue;
  font-family: "TitilliumWeb-SemiBold";
}

.selettore-dataset a:hover {
  border-bottom: 1px solid #fff;
  text-decoration: none;
}
.zoom {
  margin-top: 4px;
}

.plus.isDisabled,
.nav-text.isDisabled,
.minus.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.networks-select {
  background-color: rgba(38, 35, 43, 0.7450980392) !important;
  color: #fff !important;
  border: rgba(38, 35, 43, 0.7450980392) !important;
  margin-top: 8px !important;
  font-size: 12px !important;
  width: 95% !important;
}

.form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e") !important;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
}

/* style form-switch borders */

.wind-switch {
  position: relative !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-check-input:focus ~ .form-check-label::before {
  border-color: $light-blue !important;
  box-shadow: 0 0 0 0.2rem $light-blue !important;
}

.form-check-input:checked ~ .form-check-label::before {
  border-color: $light-blue !important;
  background-color: $light-blue;
}

.form-check-input:active ~ .form-check-label::before {
  background-color: $light-blue;
  border-color: $light-blue !important;
}

.form-check-input:focus:not(:checked) ~ .form-check-label::before {
  border-color: $light-blue !important;
}

.form-check-input-green:not(:disabled):active ~ .form-check-label::before {
  background-color: $light-blue;
  border-color: $light-blue !important;
}

/* clouds switch */
.clouds-switch {
  position: relative !important;

  label {
    left: -23px;
    top: -4px;
  }

  p {
    position: absolute;
    top: 15px;
    left: 0;
  }

  .form-check-input:checked ~ .form-check-label:before {
    border-color: $light-blue !important;
    background-color: $light-blue !important;
  }

  & input[disabled="true"] ~ .form-check-label:before,
  & input:checked[disabled="true"] ~ .form-check-label:before {
    background-color: #797e7e !important;
    border-color: #797e7e !important;
  }
  & input[disabled="true"] ~ .form-check-label:after {
    background-color: #616262 !important;
    border-color: #616262 !important;
  }

  #tccSwitch {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill=-blue'/%3e%3c/svg%3e");

    &:focus {
      fill: $light-blue !important;
      border-color: $light-blue !important;
      box-shadow: none !important;
    }

    &:checked {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
    }
  }

  #tccSwitch[disabled="true"] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='darkgrey'/%3e%3c/svg%3e");
  }
}

/*multimodel switch*/
.collapsed .multi-model .form-switch {
  padding-left: 35px;
  padding-top: 18px;
}

.switch {
  .nav-text {
    margin-left: 8px !important;
  }
  .form-switch {
    .form-check-input {
      background-image: none;
      background-color: transparent !important;
      border-color: transparent !important;
    }
    .form-check-label {
      transform: rotate(90deg) !important;
      margin-top: 41px !important;
      margin-left: -9px;
      position: relative;
      &:before {
        opacity: 0.6;
        left: -40.25px;
        width: 40px;
        height: 20px;
        border-radius: 12.5px;
        background-color: #9c999a !important;
        border-color: #9c999a !important;
        content: "";
        position: absolute;
      }
      &:after {
        background-color: $light-blue;
        border-radius: 2.5rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        top: 1.6px;
        left: calc(-38.25px + 2px);
        width: calc(20px - 4px);
        height: calc(20px - 4px);
        content: "";
        position: absolute;
      }
    }

    .form-check-input:checked ~ .form-check-label::after {
      background-color: $light-blue;
      transform: translateX(16.75px) rotate(270deg) !important;
    }

    & input[disabled="true"] ~ .form-check-label::after,
    & input:checked[disabled="true"] ~ .form-check-label::after {
      background-color: #545555a9 !important;
      background-image: none !important;
    }

    & input[disabled="true"] ~ .custom-control-label::before {
      border-color: #545555a9 !important;
    }
  }
}

/*scrollbar*/

/* Responsive*/

@media screen and (max-width: 1295px) {
  .map-sidenav li .nav-text {
    font-size: 10px !important;
  }
  .selettore-mappa {
    margin-top: 13px;
    margin-bottom: 0;
  }

  .selettore-carte label {
    font-size: 7px !important;
    margin-right: 18px;
  }
  .t2m,
  .prs,
  .rh,
  .prp,
  .sf,
  .cc,
  .input,
  .plus,
  .minus,
  .carte,
  .tpperc,
  .tpprob, .network, .download_button, .info, .question {
    margin-top: 5px;
    padding: 10px;
    width: 22px;
    height: 22px;
    margin-left: 5px;
  }
}
@media screen and (max-width: 900px) {
  .map-sidenav {
    width: 200px;

    .selettore {
      margin-top:28px;
    }

    .map-sidenav-menu .toggle {
      margin-left: 134px;
    }
    .map-sidenav-menu.collapsed .toggle{
      margin-left: 4px !important;

        }
    .t2m, 
    .prs, 
    .rh, .prp,
     .sf,
     .cc,
     .input,
     .plus,
     .minus,
     .carte,
     .tpperc,
     .tpprob, .network, .download_button, .info, .question
    {
    margin-top: 5px;
    padding: 9px;
    width: 18px;
    height: 18px;
    margin-left: 0 !important; 
    }
  }
  .map-sidenav.collapsed {
    width: 42px !important;

  }
  .nav-text {
    margin-left: 9px !important;
  }
}
@media screen and (max-height: 679px) {
  .map-sidenav {
    .toggle {
      width: 28px !important;
      height: 28px !important;

      &.collapsed {
        margin-left: 5px !important;
      }
    }

  }
  .selector {
    overflow-y: scroll !important;
    scrollbar-width: thin;
    scrollbar-color: $light-blue rgba(56, 56, 56, 0.473);

    &::-webkit-scrollbar {
      width: 7px;
    }
  }

  .selector::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: rgba(56, 56, 56, 0.473);
  }

  .selector::-webkit-scrollbar-thumb {
    background: $light-blue;
    border-radius: 20px;
  }

  .collapsed .selector {
    overflow-y: hidden !important;
  }

  .collapsed .selector::-webkit-scrollbar-track {
    display: none;
  }

  .collapsed .selector::-webkit-scrollbar-thumb {
    display: none;
  }

  .t2m,
  .prs,
  .rh,
  .prp,
  .sf,
  .cc,
  .input,
  .plus,
  .minus,
  .carte,
  .tpperc,
  .tpprob, .download_button, .networks, .info, .question {
    margin-top: 4px;
    padding: 9px;
    width: 18px;
    height: 18px;
    margin-left: 3px;
  }

  
}

.info {
  margin-top: 4px;
  color: white;
  border-radius: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.realtime-info {
  a:hover .nav-text{
    text-decoration: none !important;
    border-bottom: 0 !important;
  }
.nav-text {
  font-family: "TitilliumWeb-Regular";
  text-transform: none !important;
  }
}
.mapincomplete .nav-text {
  font-family: "TitilliumWeb-Regular";
  font-weight: 400;
  text-transform: none !important;
  text-decoration: underline;
}

.sidenav-item.networks-item a span.nav-text {
  text-decoration: none !important;
}

.sidenav-item.networks-item a:hover span.nav-text {
  text-decoration: none !important;
}

// to style the wind switch button of the observation map
.wind-switch {
  margin-bottom: -0.5rem;
  font-family: "TitilliumWeb-Regular";
}

//style for warning for download precipitation data
.warning-text {
  width: 100%;
  position: relative;
  margin-left: 7px;
  font-family: "TitilliumWeb-Regular";
  text-align: left;
  font-size: 14px;
}
.disabled-text {
  color: #9b9b9b !important;
}
.link-white {
  text-decoration: underline !important;
  color: #ffffff;
}
.flex-spacer {
  display:flex;
  height: 100%;
  align-items:flex-end;
}
