<nav class="map-sidenav" [class.collapsed]="isCollapsed">
  <div class="map-sidenav-menu">
  <div id="overlay" class="sidenav-overlay"></div>
    <label
      class="toggle"
      (click)="changeCollapse()"
      [class.collapsed]="isCollapsed"
    ></label>

    <ul class="selector" *ngIf="varConfig">
      <!-- Layers -->
      <li
        class="sidenav-item"
        *ngFor="let item of varConfig | keyvalue : valueAscOrder"
      >
        <span
          *ngIf="item.key !== 'snow' || showObsFilter"
          class="{{ item.key }} clickable"
          (click)="toggleLayer($event, item.key)"
          placement="left"
          [ngbTooltip]="tip"
          [disableTooltip]="!isCollapsed"
        ></span>
        <ng-template #tip>
          {{ item.value.label | translate : lang | titlecase }}
        </ng-template>
        <a
          href="#"
          *ngIf="!isCollapsed"
          (click)="toggleLayer($event, item.key)"
        >
          <span
            class="nav-text"
            *ngIf="item.key !== 'snow' || showObsFilter"
            i18n
          >
            {{ item.value.label | translate : lang }}
          </span>
        </a>

        <div
          *ngIf="
            item.key === 'ws10m' && windShow && showObsFilter && !isCollapsed
          "
          class="form-switch wind-switch d-flex mt-1"
        >
          <input
            id="windSwitch"
            type="checkbox"
            class="form-check-input clickable mt-1 ms-0"
            [checked]="windConvert"
            (change)="toggleWindConvert()"
          />
          <label class="form-check-label" for="windSwitch"></label>
          <span class="wind-switch" i18n>{{
            "m/s - km/h" | translate : lang
          }}</span>
        </div>
      </li>
      <div class="last"></div>
       <!-- Network + Quality Control -->
       <li
        class="sidenav-item networks-item"
        *ngIf="showObsFilter && mode == modes.adv"
      >
        <span
          class="networks"
          placement="left"
          [ngbTooltip]="'Networks'"
          [disableTooltip]="!isCollapsed"
        ></span>
        <!--<a *ngIf="!isCollapsed">-->
        <span>
          
          <span *ngIf="!isCollapsed" class="nav-text">Networks</span>
        </span>
        <!--</a>-->
        <select
          *ngIf="!isCollapsed"
          class="form-select networks-select"
          aria-label="Default select example"
          [(ngModel)]="selectedOption"
          (change)="onNetworkChange(selectedOption)"
        >
          <option [ngValue]="null" disabled selected>Select a network</option>
          <option *ngFor="let option of dropdownOptions" [value]="option">
            {{ option }}
          </option>
        </select>
      </li>
        <div class="last"></div>
         <li class="sidenav-item" *ngIf="mode == modes.adv">
        <span
          (click)="download()"
          placement="left"
          [ngClass]="
            this.currentProduct === 'prp'
              ? 'download_button-disabled'
              : 'download_button clickable'
          "
          [ngbTooltip]="'Download data'"
          [disableTooltip]="!isCollapsed || this.currentProduct === 'prp'"
        ></span>
        <ng-template #tip> </ng-template>
        <a *ngIf="!isCollapsed" (click)="download()">
          <span
            class="nav-text"
            [ngClass]="{ 'disabled-text': this.currentProduct === 'prp' }"
            i18n
          >
            DOWNLOAD DATA
          </span>
        </a>
        <div
          class="d-flex align-items-start mt-2"
          *ngIf="this.currentProduct === 'prp' && !isCollapsed"
        >
          <span class="warning-text"
            >Download of precipitation data available at native time resolution
            through
            <a href="/app/data/datasets" class="link-white"> data extraction</a
            >.
          </span>
        </div>
      </li>
      <div class="last"></div>
       <li class="sidenav-item zoom">
        <span
          class="plus clickable"
          [ngClass]="{ isDisabled: zLevel === map.getMaxZoom() }"
          (click)="zoom($event, 'in')"
          placement="left"
          [ngbTooltip]="'Zoom in'"
          [disableTooltip]="!isCollapsed"
        ></span>
        <a href="#" *ngIf="!isCollapsed" (click)="zoom($event, 'in')">
          <span
            class="nav-text"
            [ngClass]="{ isDisabled: zLevel === map.getMaxZoom() }"
            i18n
            >Zoom in</span
          >
        </a>
      </li>

      <li class="sidenav-item">
        <span
          class="minus clickable"
          [ngClass]="{ isDisabled: zLevel === map.getMinZoom() }"
          (click)="zoom($event, 'out')"
          placement="left"
          [ngbTooltip]="'Zoom out'"
          [disableTooltip]="!isCollapsed"
        ></span>
        <a href="#" *ngIf="!isCollapsed" (click)="zoom($event, 'out')">
          <span
            class="nav-text"
            [ngClass]="{ isDisabled: zLevel === map.getMinZoom() }"
            i18n
            >Zoom out</span
          >
        </a>
      </li>
      <div class="last"></div>
       <li class="sidenav-item realtime-info">
        <span
          class="info clickable"
          [ngbTooltip]="
            isCollapsed
              ? ('Real-time data, not validated' | translate : lang)
              : null
          "
          container="body"
        >
          <i class="fas fa-info-circle"></i>
        </span>
        <a *ngIf="!isCollapsed">
          <span class="nav-text">{{
            "Real-time data, not validated" | translate : lang
          }}</span>
        </a>
      </li>
      <div class="last"></div>

<li class="sidenav-item">
        <span
          class="info clickable"
          [ngbTooltip]="
            isCollapsed
              ? ('Given the voluntary nature of participation in the former Mistral project, the map does not show data from every regional network. However, work is ongoing to complete the national framework'
                | translate : lang)
              : null
          "
          container="body"
        >
          <i class="fas fa-question-circle"></i>
        </span>
        <a *ngIf="!isCollapsed">
          <span
            class="nav-text"
            [ngbTooltip]="
              'Given the voluntary nature of participation in the former Mistral project, the map does not show data from every regional network. However, work is ongoing to complete the national framework'
                | translate : lang
            "
            container="body"
          >
            {{ "Why is the map incomplete?" | translate : lang }}
          </span>
        </a>
      </li>    
    </ul>

  
    <!--    <ul class="selector">
      <li class="sidenav-item dropdown" *ngIf="showObsFilter">
        <div class="d-flex align-items-center">
          <button
            type="button"
            class="btn btn-border-classic no-rounded ms-1 d-flex justify-content-center align-items-center"
            style="background-color: transparent; border: none !important; outline: none !important; box-shadow: none !important;"

            (click)="download()"
          >
            &lt;!&ndash;            <i class="fa fa-download"></i>&ndash;&gt;
            <img
              src="/app/custom/assets/images/icons/download_button.png"
              alt="Download"
              style="width: 20px; height: 20px"
            />
          </button>
          <a *ngIf="!isCollapsed" (click)="download()">
            <span class="nav-text ms-2" i18n>DOWNLOAD DATA</span>
          </a>
        </div>
      </li>
    </ul>-->
 

    
    
    <div class="flex-spacer"></div>
    
  </div>
</nav>
