<ngx-spinner
  type="ball-scale-multiple"
  [name]="'filter-spinner'"
  bdColor="rgba(255,255,255,0.8)"
  color="#6c757d"
  [zIndex]="1080"
  [fullScreen]="false"
  size="medium"
>
</ngx-spinner>
<form class="filter" [formGroup]="filterForm" (ngSubmit)="update()">
  <div class="form-group">
    <label for="variable">Variable</label>
    <select id="variable" class="form-control" formControlName="product">
      <option [ngValue]="p.code" *ngFor="let p of allProducts">
        {{ p.desc | titlecase }}
      </option>
    </select>
  </div>
  <!-- Date -->
  <div class="form-group">
    <label for="date">Date</label>
    <div class="input-group">
      <input
        class="form-control"
        id="date"
        placeholder="dd/mm/yyyy"
        formControlName="reftime"
        [maxDate]="maxDate"
        [minDate]="minDate"
        [footerTemplate]="footerTemplate"
        [ngClass]="{ 'is-invalid': filterForm.controls.reftime.invalid }"
        ngbDatepicker
        #d="ngbDatepicker"
      />
      <ng-template #footerTemplate>
        <hr class="my-0" />
        <button
          class="btn btn-primary btn-sm m-2 float-left"
          (click)="filterForm.controls.reftime.setValue(today); d.close()"
        >
          Today
        </button>
        <button
          class="btn btn-secondary btn-sm m-2 float-right"
          (click)="d.close()"
        >
          Close
        </button>
      </ng-template>
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          (click)="d.toggle()"
          type="button"
        >
          <i class="fa fa-calendar"></i>
        </button>
      </div>
    </div>
    <div class="invalid-feedback" *ngIf="filterForm.controls.reftime.invalid">
      Please choose a date.
    </div>
    <div class="space-4"></div>
    <div class="mx-2 mt-4">
      <mv-slider
        id="mst-slider"
        [range]="true"
        [(value)]="rangeValue"
        [min]="minTime"
        [max]="maxTime"
        [step]="1"
        [formatter]="formatter"
        (change)="updateTime($event)"
      ></mv-slider>
    </div>
  </div>
  <!-- Level -->
  <div class="form-group">
    <label for="level">Level</label>
    <select id="level" class="form-control" formControlName="level">
      <!--      <option value="" *ngIf="allLevels && allLevels.length > 0">Any</option>-->
      <option [ngValue]="l.code" *ngFor="let l of allLevels">
        {{ l.desc }}
      </option>
    </select>
  </div>
  <!-- Time range -->
  <div class="form-group">
    <label for="timerange">Time range</label>
    <select id="timerange" class="form-control" formControlName="timerange">
      <!--
      <option value="" *ngIf="allTimeranges && allTimeranges.length > 0"
        >Any</option
      >
      -->
      <option [ngValue]="t.code" *ngFor="let t of allTimeranges">
        {{ t.desc }}
      </option>
    </select>
  </div>
  <!-- Area -->
  <!-- Network -->
  <div class="form-group">
    <label for="network">Network</label>
    <select id="network" class="form-control" formControlName="network">
      <!--      <option value="" *ngIf="allNetworks && allNetworks.length > 0"-->
      <!--        >Any</option-->
      <!--      >-->
      <option value="">Any</option>
      <option [ngValue]="n.code" *ngFor="let n of allNetworks">
        {{ n.desc }}
      </option>
    </select>
  </div>
  <!-- License -->
  <div class="form-group">
    <label for="license">Group of Licenses</label>
    <select id="license" class="form-control" formControlName="license">
      <option [ngValue]="l.code" *ngFor="let l of allLicenses">
        {{ l.desc }}
      </option>
    </select>
  </div>
  <dd>Quality Control Filter</dd>
  <dd>
    <button
      type="button"
      class="btn btn-sm btn-toggle"
      data-toggle="button"
      [ngClass]="{ active: filterForm.value.reliabilityCheck }"
      (click)="toggleReliabilityCheck()"
    >
      <div class="handle"></div>
    </button>
  </dd>

  <div class="text-center mt-4">
    <button
      type="submit"
      class="btn btn-primary no-rounded ml-2"
      [disabled]="filterForm.invalid || !isUpdatable"
    >
      Update Map
    </button>
    <button
      type="button"
      class="btn btn-border-classic no-rounded ml-1"
      [disabled]="!allProducts || allProducts.length === 0"
      (click)="download()"
    >
      <i class="fa fa-download"></i>
    </button>
  </div>
  <p class="text-center text-danger py-2 small" *ngIf="isUpdatable">
    Click the "Update Map" button to apply changes
  </p>
</form>
