.filter label {
  margin-bottom: 0.15rem;
}

.filter .form-group,
.filter .form-row {
  margin-bottom: 0.5rem;
}

.filter select option[value=""] {
  color: #ccc !important;
}

select {
  font-family:"Montserrat-semibold";
}

option {
 font-family:"Montserrat-regular",'Segoe UI', sans-serif;
 font-weight:600;
}
