.light-blue{
  color: #157ACC; 
 } 
 .dark-blue{
  color:  #004080;
 }
 .filter {
  label {
    margin-bottom: 0.15rem;
  }
  .form-group,
  .form-row {
    margin-bottom: 0.5rem;
  }

  select {
    font-family: "TitilliumWeb-Regular";
    option {
      font-family: "TitilliumWeb-Regular", "Segoe UI", sans-serif;
      font-weight: 600;
      &[value=""] {
        color: #ccc !important;
      }
    }
  }
} 

