<div class="background-container w-100 h-100">
    <div class="form-area">
        <div class="container">
            <div class="row single-form g-0">
                <div class="col-sm-12 col-lg-6">
                    <div class="left">
                        <h2><span>Hai problemi tecnici?</span></h2>
                        <p class="text-white">Non esitare a scrivici a <b><a href="mailto:meteohub-support@cineca.it" class="text-white fw-bold">metheohub-support@cineca.it</a></b></p>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <div class="right">
                    <h2><span>Vuoi rimanere aggiornato?</span></h2>
                    <p> Iscriviti alla nostra newsletter!</p>
                        <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Nome</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label"> Indirizzo Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <button type="submit" class="btn btn-primary button">Iscriviti</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
