error_page 503 /maintenance.html;
location = /maintenance.html {
  alias /usr/share/nginx/html/maintenance.html;
  include /etc/nginx/sites-enabled/security-headers;
}


# Optional: Add Retry-After header
# add_header Retry-After 3600;


# icon 2i dataset id is different from the url used since version 0.4.16
# this workaround is in order not to change the url already in production
# TODO change the icon2i nwp production url to get rid of this workaround?

location /nwp/ICON_2I_SURFACE_PRESSURE_LEVELS {
  return 301 /nwp/ICON-2I_SURFACE_PRESSURE_LEVELS;
}

location /nwp {
   alias /nwp/;
   autoindex on;
}

location /nwp/ICON-2I_SURFACE_PRESSURE_LEVELS {
   alias /nwp/ICON-2I_SURFACE_PRESSURE_LEVELS/;
   autoindex on;
}

location /nwp/SEASONAL {
   alias /nwp/SEASONAL/;
   autoindex on;
}

location = /catalog.rdf {
    alias /catalog/catalog.rdf;
    default_type application/rdf+xml;
}

location /cms/ {
  gzip on;
  gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;
  gzip_proxied any;
  gzip_vary on;
  if (-f /etc/nginx/maintenance.flag.ui) {
    return 503;
  }
  set $strapi "http://strapi:1337";
  rewrite ^/cms/(.+) /$1 break;
  proxy_pass $strapi;
  proxy_http_version 1.1;
  proxy_set_header X-Forwarded-Host $host;
  proxy_set_header X-Forwarded-Server $host;
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header X-Forwarded-Proto $scheme;
  proxy_set_header Host $http_host;
  proxy_set_header Upgrade $http_upgrade;
  proxy_set_header Connection "Upgrade";
  proxy_pass_request_headers on;
  return 200 "OK";
}

location /ui/ {
  gzip on;
  gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;
  gzip_proxied any;
  gzip_vary on;
  if (-f /etc/nginx/maintenance.flag.ui) {
    return 503;
  }
  set $ui "http://ui:4200";
  proxy_pass $ui;
  proxy_http_version 1.1;
  # proxy_set_header X-Forwarded-Host $host;
  # proxy_set_header X-Forwarded-Server $host;
  # proxy_set_header X-Real-IP $remote_addr;
  # proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  # proxy_set_header X-Forwarded-Proto $scheme;
  # proxy_set_header Host $http_host;
  # proxy_set_header Upgrade $http_upgrade;
  # proxy_set_header Connection "Upgrade";
  # proxy_pass_request_headers on;
}

location /newsletter/ {
    proxy_pass https://list.cineca.it/cgi-bin/mailman/;
    proxy_set_header Host list.cineca.it;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
}
