<nav class="map-sidenav" [class.collapsed]="isCollapsed">
  <div id="overlay" class="sidenav-overlay"></div>
  <div class="map-sidenav-menu">
    <!-- partial collapse -->
    <label
      class="toggle"
      (click)="changeCollapse()"
      [class.collapsed]="isCollapsed"
    ></label>
    <ul class="selector">
      <li class="sidenav-item" *ngIf="varConfig.hasOwnProperty('sri')">
        <span
          class="sri clickable"
          (click)="toggleLayer($event, 'sri')"
          placement="left"
          [ngbTooltip]="tipSri"
          [disableTooltip]="!isCollapsed"
        ></span>
        <ng-template #tipSri
          >{{ "Surface rainfall intensity" | translate : lang | titlecase }}
        </ng-template>
        <a href="#" *ngIf="!isCollapsed" (click)="toggleLayer($event, 'sri')">
          <span class="nav-text" i18n>
            {{ "SRI" }}
          </span>
        </a>
      </li>
      <li class="sidenav-item last" *ngIf="varConfig.hasOwnProperty('srt_adj')">
        <div class="d-flex flex-row w-100 align-items-center">
          <span
            class="srt_adj clickable"
            (click)="toggleLayer($event, 'srt_adj')"
            placement="left"
            [ngbTooltip]="tipSrt_adj"
            [disableTooltip]="!isCollapsed"
          ></span>
          <ng-template #tipSrt_adj
            >{{ "Surface Rainfall Total " | translate : lang | titlecase }}
          </ng-template>
          <a
            *ngIf="!isCollapsed"
            href="#"
            (click)="toggleLayer($event, 'srt_adj')"
          >
            <span class="nav-text" i18n>{{ "SRT" }}</span>
          </a>
        </div>
        <div *ngIf="!isCollapsed" class="selettore-orario">
          <ng-container *ngFor="let h of subLevels['srt_adj']; let last = last">
            <label *ngIf="varConfig['srt_adj'].includes(h.value)">
              <input
                type="radio"
                name="precipitation"
                class="clickable"
                [value]="h.value"
                [checked]="h.checked"
                (change)="toggleLayer($event, 'srt_adj')"
              />
              {{ h.value + "h" }}
            </label>
          </ng-container>
        </div>
      </li>
      <!-- base layer map selector -->
      <li class="sidenav-item last selettore-carte" *ngIf="mode == modes.adv">
        <span class="carte"></span>
        <ng-container *ngIf="!isCollapsed">
          <a href="#">
            <span class="nav-text">{{ "Map Style" | translate : lang }}</span>
          </a>
          <div class="selettore-mappa">
            <label *ngFor="let baseLayer of baseLayers | keyvalue">
              <input
                type="radio"
                class="clickable"
                name="baseMap"
                [(ngModel)]="selectedBaseLayer"
                [value]="baseLayer.key"
                (change)="changeBaseLayer(baseLayer.key)"
              />
              {{ baseLayer.key }}
            </label>
          </div>
        </ng-container>
      </li>
      <!-- zoom-in -->
      <li class="sidenav-item zoom" *ngIf="mode == modes.adv">
        <span
          class="plus clickable"
          [ngClass]="{ isDisabled: zLevel === map.getMaxZoom() }"
          (click)="zoom($event, 'in')"
          placement="left"
          [ngbTooltip]="'Zoom in'"
          [disableTooltip]="!isCollapsed"
        ></span>
        <a href="#" *ngIf="!isCollapsed" (click)="zoom($event, 'in')">
          <span
            class="nav-text"
            [ngClass]="{ isDisabled: zLevel === map.getMaxZoom() }"
            i18n
            >Zoom in</span
          >
        </a>
      </li>
      <!-- zoom-out -->
      <li class="sidenav-item last" *ngIf="mode == modes.adv">
        <span
          class="minus clickable"
          [ngClass]="{ isDisabled: zLevel === map.getMinZoom() }"
          (click)="zoom($event, 'out')"
          placement="left"
          [ngbTooltip]="'Zoom out'"
          [disableTooltip]="!isCollapsed"
        ></span>
        <a href="#" *ngIf="!isCollapsed" (click)="zoom($event, 'out')">
          <span
            class="nav-text"
            [ngClass]="{ isDisabled: zLevel === map.getMinZoom() }"
            i18n
            >Zoom out</span
          >
        </a>
      </li>
      <div class="last"></div>
      <li class="sidenav-item realtime-info">
        <span
          class="info clickable"
          [ngbTooltip]="
            isCollapsed
              ? ('To customize the loop range, simply move the blue sliders on the timeline'
                | translate : lang)
              : null
          "
          container="body"
        >
        </span>
        <a *ngIf="!isCollapsed">
          <span class="nav-text">{{
            "To customize the loop range, simply move the blue sliders on the timeline"
              | translate : lang
          }}</span>
        </a>
      </li>
      <div class="last"></div>
    </ul>
  </div>
</nav>
