<nav class="map-sidenav" [class.collapsed]="isCollapsed">
  <div class="map-sidenav-menu">
    <!-- partial collapse -->
    <label
      class="toggle"
      (click)="isCollapsed = !isCollapsed"
      [class.collapsed]="isCollapsed"
    ></label>
    <ul class="selector">
      <ng-container *ngIf="dataset === 'iff'; then iff; else cosmo">
      </ng-container>
      <ng-template #iff>
        <li class="sidenav-item">
          <span
            class="tpperc clickable"
            (click)="toggleLayer($event, 'tpperc')"
            placement="left"
            [ngbTooltip]="'Precipitation percentile'"
            [disableTooltip]="!isCollapsed"
          ></span>
          <ng-container *ngIf="!isCollapsed">
            <a href="#" (click)="toggleLayer($event, 'tpperc')">
              <span class="nav-text">Precipitation percentile</span>
            </a>
            <span class="nav-sub-text">(mm)</span>
            <div class="selettore-percentile">
              <label *ngFor="let p of subLevelsMap['tpperc']">
                <input
                  type="radio"
                  name="iff_percentile"
                  [(ngModel)]="selectedMap['tpperc']"
                  [attr.disabled]="isLayerActive('tpperc') ? null : true"
                  [value]="p.value"
                  (change)="changeSubLevel($event, p, 'tpperc')"
                />
                {{ p.value }}
              </label>
            </div>
          </ng-container>
        </li>
        <li class="sidenav-item last">
          <span
            class="tpprob clickable"
            (click)="toggleLayer($event, 'tpprob')"
            placement="left"
            [ngbTooltip]="'Precipitation probability'"
            [disableTooltip]="!isCollapsed"
          ></span>
          <ng-container *ngIf="!isCollapsed">
            <a href="#" (click)="toggleLayer($event, 'tpprob')">
              <span class="nav-text">Precipitation probability</span>
            </a>
            <span class="nav-sub-text">(%)</span>
            <div class="selettore-probabilita">
              <label *ngFor="let p of subLevelsMap['tpprob']">
                <input
                  type="radio"
                  name="iff_probability"
                  [(ngModel)]="selectedMap['tpprob']"
                  [attr.disabled]="isLayerActive('tpprob') ? null : true"
                  [value]="p.value"
                  (change)="changeSubLevel($event, p, 'tpprob')"
                />
                {{ p.value }}
              </label>
            </div>
          </ng-container>
        </li>
      </ng-template>
      <ng-template #cosmo>
        <li class="sidenav-item">
          <span
            class="t2m clickable"
            (click)="toggleLayer($event, 't2m')"
            placement="left"
            [ngbTooltip]="'Temperature'"
            [disableTooltip]="!isCollapsed"
          ></span>
          <a href="#" *ngIf="!isCollapsed" (click)="toggleLayer($event, 't2m')">
            <span class="nav-text">Temperature</span>
          </a>
        </li>
        <li class="sidenav-item">
          <span
            class="prs clickable"
            (click)="toggleLayer($event, 'prs')"
            placement="left"
            [ngbTooltip]="'Pressure'"
            [disableTooltip]="!isCollapsed"
          ></span>
          <a href="#" *ngIf="!isCollapsed" (click)="toggleLayer($event, 'prs')">
            <span class="nav-text">Pressure</span>
          </a>
        </li>
        <li class="sidenav-item">
          <span
            class="rh clickable"
            (click)="toggleLayer($event, 'rh')"
            placement="left"
            [ngbTooltip]="'Relative humidity'"
            [disableTooltip]="!isCollapsed"
          ></span>
          <a href="#" *ngIf="!isCollapsed" (click)="toggleLayer($event, 'rh')">
            <span class="nav-text">Relative humidity</span>
          </a>
        </li>
        <li class="sidenav-item">
          <span
            class="prp clickable"
            (click)="toggleLayer($event, 'prp')"
            placement="left"
            [ngbTooltip]="'Precipitation'"
            [disableTooltip]="!isCollapsed"
          ></span>
          <ng-container *ngIf="!isCollapsed">
            <a href="#" (click)="toggleLayer($event, 'prp')">
              <span class="nav-text">precipitation</span>
            </a>
            <div class="selettore-orario">
              <div class="progressbar">
                <label *ngFor="let h of subLevelsMap['prp']; let last = last">
                  <input
                    type="radio"
                    name="precipitation"
                    [(ngModel)]="selectedMap['prp']"
                    [attr.disabled]="isLayerActive('prp') ? null : true"
                    [value]="h.value"
                    (change)="changeSubLevel($event, h, 'prp')"
                  />
                  {{ h.value + "h" }}
                </label>
              </div>
            </div>
          </ng-container>
        </li>
        <li class="sidenav-item">
          <span
            class="sf clickable"
            (click)="toggleLayer($event, 'sf')"
            placement="left"
            [ngbTooltip]="'Snow Fall'"
            [disableTooltip]="!isCollapsed"
          ></span>
          <ng-container *ngIf="!isCollapsed">
            <a href="#" (click)="toggleLayer($event, 'sf')">
              <span class="nav-text">Snow Fall</span>
            </a>
            <div class="selettore-orario">
              <div class="progressbar">
                <label *ngFor="let h of subLevelsMap['sf']; let last = last">
                  <input
                    type="radio"
                    name="snow"
                    [(ngModel)]="selectedMap['sf']"
                    [attr.disabled]="isLayerActive('sf') ? null : true"
                    [value]="h.value"
                    (change)="changeSubLevel($event, h, 'sf')"
                  />
                  {{ h.value + "h" }}
                </label>
              </div>
            </div>
          </ng-container>
        </li>
        <li class="sidenav-item last">
          <span
            class="cc clickable"
            (click)="toggleLayer($event, 'cc')"
            placement="left"
            [ngbTooltip]="'Clouds'"
            [disableTooltip]="!isCollapsed"
          ></span>
          <ng-container *ngIf="!isCollapsed">
            <a href="#" (click)="toggleLayer($event, 'cc')">
              <span class="nav-text">Clouds</span>
            </a>
            <div class="selettore-clouds">
              <label *ngFor="let lvl of subLevelsMap['cc']">
                <input
                  type="radio"
                  name="cloud"
                  [(ngModel)]="selectedMap['cc']"
                  [attr.disabled]="isLayerActive('cc') ? null : true"
                  [value]="lvl.value"
                  (change)="changeSubLevel($event, lvl, 'cc')"
                />
                {{ lvl.value }}
              </label>
            </div>
          </ng-container>
        </li>
      </ng-template>
      <li class="sidenav-item">
        <span class="input"></span>
        <ng-container *ngIf="!isCollapsed">
          <a href="#" click-stop-propagation class="dataset">
            <span class="nav-text">Selected dataset</span>
          </a>
          <div class="selettore-dataset">
            <ng-container *ngFor="let ds of availableDatasets">
              <a
                id="{{ ds.code }}"
                href="#"
                (click)="changeDataset($event, ds.code)"
                [ngClass]="{ selected: dataset === ds.code }"
                >{{ ds.desc }}</a
              >
            </ng-container>
          </div>
        </ng-container>
      </li>
      <li class="sidenav-item last multi-model">
        <div class="custom-control custom-switch">
          <input
            type="checkbox"
            class="custom-control-input"
            [checked]="mmProductSwitch"
            [attr.disabled]="isShowedMultiModel ? null : true"
            (change)="switchMMProduct()"
            id="mmSwitch"
          />
          <label class="custom-control-label" for="mmSwitch"></label>
        </div>
        <div class="selettore-multimodel" *ngIf="!isCollapsed">
          <a href="#" click-stop-propagation>
            <span class="nav-text">Multi-model ensemble</span>
          </a>
          <input
            id="show-mm-ensemble"
            type="checkbox"
            class="clickable"
            [ngClass]="{ active: isShowedMultiModel }"
            [(ngModel)]="isShowedMultiModel"
            (click)="toggleMultiModel()"
          />
          <p>
            Selected: <span></span
            >{{ MultiModelProductLabel.get(this.mmProduct) }}
          </p>
        </div>
      </li>
      <li class="sidenav-item">
        <span
          class="plus clickable"
          (click)="zoom($event, 'in')"
          placement="left"
          [ngbTooltip]="'Zoom in'"
          [disableTooltip]="!isCollapsed"
        ></span>
        <a href="#" *ngIf="!isCollapsed" (click)="zoom($event, 'in')">
          <span class="nav-text">Zoom in</span>
        </a>
      </li>
      <li class="sidenav-item last">
        <span
          class="minus clickable"
          (click)="zoom($event, 'out')"
          placement="left"
          [ngbTooltip]="'Zoom out'"
          [disableTooltip]="!isCollapsed"
        ></span>
        <a href="#" *ngIf="!isCollapsed" (click)="zoom($event, 'out')">
          <span class="nav-text">Zoom out</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
