name: Tests

env:
  PROJECT: mistral

on:
  push:
  schedule:
    - cron: "0 5 * * *"

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - uses: rapydo/actions/install@v1
        with:
          project: ${PROJECT}

      - name: Install backend and datasets
        run: |

          wget --quiet ${{ secrets.DATASET_URL }}/arkimet.conf -O data/arkimet_conf/arkimet.conf;
          wget --quiet ${{ secrets.DATASET_URL }}/arkimet_summary.json -O data/arkimet_conf/arkimet_summary_filtered.json;
          wget --quiet ${{ secrets.DATASET_URL }}/dballe_summary_filtered.json -O data/arkimet_conf/dballe_summary_filtered.json;
          wget --quiet ${{ secrets.DATASET_URL }}/sample.bufr -O data/arkimet_conf/sample.bufr;
          wget --quiet ${{ secrets.DATASET_URL }}/arkimet.zip;
          unzip -q arkimet.zip -d data/;
          ls -l data/arkimet;
          ls -l data/arkimet_conf;

          export CYPRESS_PROJECT_ID=${{ secrets.CYPRESS_PROJECT_ID }}
          export CYPRESS_RECORD_KEY=${{ secrets.CYPRESS_RECORD_KEY }}

          # Extra variables needed by Cypress
          export COMMIT_INFO_BRANCH="$(git rev-parse --abbrev-ref HEAD)"
          export COMMIT_INFO_MESSAGE="$(git show -s --pretty=%B)"
          export COMMIT_INFO_SUBJECT="$(git show -s --pretty=%s)"
          export COMMIT_INFO_BODY="$(git show -s --pretty=%b)"
          export COMMIT_INFO_EMAIL="$(git show -s --pretty=%ae)"
          export COMMIT_INFO_AUTHOR="$(git show -s --pretty=%an)"
          export COMMIT_INFO_SHA="$(git show -s --pretty=%H)"
          export COMMIT_INFO_TIMESTAMP="$(git show -s --pretty=%ct)"
          export COMMIT_INFO_REMOTE="$(git config --get remote.origin.url)"
          export CYPRESS_GROUP="$(git show -s --pretty=%H)"

          rapydo pull;
          rapydo build --force;
          rapydo add task test_task;
          rapydo start;
          rapydo shell --no-tty backend 'restapi wait';

          echo "dbadb wipe --dsn=postgresql://\$ALCHEMY_USER:\$ALCHEMY_PASSWORD@\$ALCHEMY_HOST:\$ALCHEMY_PORT/DBALLE" > init.sh;
          echo "dbadb import --dsn=postgresql://\$ALCHEMY_USER:\$ALCHEMY_PASSWORD@\$ALCHEMY_HOST:\$ALCHEMY_PORT/DBALLE --type=bufr /arkimet/config/sample.bufr" >> init.sh;
          docker cp init.sh ${PROJECT}_backend_1:/tmp/init.sh;
          rapydo shell --no-tty backend 'bash /tmp/init.sh';

      - name: Run Cypress
        run: |
          sleep 20
          rapydo logs
          rapydo shell --no-tty backend --detach "restapi launch"
          rapydo -s frontend logs
          rapydo shell --no-tty frontend "yarn install"
          rapydo shell --no-tty frontend "reload-types"
          rapydo shell --no-tty frontend "yarn run cypress:start"
